﻿<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Icons.Master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Media.Icons.IconsMaster" %>

<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>

<asp:Content ID="IconsContent" ContentPlaceHolderID="body" runat="server">
	<Scensum:ToolBoxPanel ID="IconsToolBoxPanel" runat="server" Text="<%$ Resources:Media, Literal_Icons %>" ShowSeparator="true">
		<div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px; padding-top: 10px; padding-left: 15px;">
			<%= Resources.General.Literal_Create%>
		</div>

		<div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
			<uc:ImageLinkButton ID="CreateIconButton" runat="server" Text="<%$ Resources:Media, Literal_Icon %>" ImageUrl="~/Media/Images/Media/icon.gif" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
		</div>
	</Scensum:ToolBoxPanel>

	<div style="float: left; width:984px; margin-bottom:-10px;">
		<asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
	</div>

	<asp:ContentPlaceHolder ID="IconsPlaceHolder" runat="server" />
</asp:Content>