﻿<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="BrandMaster.Master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Assortment.Brands.BrandMaster" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>

<asp:Content ID="BrandContent" ContentPlaceHolderID="body" runat="server">
    <Scensum:ToolBoxPanel ID="BrandToolBoxPanel" runat="server" ShowSeparator="true">
       
          <asp:Panel runat="server" ID="SearchPanel" DefaultButton="SearchButton">
            <div class="item" style="width: 50px; color: #CBCBCB; float: left; padding-bottom: 8px;
            padding-top: 10px; padding-left: 15px;">
            <%= Resources.General.Literal_Create%>
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
            <uc:ImageLinkButton ID="CreateBrandButton" runat="server" Text="<%$ Resources:Product, Literal_Brand %>" 
				ImageUrl="~/Media/Images/Assortment/add-product-image.png" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
       
         <div class="fontSearch"; style="padding-bottom:8px; padding-right:5px; padding-top: 10px;float:left; ">
                <span style="float:left; font-size:16px; padding-right:35px;padding-left:15px; "> <%= Resources.General.Literal_Search %></span>
                <asp:TextBox ID="SearchTextBox" runat="server" Style="float: left;" />
                 </div>
               <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="SearchButton" runat="server" Text="<%$ Resources:General, Button_Find %>" 
                SkinID="HeaderPanelButton"  UseSubmitBehaviour="false" />
            </div>
        </asp:Panel>
    </Scensum:ToolBoxPanel>
    
    <div class="brand-panel-messages">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />     		
    </div>
    <div class="brand-place-holder">
        <asp:ContentPlaceHolder ID="BrandPlaceHolder" runat="server" />
    </div>
</asp:Content>