<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" AutoEventWireup="false" CodeBehind="Categories.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Assortment.Categories.Categories" %>
<%@ Register assembly="Litium.Scensum.Web.Controls" namespace="Litium.Scensum.Web.Controls.Tree.TemplatedTree" tagprefix="TemplatedTreeView" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>

<asp:Content ID="CategoriesContent" ContentPlaceHolderID="body" runat="server">
	<script type="text/javascript">
		function HideRootExpander(treeId) {
			if (null != treeId) {
				$('span#' + treeId).find('div.tree-item-cell-expand:first').hide();
				RootNotSelect();
			}
		}
		function RootNotSelect() {
			$('div.tree-item-cell-main a:first').removeAttr("href");
		}
	</script>
	
	<Scensum:ToolBoxPanel ID="CategoriesToolBoxPanel" runat="server" Text="<%$ Resources:Product,Literal_Category %>" ShowSeparator="false"></Scensum:ToolBoxPanel>
	<div>
		<asp:UpdatePanel ID="LeftUpdatePanel" runat="server" UpdateMode="Conditional">
			<ContentTemplate>
				<div id="categories-folder-list">
					<TemplatedTreeView:TemplatedTreeView ID="CategoriesTree" runat="server" DisplayTextControl="TitleButton"
						UseRootNode="true" NodeExpanderHiddenCssClass="tree-item-expander-hidden" NodeImgCssClass="tree-node-img"
						MainContainerCssClass="treeview-main-container" NodeChildContainerCssClass="treeview-node-child"
						NodeExpandCollapseControlCssClass="tree-icon" NodeMainContainerCssClass="treeview-node"
						NodeParentContainerCssClass="treeview-node-parent" NodeExpandedImageUrl="~/Media/Images/Tree/tree-collapse.png"
						NodeCollapsedImageUrl="~/Media/Images/Tree/tree-expand.png"
						NodeSelectedCssClass="treeview-node-selected" Width="250px">
						<HeaderTemplate>

						</HeaderTemplate>
						<NodeTemplate>
							<div class="tree-item-cell-expand">
								<img src="<%=ResolveUrl("~/Media/Images/Tree/tree-expand.png") %>" alt="" class="tree-icon" />
								<asp:Button ID="Expander" runat="server" CommandName="Expand" CssClass="tree-item-expander-hidden"/>
							</div>
							<div class="tree-item-cell-main" style="max-width:178px;">
								<img src="<%=ResolveUrl("~/Media/Images/Assortment/category_img.png") %>" alt="" class="tree-node-img" height="16px" />
								<asp:LinkButton runat="server" ID="TitleButton" CommandName="Navigate"></asp:LinkButton></div>
							<br />
						</NodeTemplate>
					</TemplatedTreeView:TemplatedTreeView>
					<br />
				</div>
			</ContentTemplate>
		</asp:UpdatePanel>
		<div style="float: left; width:750px; margin-bottom:-10px">
			<asp:ContentPlaceHolder ID="MessageContainer" runat="server" />
		</div>
		<div id="categories-folder-content">
			<asp:ContentPlaceHolder ID="CategoriesContentPlaceHolder" runat="server" />
		</div>
	</div>
</asp:Content>
