<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Customers.master.cs"
    Inherits="Litium.Scensum.BackOffice.Modules.Customers.CustomerSearch.Customers" %>

<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<asp:Content ID="customerContent" ContentPlaceHolderID="body" runat="server">
    <Scensum:ToolBoxPanel ID="VariationPanel" runat="server" Text="<%$ Resources:Customer, Literal_ToolBoxPanel %>" style="float:left">
    </Scensum:ToolBoxPanel>
     
     <asp:ContentPlaceHolder ID="CustomerPlaceHolder" runat="server" />
</asp:Content>
