<%@ Page Language="C#" MasterPageFile="~/Modules/SiteStructure/Pages/Pages.Master"  CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.SiteStructure.Pages.Default" %>

<asp:Content ID="BuildTabContent" ContentPlaceHolderID="SiteStructureForm" runat="server">	
</asp:Content>
