<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Pages.master.cs"
    Inherits="Litium.Scensum.BackOffice.Modules.SiteStructure.Pages.Pages" %>

<%@ Register Assembly="Litium.Scensum.Web.Controls" Namespace="Litium.Scensum.Web.Controls.Tree.TemplatedTree.SiteStructure"
    TagPrefix="TemplatedTreeView" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<asp:Content ID="siteStructureContent" ContentPlaceHolderID="body" runat="server">
<link href="../../../Media/Css/ContextMenu3.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function PrepareRootMenu(treeId) {
        	if (null != treeId) $('span#' + treeId).find('img.tree-menu-caller').click(function() {
        		ShowHideNonRootSubMenu(this);        		
        	});
        }

        function ShowHideNonRootSubMenu(obj) {
        	if (FindNodeKeyU(obj) < 0) {
        		$('div#menu-container').attr('id', 'menu-container-root');
        		$('div#menu-container-root').attr('class', 'menu-container-root');
        		$('div#menu-shadow').attr('id', 'menu-shadow-root');
        		$('div#menu-shadow-root').attr('class', 'menu-shadow-root');
        		$('div.menu-non-root-container').hide();
        		$('div.menu-root-container').show();
            }
            else {
            	$('div#menu-container-root').attr('id', 'menu-container');
            	$('div#menu-shadow-root').attr('id', 'menu-shadow');
            	$('div.menu-non-root-container').show();
            	$('div.menu-root-container').hide();
            }
        }

        function AdjustTemplateList(select) {
        	if (select.find('option:selected').val() == '') {
        		select.css('color', '#999999');
        		select.find('option:not(:selected)').css('color', '#000000');
        	}
        	else {
        		select.css('color', '#000000');
        	}
        }

        $(function() {
        	var select = $("select[id*='TemplateList']");
        	AdjustTemplateList(select);
        	select.change(function() {
        		AdjustTemplateList($(this));
        	});
        })

        $(function () {
        	var select = $("select[id*='EsalesModelList']");
        	AdjustTemplateList(select);
        	select.change(function () {
        		AdjustTemplateList($(this));
        	});
        })

    </script>   
    <link href='<%=ResolveUrl("~/Media/Css/ss-tree.css")%>' rel="stylesheet" type="text/css" />     
    <Scensum:ToolBoxPanel ID="PagesPanel" runat="server" Text="<%$ Resources:SiteStructure, Literal_SiteStructure%>" ShowSeparator="true">
        <div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px;
            padding-top: 10px; padding-left: 15px;">
            <%= Resources.General.Literal_Create %></div>     
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; padding-right:5px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreatePageButton" runat="server" Text="<%$ Resources:SiteStructure, Button_CreatePage %>" ImageUrl="~/Media/Images/SiteStructure/Page.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; padding-right:5px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreatePageFromMasterButton" runat="server" Text="<%$ Resources:SiteStructure, Literal_PageFromMaster %>" ImageUrl="~/Media/Images/SiteStructure/sub-page.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; padding-right:5px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreateMasterPageButton" runat="server" Text="<%$ Resources:SiteStructure, Literal_MasterPage %>" ImageUrl="~/Media/Images/SiteStructure/master.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; padding-right:5px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreateFolderButton" runat="server" Text="<%$ Resources:General, Button_CreateFolder %>" ImageUrl="~/Media/Images/SiteStructure/folder-add.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px;padding-right:5px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreateLinkButton" runat="server" Text="<%$ Resources:SiteStructure, Button_CreateLink %>" ImageUrl="~/Media/Images/SiteStructure/link-add.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px;padding-right:5px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreateShortcutButton" runat="server" Text="<%$ Resources:SiteStructure, Button_CreateShortcut %>" ImageUrl="~/Media/Images/SiteStructure/shortcut-add.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
    </Scensum:ToolBoxPanel>
    <br />
    <div>
        <div id="pages-list">
        <asp:UpdatePanel ID="SortNodesUpdatePanel" runat="server" UpdateMode="Always">
		<ContentTemplate>
            <TemplatedTreeView:SiteStructureTreeView ID="SiteStructureTreeViewControl" runat="server" MainContainerCssClass="treeview-main-container"
                NodeExpanderHiddenCssClass="tree-item-expander-hidden" NodeImgCssClass="ss-node-type"
                NodeChildContainerCssClass="treeview-node-child" NodeExpandCollapseControlCssClass="tree-icon"
                NodeMainContainerCssClass="treeview-node" NodeParentContainerCssClass="treeview-node-parent"
                NodeExpandedImageUrl="~/Media/Images/Tree/tree-collapse.png" NodeCollapsedImageUrl="~/Media/Images/Tree/tree-expand.png"
                MenuCallerElementCssClass="tree-menu-caller" MenuContainerElementId="node-menu"
                FolderImageUrlOnline="~/Media/Images/SiteStructure/folder.png" FolderImageUrlOffline="~/Media/Images/SiteStructure/folder-off.png"
                FolderImageUrlHidden="~/Media/Images/SiteStructure/folder-hid.png" PageImageUrlOnline="~/Media/Images/SiteStructure/page.png"
                PageImageUrlOffline="~/Media/Images/SiteStructure/page-off.png" PageImageUrlHidden="~/Media/Images/SiteStructure/page-hid.png"
                MasterPageImageUrl="~/Media/Images/SiteStructure/master.png" SubPageImageUrlOnline="~/Media/Images/SiteStructure/sub-page.png"
                SubPageImageUrlOffline="~/Media/Images/SiteStructure/sub-page-off.png" SubPageImageUrlHidden="~/Media/Images/SiteStructure/sub-page-hid.png"
                ShortcutImageUrlOnline="~/Media/Images/SiteStructure/shortcut.png" ShortcutImageUrlOffline="~/Media/Images/SiteStructure/shortcut-off.png"
                ShortcutImageUrlHidden="~/Media/Images/SiteStructure/shortcut-hid.png" UrlLinkImageUrlOnline="~/Media/Images/SiteStructure/link.png"
                UrlLinkImageUrlOffline="~/Media/Images/SiteStructure/link-off.png" UrlLinkImageUrlHidden="~/Media/Images/SiteStructure/link-hid.png"
                TypeImageContainerId="img" TypeImageContainerCssClass="ss-node-type" MenuToOnlineContainerId="to-online"
                MenuToOfflineContainerId="to-offline" MenuToHiddenContainerId="to-hidden" MenuContainerElementCssClass="menu-container" MenuContainerRootElementCssClass="menu-container-root"
                MenuContainerShadowElementCssClass="menu-shadow" MenuContainerElementTypeOfPageCssClass="menu-container-typeof-page"
                MenuContainerShadowElementTypeOfPageCssClass="menu-shadow-typeof-page" MenuContainerShadowElementId="menu-shadow"
                MenuPageSpecificContainerId="menu-pages-container" MenuItemsContainerElementId="menu-container"
                NodeNavigationAnchorId="aName" NodeSelectedCssClass="treeview-node-selected" 
                MenuSubPageSpecificContainerId="menu-sub-page" MenuTemplatePageSpecificContainerId="menu-template-page" 
                MenuMasterPageSpecificContainerId="menu-master-page">
                <HeaderTemplate>
                </HeaderTemplate>
                <NodeTemplate>
                    <div class="tree-item-cell-expand">
                        <img src="<%=ResolveUrl("~/Media/Images/Tree/tree-expand.png") %>" alt="" class="tree-icon" />
                        <asp:Button ID="Expander" runat="server" CommandName="Expand" CssClass="tree-item-expander-hidden"/>
                    </div>
                    <div class="tree-item-cell-main">
                        <img runat="server" id="img" class="ss-node-type tree-node-img" />
                        <a runat="server" id="aName"></a>
                    </div>
                    <div class="tree-item-cell-action">
                        <img src="<%=ResolveUrl("~/Media/Images/Tree/tree-item-action.png") %>" alt="" class="tree-menu-caller"
                             onmouseover='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu-over.png") %>";'
                             onmouseout='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu.png") %>";'  /></div>
                    <br />
                </NodeTemplate>
                <MenuTemplate>
                    <div id="node-menu" style="position: absolute; z-index:98;">
                        <div id="menu-shadow" class="menu-shadow">
                        </div>
                        <div id="menu-container" class="menu-container">
                            <div class="menu-header">
                                <%= Resources.SiteStructure.Literal_CreateChild %>
                            </div>
                            <div class="menu-row-separator">
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="CreatePageLink" onserverclick="CreateChildPageClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/page.png") %>" />
                                    <%= Resources.SiteStructure.Literal_Page %></a>
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="CreatePageFromMasterLink" onserverclick="CreateChildPageFromMasterClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/sub-page.png") %>" />
                                    <%= Resources.SiteStructure.Literal_PageFromMaster %></a>
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="CreateMasterPageLink" onserverclick="CreateChildMasterPageClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/master.png") %>" />
                                    <%= Resources.SiteStructure.Literal_MasterPage %></a>
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="CreateFolderLink" onserverclick="CreateChildFolderClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/folder-add.png") %>" />
                                     <%= Resources.SiteStructure.Literal_Folder %></a>
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="CreateLinkLink" onserverclick="CreateChildLinkClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/link-add.png") %>" />
                                     <%= Resources.SiteStructure.Literal_Link %></a>
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="CreateShortcutLink" onserverclick="CreateChildShortcutClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/shortcut-add.png") %>" />
                                     <%= Resources.SiteStructure.Literal_Shortcut %></a>
                            </div>
                            <div class="menu-row-separator">
                            </div>
                            <div class="menu-header">
                                 <%= Resources.General.Literal_Manage%>
                            </div>
                            <div class="menu-row-separator">
                            </div>
                            <div class="menu-row">
                                <a runat="server" id="SortChildrenLink" onserverclick="SortChildrenClick">
                                    <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/sort-child.png") %>" />
                                     <%= Resources.SiteStructure.Literal_SortChildren %></a>
                            </div>
                            <div class="menu-root-container">
								<div class="menu-row">
									<a runat="server" id="SetStartPageLink" onserverclick="SetStartPageClick">
										<img src="<%=ResolveUrl("~/Media/Images/SiteStructure/start-page.gif") %>" />
										 <%= Resources.SiteStructure.Literal_SetStartPage %></a>
								</div>
							</div>
                            <div class="menu-non-root-container">
                                <div class="menu-row">
                                    <a runat="server" id="MoveLink" onserverclick="MoveClick">
                                        <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/move-copy.png") %>" />
                                         <%= Resources.SiteStructure.Literal_Move %></a>
                                </div>
                                <div class="menu-row" id="to-online">
                                    <a runat="server" id="BringOnlineLink" onserverclick="BringOnlineClick">
                                        <img />
                                         <%= Resources.SiteStructure.Literal_BringOnline %></a>
                                </div>
                                <div class="menu-row" id="to-offline">
                                    <a runat="server" id="SetOfflineLink" onserverclick="SetOfflineClick">
                                        <img />
                                         <%= Resources.SiteStructure.Literal_SetOffline %></a>
                                </div>
                                <div class="menu-row" id="to-hidden">
                                    <a runat="server" id="MakeHiddenLink" onserverclick="MakeHiddenClick">
                                        <img />
                                         <%= Resources.SiteStructure.Literal_MakeHidden %></a>
                                </div>
                                <div class="menu-row" id="to-delete">
                                    <a runat="server" id="DeleteLink" onclick="javascript: return DeleteConfirmationContentNode();"
                                        onserverclick="DeleteClick">
                                        <img src="<%=ResolveUrl("~/Media/Images/Common/delete.gif") %>" alt="Delete" />
                                         <%= Resources.General.Literal_Delete %></a>
                                </div>
                            </div>
                            <div id="menu-pages-container" style="visibility: hidden;">
                                <div class="menu-row-separator">
                                </div>
                                <div class="menu-header">
                                     <%= Resources.SiteStructure.Literal_EditPage %>
                                </div>
                                <div class="menu-row-separator">
                                </div>
                                <div class="menu-row">
                                    <a runat="server" id="SeoLink" onserverclick="SeoClick">
                                        <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/seo.png") %>" />
                                         <%= Resources.SiteStructure.Literal_SEO %></a>
                                </div>
                                <div class="menu-row">
                                    <a runat="server" id="PageSettingsLink" onserverclick="PageSettingsClick">
                                        <img src="<%=ResolveUrl("~/Media/Images/SiteStructure/settings.png") %>" />
                                         <%= Resources.SiteStructure.Literal_Settings %></a>
                                </div>
                                
                                <div id="menu-master-page" style="display: none;">
									<div class="menu-row">
										<a runat="server" id="ChangeMasterLayoutLink" onserverclick="ChangeLayoutClick">
											<img src="<%=ResolveUrl("~/Media/Images/SiteStructure/layout.png") %>" />
											 <%= Resources.SiteStructure.Literal_ChangePageTemplate%></a>
									</div>
                                </div>
                                <div id="menu-template-page" style="display: none;">
									<div class="menu-row">
										<a runat="server" id="ChangeLayoutLink" onserverclick="ChangeLayoutClick">
											<img src="<%=ResolveUrl("~/Media/Images/SiteStructure/layout.png") %>" />
											 <%= Resources.SiteStructure.Literal_ChangePageTemplate%></a>
									</div>
									<div class="menu-row">
										<a runat="server" id="UseMasterLink" onserverclick="ChangePageTypeClick">
											<img src="<%=ResolveUrl("~/Media/Images/SiteStructure/use-master.png") %>" />
											 <%= Resources.SiteStructure.Literal_UseMaster%></a>
									</div>
                                </div>
                                <div id="menu-sub-page" style="display: none;">
									<div class="menu-row">
										<a runat="server" id="ChangeMaster" onserverclick="ChangeLayoutClick">
											<img src="<%=ResolveUrl("~/Media/Images/SiteStructure/layout.png") %>" />
											 <%= Resources.SiteStructure.Literal_ChangeMasterPage%></a>
									</div>
									<div class="menu-row">
										<a runat="server" id="UseTemplateLink" onserverclick="ChangePageTypeClick">
											<img src="<%=ResolveUrl("~/Media/Images/SiteStructure/use-template.png") %>" />
											 <%= Resources.SiteStructure.Literal_UseTemplate%></a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </MenuTemplate>
            </TemplatedTreeView:SiteStructureTreeView>
            </ContentTemplate>
            </asp:UpdatePanel>
        </div>
         <div style="float: left; width:732px; margin-bottom:-10px">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
           </div>
        <div id="pages-content">
       
            <asp:Label ID="BreadcrumbLabel" runat="server" CssClass="main-caption" />
            <asp:ContentPlaceHolder ID="SiteStructureForm" runat="server" />
        </div>
    </div>
</asp:Content>
