<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="RelationLists.master.cs"
    Inherits="Litium.Scensum.BackOffice.Modules.Assortment.RelationLists.RelationLists" %>

<%@ Import Namespace="Litium.Scensum.BackOffice" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Litium.Scensum.BackOffice.CommonItems" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<asp:Content ID="RelationListContent" ContentPlaceHolderID="body" runat="server">
    <Scensum:ToolBoxPanel ID="RelationListToolBoxPanel" runat="server" Text="Relation lists" ShowSeparator="true">
        <div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px;
            padding-top: 10px; padding-left: 15px;">
            <%= Resources.General.Literal_Create%></div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em;
            font-weight: normal;">
            <uc:ImageLinkButton ID="CreateRelationListButton" runat="server" Text="<%$ Resources:Product, Button_RelationList %>" ImageUrl="~/Media/Images/Assortment/relation-list.png"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
    </Scensum:ToolBoxPanel>
    <div style="float: left; width:984px; margin-bottom:-10px;">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
         		
           </div>
    <div id="rl-content">
        <asp:ContentPlaceHolder ID="RelationListPlaceHolder" runat="server" />
    </div>
</asp:Content>
