<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Include.Master.cs"
	Inherits="Litium.Scensum.BackOffice.Modules.Interface.Includes.Include" %>

<%@ Register TagPrefix="CustomControls" Namespace="Litium.Scensum.Web.Controls.Tree.TemplatedTree"
	Assembly="Litium.Scensum.Web.Controls" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<asp:Content ID="IncludePlaceHolderContent" ContentPlaceHolderID="body" runat="server">

	<script type='text/javascript' language='javascript'>
		function ConfirmFolderDelete() {
			return DeleteConfirmation('<%= Resources.Interface.Literal_includeFolder %>');
		}
		function CleareErrors(errorsDivId) {
			var errorsDiv = document.getElementById(new String(errorsDivId).concat('_divMessages'));
			if (errorsDiv != null) {
				errorsDiv.style.display = 'none'
			}
		}
		function HideManageMenu(obj) {
			if (FindNodeKeyU(obj) == -1) {
				$('div.menu-hide').attr({ style: 'visibility: hidden;' });
			}
			else {
				$('div.menu-hide').attr({ style: 'visibility: visible;' });
			}
		}    
		function HideRootExpander(treeId) {
			if (null != treeId) {
				$('span#' + treeId).find('div.tree-item-cell-expand:first').hide();
			RootNotSelect();
			}
		}
		function RootNotSelect() {
			$('div.tree-item-cell-main a:first').removeAttr("href");
		}

		function PrepareRootMenu(treeId) {
			if (null != treeId) $('span#' + treeId).find('img.tree-menu-caller').click(function() {
				ShowHideNonRootSubMenu(this);
			});
		}
		function ShowHideNonRootSubMenu(obj) {
			if (FindNodeKeyU(obj) == -1) {
				$('div#menu-container').attr('id', 'menu-container-root');
				$('div#menu-container-root').attr('class', 'menu-container-root');
				$('div#menu-shadow').attr('id', 'menu-shadow-root');
				$('div#menu-shadow-root').attr('class', 'menu-shadow-root');
			}
			else {
				$('div#menu-container-root').attr('id', 'menu-container');
				$('div#menu-container').attr('class', 'menu-container');
				$('div#menu-shadow-root').attr('id', 'menu-shadow');
				$('div#menu-shadow').attr('class', 'menu-shadow');
			}
		}      
	</script>

	 <Scensum:ToolBoxPanel ID="IncludeToolBoxPanel" runat="server" Text="<%$ Resources:Interface,Literal_Includes %>" ShowSeparator="true">
         <div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px;
            padding-top: 10px; padding-left:15px;">
            <%= Resources.General.Literal_Create %></div>
       <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
            <uc:ImageLinkButton Id="CreateFolderButton" runat="server" Text="<%$ Resources:General, Button_CreateFolder %>" 
            ImageUrl="~/Media/Images/Interface/new-folder.gif"
                SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
            
        </div>
         <div style="padding-bottom: 10px; border-right: solid 1px #ffffff; width: 20px; height: 29px;
            float: left;">
            &nbsp</div>
            <asp:Panel runat="server" ID="SearchPanel" DefaultButton="SearchButton">
            <div class="fontSearch"; style="padding-bottom:8px; padding-right:5px; padding-top: 10px;float:left; ">
            
					<span style="float:left; font-size:16px; padding-right:35px;padding-left:15px; "> <%= Resources.General.Literal_Search %></span>
					<asp:TextBox ID="SearchTextBox" runat="server" Style="float: left;" />
					 </div>
				   <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em;
				font-weight: normal;">
				<uc:ImageLinkButton ID="SearchButton" runat="server" Text="<%$ Resources:General,Button_Find %>" 
					SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />               
            </div>
             </asp:Panel>
     
    </Scensum:ToolBoxPanel>
    <br />
	<div>
		<div id="include-folder-list">
			<asp:UpdatePanel ID="LeftUpdatePanel" runat="server" UpdateMode="Conditional">
				<ContentTemplate>
					<CustomControls:TemplatedTreeView runat="server" ID="IncludeTree"
						UseRootNode="true" NodeExpanderHiddenCssClass="tree-item-expander-hidden" NodeImgCssClass="tree-node-img"						
						DisplayTextControl="lbTitle" MainContainerCssClass="treeview-main-container" NodeChildContainerCssClass="treeview-node-child"
						NodeExpandCollapseControlCssClass="tree-icon" NodeMainContainerCssClass="treeview-node"
						NodeParentContainerCssClass="treeview-node-parent" NodeExpandedImageUrl="~/Media/Images/Tree/tree-collapse.png"
						NodeCollapsedImageUrl="~/Media/Images/Tree/tree-expand.png" MenuCallerElementCssClass="tree-menu-caller"
						MenuContainerElementId="node-menu">
						<HeaderTemplate>
						</HeaderTemplate>
						<NodeTemplate>
							<div class="tree-item-cell-expand">
								<img src='<%=ResolveUrl("~/Media/Images/Tree/tree-expand.png") %>' alt="" class="tree-icon" />
								 <asp:Button ID="Expander" runat="server" CommandName="Expand" CssClass="tree-item-expander-hidden"/>
							</div>
							<div class="tree-item-cell-main">
								<img src="<%=ResolveUrl("~/Media/Images/Tree/folder.png") %>" alt="" class="tree-node-img"/>
								<asp:LinkButton runat="server" ID="lbTitle" CommandName="Navigate"></asp:LinkButton>
							</div>
							<div class="tree-item-cell-action">
								<img class="tree-menu-caller" src="<%=ResolveUrl("~/Media/Images/Tree/tree-item-action.png") %>" onclick="HideManageMenu(this);" 
								     onmouseover='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu-over.png") %>";'
                                     onmouseout='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu.png") %>";'  />
                            </div>
							<br />
						</NodeTemplate>
						<MenuTemplate>
							<div id="node-menu" style="position: absolute;">
								<div id="menu-container" class="menu-container">
									<div class="menu-header">
										<%= Resources.Interface.Literal_CreateChild %>
									</div>
									<div class="menu-row-separator">
									</div>
									<div class="menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Interface/new-folder.gif") %>" />
										<asp:LinkButton ID="CreateFolderButton" runat="server" OnClick="LbtCreateFolder_Click" Text = "<%$ Resources:Interface, Button_CreateFolder %>"/>
									</div>
									<div class="menu-hide">
										<div class="menu-row">
											<img src="<%=ResolveUrl("~/Media/Images/Interface/include.png") %>" />
											<asp:LinkButton ID="CreateIncludeButton" runat="server" OnClick="LbtnCreateInclude_Click" Text= "<%$ Resources:Interface, Button_CreateInclude %>"/>
										</div>
										<div class="menu-row-separator">
										</div>
										<div class="menu-header">
											<%= Resources.General.Literal_Manage %>
										</div>
										<div class="menu-row-separator">
										</div>
										<div class="menu-row">
											<img src="<%=ResolveUrl("~/Media/Images/Interface/edit.gif") %>" />
											<asp:LinkButton ID="EditButton" runat="server" OnClick="LbtnEdit_Click" Text = "<%$ Resources:General, Button_MoveEdit %>" />
										</div>
										<div class="menu-row">
											<img src="<%=ResolveUrl("~/Media/Images/Common/delete.gif") %>" />
											<asp:LinkButton ID="DeleteButton" runat="server" OnClientClick="return ConfirmFolderDelete();"
												OnClick="LbtnDelete_Click" Text ="<%$ Resources:General, Button_Delete %>" />
										</div>
									</div>
								</div>
								<div id="menu-shadow" class="menu-shadow">
								</div>
							</div>
						</MenuTemplate>
					</CustomControls:TemplatedTreeView>
				</ContentTemplate>
			</asp:UpdatePanel>
		</div>
		<div style="  float:left; width:753px; margin-bottom:-15px">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
           </div>
		<div id="include-folder-content">
		
			<asp:UpdatePanel ID="BreadcrumbUpdatePanel" runat="server" UpdateMode="Always">
				<ContentTemplate>
					<span class="main-caption"><uc:LiteralEncoded ID="Breadcrumbs" runat="server"></uc:LiteralEncoded></span>
				</ContentTemplate>
			</asp:UpdatePanel>
			<asp:ContentPlaceHolder ID="IncludeContent" runat="server" />
		</div>
	</div>
</asp:Content>
