﻿<%@ Import Namespace="Litium.Scensum.BackOffice.Controller"%>
<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Theme.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Interface.Themes.Theme" %>

<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<asp:Content ID="ThemeContent" ContentPlaceHolderID="body" runat="server">
	
	<Scensum:ToolBoxPanel ID="ThemePanel" runat="server" Text="<%$ Resources:Interface, Literal_Themes %>" ShowSeparator="true" DefaultButton="ThemeCreateButton">
		<div class="fontSearch"; style="padding-bottom:8px; padding-right:5px; padding-top: 10px;float:left; ">
            <span style="float:left; font-size:16px; padding-right:35px;padding-left:15px; "> <%= Resources.General.Literal_Create %></span>
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
			<uc:ImageLinkButton ID="ThemeCreateButton" runat="server" Text="<%$Resources:Interface, Literal_Themes %>" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
	</Scensum:ToolBoxPanel>
	<br />
		<div style="  float:left; width:984px; margin-bottom:-15px">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
           </div>
	<asp:ContentPlaceHolder ID="ThemeHolder" runat="server" />
</asp:Content>