<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="User.Master.cs"
    Inherits="Litium.Scensum.BackOffice.Modules.Security.Roles.User" %>

<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<asp:Content ID="UserContent" ContentPlaceHolderID="body" runat="server">
    	<Scensum:ToolBoxPanel ID="UserToolBoxPanel" runat="server" Text="System user"
			ShowSeparator="true">
			<div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px;
				padding-top: 10px; padding-left:15px;">
				<asp:Literal runat="server" Text="<%$ Resources:General, Literal_Create %>"/></label></div>
		   <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
				<uc:ImageLinkButton Id="CreateUserButton" runat="server" Text="<%$ Resources:User, Button_CreateUser %>" 
				ImageUrl="~/Media/Images/Security/user_create.png"
					SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
	            
			</div>
	</Scensum:ToolBoxPanel>
    <br />
    <asp:ContentPlaceHolder ID="UserPlaceHolder" runat="server" />
</asp:Content>
