﻿<%@ Import Namespace="System.Globalization"%>
<%@ Master Language="C#" MasterPageFile="~/Modules/Campaigns/CampaignsMaster.Master" CodeBehind="DefaultSubMaster.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Campaigns.DefaultSubMaster" %>
<%@ Register Assembly="Litium.Scensum.BackOffice" Namespace="Litium.Scensum.BackOffice.UserControls.ContextMenu"
    TagPrefix="sc" %>
<%@ Register TagPrefix="sc" Namespace="Litium.Scensum.BackOffice.UserControls.GridView2" Assembly="Litium.Scensum.BackOffice" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MessageContainer" runat="server">
		<asp:UpdatePanel id="UpdatePanel1" runat="server">
					<ContentTemplate>
						<uc:MessageContainer ID="Messager" MessageType= "Failure" HideMessagesControlId="SetStatusButton" runat="server" />	</ContentTemplate>
				</asp:UpdatePanel>
</asp:Content>
<asp:Content ID="DefaultSubMasterContent" runat="server" ContentPlaceHolderID="ProductCampaignsPlaceHolder">
	<script type="text/javascript">
        function confirmDelete() {
        	return DeleteConfirmation("<%= Resources.Campaign.Literal_campaign %>");
        }
	</script>
	<div class="product-campaigns">
		<sc:GridViewWithCustomPager ID="CampaignsGrid" SkinID="grid" runat="server" AutoGenerateColumns="false" AllowPaging="true" PageSize="100" Width="100%">
			<Columns>
				<asp:TemplateField ItemStyle-HorizontalAlign="Center" HeaderStyle-HorizontalAlign="Center" ItemStyle-Width="3%">
					<HeaderTemplate>
						<asp:CheckBox id="SelectAllCheckBox" runat="server"/>
					</HeaderTemplate>
					<ItemTemplate>
						<asp:CheckBox ID="SelectCheckBox" runat="server" />
						<asp:HiddenField ID="IdHiddenField" Value='<%#Eval("Id") %>' runat="server" />
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="<%$ Resources:General, Literal_Title %>" ItemStyle-Width="37%" >
					<ItemTemplate>
						<div style="width: 100%; overflow: hidden;">
							<div style="float: left; max-width: 96%;">
								<uc:HyperLinkEncoded ID="TitleLink" runat="server" Text='<%# Eval("Title") %>' NavigateUrl='<%# GetEditUrl(Eval("Id")) %>'> </uc:HyperLinkEncoded>
							</div>
							<div style="float: left;">
								<uc:ContextMenu ID="CampaignContextMenu" runat="server" CallerImageSrc="~/Media/Images/Common/context-menu.png"
									CallerOverImageSrc="~/Media/Images/Common/context-menu-over.png" MenuContainerCssClass="context-menu-container"
									MenuShadowCssClass="context-menu-shadow" MenuCallerCssClass="context-menu-caller">
									<div class="context-menu-header">
										<%= Resources.General.Literal_Manage %>
									</div>
									<div class="menu-row-separator">
									</div>
									<div class="context-menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/interface/move-copy.png") %>" />
										<asp:LinkButton ID="MenuMoveButton" runat="server" CommandArgument='<%# Eval("Id") %>'
											CommandName="MoveCampaign" Text="<%$ Resources:Campaign, Literal_Move %>" />
									</div>
									<div class="context-menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Common/delete.gif") %>" />
										<asp:LinkButton ID="MenuDeleteButton" runat="server" OnClientClick='return confirmDelete();'
											CommandArgument='<%# Eval("Id") %>' CommandName="DeleteCampaign" Text="<%$ Resources:General, Button_Delete%>" />
									</div>
									<div class="menu-row-separator">
									</div>
									<div class="context-menu-header">
										<%= Resources.Campaign.Literal_ApplyAs %>
									</div>
									<div class="menu-row-separator">
									</div>
									<div id="Div3" class="context-menu-row" runat="server" visible='<%# Convert.ToBoolean(Eval("Exclusive"), CultureInfo.CurrentCulture) %>'>
										<img src="<%=ResolveUrl("~/Media/Images/Campaign/always.gif") %>" />
										<asp:LinkButton ID="MenuSetAlways" runat="server" CommandArgument='<%# Eval("Id") %>'
											CommandName="SetAlways" Text="<%$ Resources:Campaign, Literal_TypeAlways %>" />
									</div>
									<div id="Div4" class="context-menu-row" runat="server" visible='<%# !Convert.ToBoolean(Eval("Exclusive"), CultureInfo.CurrentCulture) %>'>
										<img src="<%=ResolveUrl("~/Media/Images/Campaign/selective.gif") %>" />
										<asp:LinkButton ID="MenuSetSelective" runat="server" CommandArgument='<%# Eval("Id") %>'
											CommandName="SetSelective" Text="<%$ Resources:Campaign, Literal_TypeSelective %>" />
									</div>
								</uc:ContextMenu>
							</div>
						</div>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="<%$ Resources:General, Literal_Type %>" ItemStyle-Width="8%" >
					<ItemTemplate>
						<uc:LiteralEncoded ID="TypeLiteral" runat="server" Text='<%# Convert.ToBoolean(Eval("Exclusive")) ? Resources.Campaign.Literal_TypeSelective : Resources.Campaign.Literal_TypeAlways %>'></uc:LiteralEncoded>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="<%$ Resources:General, Literal_StartDate %>" ItemStyle-Width="11%" >
					<ItemTemplate>
						<uc:LiteralEncoded ID="StartDateLiteral" runat="server" Text='<%# Eval("StartDate") != null ? Convert.ToDateTime(Eval("StartDate")).ToShortDateString() : string.Empty %>'></uc:LiteralEncoded>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="<%$ Resources:General, Literal_EndDate %>" ItemStyle-Width="11%" >
					<ItemTemplate>
						<uc:LiteralEncoded ID="EndDateLiteral" runat="server" Text='<%# Eval("EndDate") != null ? Convert.ToDateTime(Eval("EndDate")).ToShortDateString() : string.Empty %>'></uc:LiteralEncoded>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="<%$ Resources:General, Literal_Status %>" ItemStyle-Width="12%" >
					<ItemTemplate>
						<div class="status-list">
					        <sc:ContextMenu3 ID="StatusList" runat="server"
								MenuHeaderText="Status" 
								ImageExpandSrc="~/Media/Images/Common/context-menu.png" 
								ImageExpandMouseOverSrc="~/Media/Images/Common/context-menu-over.png" 
								OnSelectedValueChanged="OnCampaignStatusChanged"
								ShowSelectedIcon="true">
							</sc:ContextMenu3>
					    </div>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="<%$ Resources:Campaign, Literal_ApplyToCampaignRegistry %>" ItemStyle-Width="28%" >
					<ItemTemplate>
						<uc:LiteralEncoded ID="ChannelsLiteral" runat="server"></uc:LiteralEncoded>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="Path" ItemStyle-Width="56%">
					<ItemTemplate>
						<asp:Label ID="PathLabel" runat="server" Text='<%# IsSearchResult ? GetPath(Eval("FolderId")) : string.Empty %>' ></asp:Label>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField ItemStyle-HorizontalAlign="Center" ItemStyle-Width="3%">
					<ItemTemplate>
						<asp:ImageButton ID="DeleteButton" runat="server" CommandName="DeleteCampaign"
							CommandArgument='<%# Eval("Id") %>' ImageUrl="~/Media/Images/Common/delete.gif"
							OnClientClick="return confirmDelete();" />
					</ItemTemplate>
				</asp:TemplateField>
			</Columns>
		</sc:GridViewWithCustomPager>
	</div>
	<br class="clear"/>
	<div id="AllSelectedDiv" class="product-campaigns-apply" runat="server">
		<div style="float:left">
			<span><%= Resources.General.Literal_ApplyToAllSelectedItems %></span>
			<asp:DropDownList ID="StatusList" DataTextField="Title" Width="100px" DataValueField="Id" runat="server" /> &nbsp;
			<asp:DropDownList ID="TypeList" Width="100px" runat="server" /> &nbsp;
		</div> 
		<div style="float:left">
			<uc:ImageLinkButton SkinID="DefaultButton" UseSubmitBehaviour="true" ID="SetButton" runat="server" Text="<%$ Resources:General,Button_Set %>" />
			<uc:ImageLinkButton SkinID="DefaultButton" UseSubmitBehaviour="true" ID="DeleteCampaignButton" runat="server" Text="<%$ Resources:General,Button_Delete %>" OnClientClick="return confirmDelete();" />
		</div> 
	</div>
</asp:Content>
