﻿<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Packages.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Assortment.Packages.Packages" %>

<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>

<asp:Content ID="PackagesContent" ContentPlaceHolderID="body" runat="server">
	<Scensum:ToolBoxPanel ID="PackagesToolBoxPanel" runat="server" Text="Packages" ShowSeparator="true">
		<div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px; padding-top: 10px; padding-left: 15px;">
			<%= Resources.General.Literal_Create%>
		</div>

		<div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
			<uc:ImageLinkButton ID="CreatePackageButton" runat="server" Text="<%$ Resources:Lekmer, Button_Package %>" ImageUrl="~/Media/Images/Assortment/store.png" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
		</div>
	</Scensum:ToolBoxPanel>

	<div style="float: left; width:984px; margin-bottom:-10px;">
		<asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
	</div>

	<div id="rl-content">
		<asp:ContentPlaceHolder ID="PackagesPlaceHolder" runat="server" />
	</div>
</asp:Content>