<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="PriceLists.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Assortment.PriceLists.PriceLists" %>
<%@ Register Assembly="Litium.Scensum.Web.Controls" Namespace="Litium.Scensum.Web.Controls.Tree.TemplatedTree" TagPrefix="CustomControls" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<%@ Register TagPrefix="ajaxToolkit" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit" %>

<asp:Content ID="plc" ContentPlaceHolderID="body" runat="server">
	 <script type="text/javascript">
	 	function HideDeleteAndUpload(obj) {
	 		if (FindNodeKeyU(obj) == -1) {
	 			$('div.menu-hide').attr({ style: 'visibility: hidden;' });
	 		}
	 		else {
	 			$('div.menu-hide').attr({ style: 'visibility: visible;' });
	 		}
	 	}
	 	function HideRootExpander(treeId) {
	 		if (null != treeId) {
	 			$('span#' + treeId).find('div.tree-item-cell-expand:first').hide();
	 			RootNotSelect();
	 		}
	 	}
	 	function RootNotSelect() {
	 		$('div.tree-item-cell-main a:first').removeAttr("href");
	 	}
	 	function PrepareRootMenu(treeId) {
	 		if (null != treeId) $('span#' + treeId).find('img.tree-menu-caller').click(function() {
	 			ShowHideNonRootSubMenu(this);
	 		});
	 	}

	 	function ShowHideNonRootSubMenu(obj) {
	 		if (FindNodeKeyU(obj) == -1) {
	 			$('div#menu-container').attr('id', 'menu-container-root');
	 			$('div#menu-container-root').attr('class', 'menu-container-root');
	 			$('div#menu-shadow').attr('id', 'menu-shadow-root');
	 			$('div#menu-shadow-root').attr('class', 'menu-shadow-root');
	 		}
	 		else {
	 			$('div#menu-container-root').attr('id', 'menu-container');
	 			$('div#menu-container').attr('class', 'menu-container');
	 			$('div#menu-shadow-root').attr('id', 'menu-shadow');
	 			$('div#menu-shadow').attr('class', 'menu-shadow');
	 		}
	 	} 
	 	
        function confirmDelete() {
        	return DeleteConfirmation("<%= Resources.Product.Literal_Folder %>");
        }
   
	</script>
	 
	 <Scensum:ToolBoxPanel ID="ToolBoxPanel" runat="server" Text="<%$ Resources:Product, Literal_PriceLists %>" ShowSeparator="true">
        <asp:Panel runat="server" ID="SearchPanel" DefaultButton="SearchButton">
			<div class="fontSearch"; style="padding-bottom:8px; padding-right:5px; padding-top: 10px;float:left; ">
				<span style="float:left; font-size:16px; padding-right:35px;padding-left:15px; "> Search</span>
				<asp:TextBox ID="SearchTextBox" runat="server" Style="float: left;" />
			</div>
			<div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
				<uc:ImageLinkButton ID="SearchButton" runat="server" Text="Find" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
			</div>
        </asp:Panel>
    </Scensum:ToolBoxPanel>
    <div id="price-folder-tree">
		<asp:UpdatePanel ID="LeftUpdatePanel" runat="server" UpdateMode="Conditional">
			<ContentTemplate>
				<CustomControls:TemplatedTreeView runat="server" ID="PriceListTree" DisplayTextControl="TitleLabel"
					UseRootNode="true" NodeExpanderHiddenCssClass="tree-item-expander-hidden" NodeImgCssClass="tree-node-img"
					MainContainerCssClass="treeview-main-container" NodeChildContainerCssClass="treeview-node-child"
					NodeExpandCollapseControlCssClass="tree-icon" NodeMainContainerCssClass="treeview-node"
					NodeParentContainerCssClass="treeview-node-parent" NodeExpandedImageUrl="~/Media/Images/Tree/tree-collapse.png"
					NodeCollapsedImageUrl="~/Media/Images/Tree/tree-expand.png" MenuCallerElementCssClass="tree-menu-caller"
					MenuContainerElementId="node-menu" MenuCloseElementId="menu-close">
					<HeaderTemplate>
					</HeaderTemplate>
					<NodeTemplate>
						<div class="tree-item-cell-expand">
							<img src="<%=ResolveUrl("~/Media/Images/Tree/tree-expand.png") %>" alt="" class="tree-icon" />
							<asp:Button ID="Expander" runat="server" CommandName="Expand" CssClass="tree-item-expander-hidden"/>
						</div>
						<div class="tree-item-cell-main">
							<img src="<%=ResolveUrl("~/Media/Images/Tree/folder.png") %>" alt="" class="tree-node-img" />
							<asp:LinkButton runat="server" ID="TitleLabel" CommandName="Navigate"></asp:LinkButton>
						</div>
						<div class="tree-item-cell-action">
							<img src="<%=ResolveUrl("~/Media/Images/Tree/tree-item-action.png") %>" alt="Menu" class="tree-menu-caller" onclick="HideDeleteAndUpload(this);" 
							     onmouseover='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu-over.png") %>";'
                                 onmouseout='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu.png") %>";'  />
                        </div>
						<br />
					</NodeTemplate>
					<MenuTemplate>
                        <div id="node-menu" style="position: absolute;">
                            <div id="menu-container" class="menu-container">
                                <div class="menu-header">
                                  <%= Resources.General.Literal_Manage %>
                                </div>
                                <div class="menu-row-separator">
                                </div>
                                <div class="menu-row">
                                    <img src="<%=ResolveUrl("~/Media/Images/Assortment/new-folder.gif") %>" />
                                    <asp:LinkButton ID="CreateFolderButton" runat="server" OnClick="LbtnCreateFolder_Click"><%= Resources.General.Literal_CreateFolder %></asp:LinkButton>
                                </div>
                                <div class="menu-hide">
									<div class="menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Assortment/edit.gif") %>" />
										<asp:LinkButton ID="EditButton" runat="server" OnClick="LbtnEditFolder_Click"><%= Resources.General.Button_MoveEdit %></asp:LinkButton>
									</div>
									<div class="menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Common/delete.gif") %>" />
										<asp:LinkButton ID="DeleteButton" runat="server" OnClick="LbtnDelete_Click" OnClientClick="confirmDelete();" Text="<%$ Resources:General, Button_Delete %>"/>
									</div>
								</div>
                            </div>
                            <div id="menu-shadow" class="menu-shadow">
                            </div>
                        </div>
                    </MenuTemplate>
				</CustomControls:TemplatedTreeView>
				
				<br />
						
			</ContentTemplate>
		</asp:UpdatePanel>
    </div>
    
     <div style="float: left; width:752px; margin-bottom:-10px">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
         		<asp:UpdatePanel ID="MessageContainerPanel" runat="server" UpdateMode= "Always">
			<ContentTemplate>
         	<div >
					<uc:MessageContainer ID="SystemMessageContainer" MessageType="Failure" HideMessagesControlId="DeleteButton" runat="server" />
				</div>
							
			</ContentTemplate>
		</asp:UpdatePanel>
           </div>
    <div id="price-list-grid">
		<asp:ContentPlaceHolder ID="PriceListContentPlaceHolder" runat="server" />
    </div>
</asp:Content>
