<%@ Master Language="C#" MasterPageFile="~/Master/Start.Master" CodeBehind="Main.Master.cs" Inherits="Litium.Scensum.BackOffice.Master.Main" %>

<asp:Content ID="customerContent" ContentPlaceHolderID="StartBodyContentPlaceHolder" runat="server">
	<div id="content-wrapper">
    	<asp:ContentPlaceHolder ID="body" runat="server" />
	</div>
</asp:Content>
