<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Customers.Discounts.Default" %>

<asp:Content ID="DiscountsTabContent" ContentPlaceHolderID="body" runat="server">
    <br /><br />Discounts SubTab
</asp:Content>
