<%@ master language="C#" masterpagefile="~/Master/Main.Master" codebehind="Media.master.cs" inherits="Litium.Scensum.BackOffice.Modules.Media.MediaArchive.Media" %>

<%@ register tagprefix="Scensum" namespace="Litium.Scensum.Web.Controls" assembly="Litium.Scensum.Web.Controls" %>
<%@ register tagprefix="CustomControls" assembly="Litium.Scensum.Web.Controls"
	namespace="Litium.Scensum.Web.Controls.Tree.TemplatedTree" %>

<asp:content id="MediaPlaceHolder" contentplaceholderid="body" runat="server">
<link href='<%=ResolveUrl("~/Media/Css/filedrop.css") %>' rel="stylesheet" type="text/css" />

<script type='text/javascript' language='javascript'>
	function ConfirmFolderDelete() {
		return DeleteConfirmation('<%= Resources.Media.Literal_MediaFolderConfirm %>');
    }
    function PrepareRootMenu(treeId) {
    	if (null != treeId) $('span#' + treeId).find('img.tree-menu-caller').click(function () { ShowHideNonRootSubMenu(this); });
    }

    function HideRootExpander(treeId) {
    	if (null != treeId) {
    		$('span#' + treeId).find('div.tree-item-cell-expand:first').hide();
    		RootNotSelect();
    	}
    }

    function RootNotSelect() {
    	$('div.tree-item-cell-main a:first').removeAttr("href");
    }

    function ShowHideNonRootSubMenu(obj) {
    	if (FindNodeKeyU(obj) == -1) {
    		$('div#menu-container').attr('id', 'menu-container-root');
    		$('div#menu-container-root').attr('class', 'menu-container-root');
    		$('div#menu-shadow').attr('id', 'menu-shadow-root');
    		$('div#menu-shadow-root').attr('class', 'menu-shadow-root');
    		$('div.menu-non-root-container').hide();
    	}
    	else {
    		$('div#menu-container-root').attr('id', 'menu-container');
    		$('div#menu-container').attr('class', 'menu-container');
    		$('div#menu-shadow-root').attr('id', 'menu-shadow');
    		$('div#menu-shadow').attr('class', 'menu-shadow');
    		$('div.menu-non-root-container').show()
    	}

    }
</script>
        <Scensum:ToolBoxPanel ID="MediaToolBoxPanel" runat="server" Text="<%$ Resources:Media, Literal_Media %>">
		<div  style="float: left; position:relative; left:0px;">
		<%--	<div style="float: left; padding-bottom: 8px; padding-top: 8px; padding-right:5px; font-size: 0.7em; font-weight: normal;">
				<uc:ImageLinkButton ID="UploadButton" runat="server" Text="Upload files" ImageUrl="~/Media/Images/Media/upload.png" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
			</div>--%>
			<%--<div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px;
					padding-top: 10px; padding-left:30px;">--%>
					<%--<asp:Literal runat="server" Text="<%$ Resources:General, Literal_Create%>" />--%><%--</div>--%>
				 <div class ="radiobuttoncontainer">
					 
					  <asp:RadioButton GroupName="Group1" id="UploadButton"  value="true" Checked runat="server" AutoPostBack="True" />
					
					<asp:label AssociatedControlID="UploadButton" id="UploadButtonLabel" runat="server" CssClass="button-check">
						 <img style="padding-bottom: 5px" src="<%=ResolveUrl("~/Media/Images/Media/upload.png") %>" /> Upload files
					</asp:label>
					 <asp:RadioButton  GroupName="Group1" id="ViewAllButton" value="false" runat="server" AutoPostBack="True"/>
					<asp:label AssociatedControlID="ViewAllButton" id="ViewAllLabel" CssClass="button-uncheck" runat="server">
						 <img style="padding-bottom: 5px" src="<%=ResolveUrl("~/Media/Images/Tree/folder.png") %>" /> View all
					</asp:label>
				
				<%--	<uc:ImageLinkButton Id="CreateFolderButton" runat="server" Text="<%$ Resources:General, Literal_ShowAll %>" 
					ImageUrl="~/Media/Images/Interface/new-folder.gif"
						SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />--%>
		            
				</div>

            </div> 
       </Scensum:ToolBoxPanel>
    <br />
    <div>
      <div id="media-folder-list">
            <asp:UpdatePanel ID="LeftUpdatePanel" runat="server" UpdateMode="Conditional">
                <ContentTemplate>
                    <CustomControls:TemplatedTreeView runat="server" ID="MediaTree" DisplayTextControl="lbName"
						UseRootNode="true" NodeExpanderHiddenCssClass="tree-item-expander-hidden" NodeImgCssClass="tree-node-img"
                        MainContainerCssClass="treeview-main-container" NodeChildContainerCssClass="treeview-node-child"
                        NodeExpandCollapseControlCssClass="tree-icon" NodeMainContainerCssClass="treeview-node" 
                        NodeParentContainerCssClass="treeview-node-parent" NodeExpandedImageUrl="~/Media/Images/Tree/tree-collapse.png"
                        NodeCollapsedImageUrl="~/Media/Images/Tree/tree-expand.png" MenuCallerElementCssClass="tree-menu-caller"
                        MenuContainerElementId="node-menu" MenuCloseElementId="menu-close">
                        <HeaderTemplate>
                        </HeaderTemplate>
                        <NodeTemplate>
                            <div class="tree-item-cell-expand">
                                <img src="<%=ResolveUrl("~/Media/Images/Tree/tree-expand.png") %>" alt="" class="tree-icon" />
                                <asp:Button ID="Expander" runat="server" CommandName="Expand" CssClass="tree-item-expander-hidden"/>
                            </div>
                            <div class="tree-item-cell-main">
                                <img src="<%=ResolveUrl("~/Media/Images/Tree/folder.png") %>" alt="" class="tree-node-img" />
                                <asp:LinkButton runat="server" ID="lbName" CommandName="Navigate"></asp:LinkButton>
                            </div>
                           <div class="tree-item-cell-action">
                                <img src="<%=ResolveUrl("~/Media/Images/Tree/tree-item-action.png") %>" alt="Menu" class="tree-menu-caller" 
                                     onmouseover='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu-over.png") %>";'
                                     onmouseout='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu.png") %>";'  /></div>
                            <br />
                        </NodeTemplate>
                        <MenuTemplate>
                            <div id="node-menu" style="position: absolute;">
                                <div id="menu-shadow" class="menu-shadow">
                                </div>
                                <div id="menu-container" class="menu-container">
                                    <div class="menu-header">
                                        <asp:Literal runat="server" Text="<%$ Resources:General, Literal_Manage%>" />
                                    </div>
                                    
                                <div id="menu-non-root-container" class="menu-non-root-container">
                                                              
                                    <div class="menu-row-separator">
                                    </div>
                                    <div class="menu-row">
                                        <img src="<%=ResolveUrl("~/Media/Images/Media/upload.png") %>" />
                                        <asp:LinkButton ID="UploadFileButton" runat="server" OnClick="LbtnUploadFile_Click" Text="<%$ Resources:Media, Button_UploadFiles%>"></asp:LinkButton>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </MenuTemplate>
                    </CustomControls:TemplatedTreeView>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
        	<div style="  float:left; width:753px; margin-bottom:-15px">
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
           </div>
        <div id="media-folder-content">
            <asp:UpdatePanel ID="BreadCrumbsUpdatePanel" UpdateMode="Always" runat="server">
                <ContentTemplate>
                    <span class="main-caption"><uc:LiteralEncoded ID="BreadcrumbsLiteral" runat="server" /></span>
                </ContentTemplate>
            </asp:UpdatePanel>
            <asp:ContentPlaceHolder ID="MediaContent" runat="server" />
        </div>
      </div>
</asp:content>
