<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master"  CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Interface.Default" %>

<asp:Content ID="InterfaceTabContent" ContentPlaceHolderID="body" runat="server">
    <br /><br /><%= Resources.Interface.Literal_InterfaceMainTab %>
</asp:Content>
