<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master"  CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Default" %>

<asp:Content ID="channelsTab" ContentPlaceHolderID="body" runat="server">
	USER NOT LOGGIN
</asp:Content>

