﻿div#assortment-treeview
{
	min-height: 500px;
	border: none;
}
	
div.node-root-item
{
	background-color: Transparent;
	border-bottom: solid 1px black;
	width: auto;
}
	
div.node-item
{
	background-color: Transparent;
	color: #909090;
}
	
div.tree-item-parent
{
	border-width: 0px 0px 0px 0px;
}

div.tree-item-childs
{
	padding-left: 20px;
	min-height: 20px;
}

div.tree-node-separator
{
	border-bottom: solid 1px #909090;
}

br.clear-all
{
	height: 0px;
	font-size: 0px;
}

div.tree-item-left-image
{
	width: 15px;
	float: left;
	
}
	
div.tree-item-node	
{ 
	font-size: 0.8em;
	padding: 5px 5px;
	vertical-align: middle;
	border-bottom: solid 1px #c6c6c6;

	
}

a.node-select img
{
	padding:  8px 4px; 
}
	
div.tree-item-node a, img
{ 	
	cursor: pointer;
}

div#treeview-header
{
	padding: 2px 10px;
	background-color: #909090;
	color: #ffffff;
}
	
a.node-selector-active
{
	font-weight: 600;
	font-size: 1.6em;
}
	