.ui-tabs-nav 
{
}
.ui-tabs-nav-variations
{
	margin-left: 5px;
}
.ui-tabs-nav ul 
{
	text-align: left;
	padding-left: 20px;
	margin: 0px;
}
div#variation-group-create ul.ui-tabs-nav
{
	padding-left: 7px;
	margin-left: 0px;
}
.ui-tabs-nav li {
	float: left;
	list-style: none;
	text-align: left;
}
.ui-tabs-nav li a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	background: url(../images/Assortment/inactive-tab.png) no-repeat top left;
	width: 84px;
	padding: 6px 0px 3px;
}
.ui-tabs-nav li a:hover 
{
	background: url(../images/Assortment/active-tab.png) no-repeat top left;
	
}
.ui-tabs-nav li.ui-tabs-selected a {
	color: #000000;
	text-align: center;
	background: url(../images/Assortment/active-tab.png) repeat-x;
	width: 84px;
}
.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover {
}
.ui-tabs-panel 
{
	margin-top: -10px;
	clear:left;
}
.ui-tabs-panel-variations
{
	margin-top: -20px;
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/
}