﻿div#signin{
	padding: 10px;
	width: 815px;
}

div#left-side{
	margin-top: 40px;
	width: 45%;
}

div#right-side{
	margin-left: 70px;
	width: 46%;
}
div#right-side input[type="submit"]{
	font-weight: bold;
}
div#company-logo{
	margin-top: 20px;
}
div#signin-form{
	padding-top: 70px;
}
div#signin-description{
	padding: 10px 0 0 40px;
	margin: 20px 0px 10px 0px;
	background-image: url(../Images/signin/login-key.png);
	background-repeat: no-repeat;
	height: 50px;
}
div#signin-description span{
	font-size: 1.2em;
}

div#bottom-line{
	background-image: url(../Images/signin/bottom-line.png);
	background-repeat: no-repeat;
	height: 27px;
	width: 815px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 1.2em;
}
div#bottom-line a{
	color: #004CD5;
}
div#bottom-line a:hover{
	text-decoration: underline;
}

.administration-header{
	font-size: 1.9em;
}
.show{
	display: block;
	margin-top: 10px;
}
.hide{
	display: none;
}
.error{
	margin-top: 10px;
	display: block;
	color: #CC003A;
}
.red{
	color: #CC003A;
}