﻿.ui-tabs-nav {}
.ui-tabs-nav ul {
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
}
.ui-tabs-nav li {
	float: left;
	list-style: none;
}
.ui-tabs-nav li a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	background: url(../images/Assortment/inactive-tab.png) no-repeat top left;
	width: 84px;
	height: 14px;
	padding: 6px 0px 3px;
}
.ui-tabs-nav li a img{
	margin-top: -3px;
	margin-right: 3px;
}
.ui-tabs-nav li a:hover {
	background: url(../images/Assortment/active-tab.png) no-repeat top left;
}
.ui-tabs-nav li.ui-tabs-selected a {
	color: #000000;
	text-align: center;
	height: 14px;
	background: url(../images/Assortment/active-tab.png) repeat-x;
	width: 84px;
	padding: 6px 0px 3px;
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/
}