﻿div.review-place-holder 
{
	float:left;
	padding:10px;
	width:976px;
}
div.review-search-form 
{
	float:left;
}
div.review-search-form input[type="text"], 
div.review-search-form select 
{
	width: 130px;
}
div.review-search-form div.input-box 
{
	height:35px;
	overflow-y:hidden;
}
div.review-result-container
{
	float:left;
	width:976px;
	border-top: solid 1px #000000;
	display: none;
}
div.review-result-container div.scm-menu, 
div.review-result-container div.scm-menu-shadow 
{
	height:50px;
	width:95px;
}
div.input-box-last
{
	margin-top: 6px;
}
div.review-result-header
{
	float:left;
	width:100%; 
	padding: 5px 0;
}
div.review-result-header-left
{
	float:left; 
	width:78%;
}
div.review-result-header-right
{
	float:left; 
	width:22%;
}
div.review-result-grid
{
	float:left; 
	width:100%;
}
div.review-first-row
{
	float:left; 
	width:81%;
}
div.review-second-row
{
	float:left; 
	width:5%;
}
div.review-third-row
{
	float:left; 
	width:7%;
}
div.review-fourth-row
{
	float:left; 
	width:5%;
	padding-left:10px;
}
div.review-message-row
{
	float: left;
	padding: 10px 0;
}
div.review-apply-all 
{
	background-color:#D9E7F7;
	border:1px solid #C6C6C6;
	display:none;
	float:left;
	padding:5px;
	width:99%;
}
.review-header 
{
	color:#999999;
	font-size:16px;
	font-weight:bold;
	overflow:hidden;
}
div.review-status-label
{
	float:left;
	margin-right:20px;
}
div.review-status-container
{
	float:left;
	padding-top:5px;
}
div.review-status-container div.scm-menu, 
div.review-status-container div.scm-menu-shadow 
{
	height:70px;
}