<%@ Page Language="C#" MasterPageFile="~/Modules/Assortment/Categories/Categories.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Assortment.Categories.Default" %>

<asp:Content ID="categoriesDefaultContent" ContentPlaceHolderID="CategoriesContentPlaceHolder" runat="server">
	<asp:Label ID="DefaultLabel" runat="server" Text="" Font-Size=Small Font-Bold=true ForeColor="#969696"></asp:Label>
</asp:Content>