﻿/* <Product campaigns> */

/* <Master page> */
div.product-campaigns-tree{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div.product-campaigns-right{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
div.product-campaigns
{
	float: left;
	width: 100%;
}

div.product-campaigns-tree div.menu-container,
div.product-campaigns-tree div.menu-shadow
{ 
	height: 135px; 
	width: 140px;
}
div.product-campaigns-tree div.menu-container-root,
div.product-campaigns-tree div.menu-shadow-root
{ 
	height: 70px;
	width: 140px; 
}
/* </Master page> */



/* <Default page> */
div.product-campaigns div.context-menu-container,
div.product-campaigns div.context-menu-shadow
{ 
	height: 140px; 
}
/* </Default page> */



/* <Campaign edit page> */
div#conditionToolbar,
div#actionToolbar
{
	width: 100%;
	float: left;
}
div#conditionToolbar div.collapsible-item select,
div#actionToolbar div.collapsible-item select
{
	width: 200px;
}
div#conditionToolbar div.link-button,
div#actionToolbar div.link-button
{
	border-style: none;
	margin-top: -5px;
	background-color: #F2F2F2;
}
div#conditionToolbar div.collapsible-items,
div#actionToolbar div.collapsible-items
{
	height: 35px;
}
div#conditionToolbar div.collapsible-item,
div#actionToolbar div.collapsible-item
{
	height: 33px;
}
div#conditionToolbar div.collapsible-item-header,
div#actionToolbar div.collapsible-item-header,
div#conditionToolbar div.action-block,
div#actionToolbar div.action-block
{
	height: 23px;
	padding: 5px;
}
div#conditionToolbar div.image-block,
div#actionToolbar div.image-block
{
	padding-top:10px;
} 
/* <Campaign general user control> */
div.campaign-general
{
	width: 720px;
	float: left;
}
div.campaign-general-row
{
	width: 100%;
	float: left;
	padding-bottom: 10px;
}
div.campaign-general div.input-box
{
	padding-right: 20px;
	float: left;
}
div.campaign-general div.campaign-title input[type="text"]
{
	width: 340px;
}
div.campaign-general div.input-box select
{
	width: 115px;
}
div.campaign-general-row input.media-item-information-value 
{
	width: 170px;
}
/* </Campaign general user control> */

/* <Product action list user control> */
div.campaign-action-grid
{
	float: left;
	width:718px;
	padding-left: 1px;
}

/* </Product action list user control> */

/* <Percentage price discount configurator user control> */
div.campaign-full-left
{
	width: 98.2%;
	float: left;
}
div.campaign-full-left div.input-box
{
	padding-right: 20px;
	float: left;
}
div.campaign-action-type input[type="text"]
{
	width: 200px;
}
div.campaign-action-value input[type="text"]
{
	text-align: right;
}
div#includeToolbar,
div#excludeToolbar
{
	width: 99%;
	float: left;
}
div.campaign-include-content
{
	width:98%; 
	float:left; 
	padding:10px; 
	border: solid 1px #C6C6C6; 
	border-top: none;
}
.text-bold
{
	font-weight: bold;
}
div#includeToolbar div.link-button,
div#excludeToolbar div.link-button
{
	border-style: none;
	margin-top: 0px;
	background-color: #F2F2F2;
}

div.campaign-product-search div.input-box{
	width: 100%;
	padding-right: 0px;
}
div.campaign-product-search input[type="text"]{
	width: 90%;
	margin-top :4px;
}
div.campaign-product-search select{
	width: 92%;
	margin-top :4px;
}
div.campaign-product-search div#search-product-criteria .price{
	width: 90%;
}
div.campaign-product-search div.content-box{
	width: 97%;
	padding-top: 10px;
	margin-left: 0px;
	padding :16px 18px 0px 10px;
}
div.campaign-product-search img{
	margin-top: -2px;
}
div.campaign-product-search div.column{
	width: 32%;
	padding-left: 12px;
	padding-right: 10px;
	float :left;
}
div.campaign-product-search div.column-last{
	width: 32%;
	float :left;
	padding-left: 13px;
}
div.campaign-product-search div.column-last input[type="text"]{
	width: 97%;
}
div.campaign-product-search div.column-first{
	width: 31%;
	float :left;
	padding-right: 9px;
}
/* </Percentage price discount configurator user control> */

/* <Campaign action/condition popup> */
div.campaign-popup-container
{
	position: absolute;
	top: 85px; 
	left: 95px;
	width: 1036px;
	overflow: hidden;
	height: 800px;
}

div.campaign-popup-header {
	background-repeat: no-repeat;
	height: 47px;	
}

div.campaign-popup-header div
{
	float: left;
}

div.campaign-popup-header-center label,
div.campaign-popup-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	font-weight: bold;
	color: #FFFFFF;
}

div.campaign-popup-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	height: 24px;
}

div.campaign-popup-content
{
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 995px;
	padding: 0px 0px 0px 10px;
	overflow: hidden;
	height: 690px;
}

div.campaign-popup-content-scrollable
{
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 995px;
	padding: 0px 0px 0px 10px;
	overflow: auto;
	height: 690px;
}

div.campaign-popup-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}

div.campaign-popup-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}

div.campaign-popup-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 994px;
}

div#campaign-popup-content-right
{
	float:right;
	width:745px;
}

div#campaign-popup-top-menu
{
	min-width: 300px;
	padding-left:20px;
}

div#campaign-popup-pick-button
{
	float: right;
	padding: 10px 10px;
 }
 
div#campaign-popup-result
{
	padding: 0 20px;
	width: 936px;
}

div#search-fields-wider div.input-box select
{
	width: 295px;	
}

div.campaign-popup-grid
{
	float: left;
	padding-left: 10px; 
	width: 750px;
}

div.campaign-popup-buttons
{
	clear: both;
	float: right;
	padding-right: 5px;
	vertical-align: bottom;
}

div.wide-padding
{
	padding-right: 15px;
}

div.no-padding
{
	padding-right: 0;
}

div.small-campaign-popup-container
{
	left: 135px;
	width: 313px;
	height: 410px;
}
div.small-campaign-popup-header-center
{
	background: url('../Images/Assortment/header-center.png');
	width: 299px;
}

div.small-campaign-popup-content
{
	width: 300px;
	height: 350px;
}
div.small-campaign-popup-content div.message-container
{
	width: 280px;
}
/* <condition popup> */
div.campaign-popup-content div.currencyvalue-wrapper
{
	padding: 10px;
}
/* </condition popup> */

/* <action popup> */
div.action-freightvalue-wrapper
{
	padding:10px 0px 10px 30px;
}
/* </action popup> */

/* </Campaign edit page> */