﻿div.collapsible-items{
	padding-top: 5px;
	width: 100%;
}
div.collapsible-item{
	width: 100%; 
	border: 1px solid #C6C6C6; 
	background-color: #F2F2F2;
	cursor: pointer;
}
div.collapsible-item-header{
	padding: 10px 20px 8px 7px; 
	width: 25%;
	color:#999999;
	font-size:1.5em;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
}

div.action-block{
	padding: 10px 20px; 
	float: left;
	border-left: solid 1px #CCCCCC;
	/*border-right: solid 1px #CCCCCC;*/
	cursor: auto;
	width: 50%;
}
div.action-block div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin: -2px 3px 0px 10px;
	float: left;
}
div.action-block div.link-button img{
	margin-right: 5px;
	border-width: 0px;
	float: left;
}
div.action-block div.link-button a{
	display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
}

.collapsible-caption{
	font-size: 1.5em;
	font-weight: bold;
	color: #999999;
}

div.image-block{
	padding: 12px 7px 11px 20px;
	width: 10%;
}

/* <cartvalue control> */
div.currencyvalue-wrapper
{
	padding:10px 0px 10px 30px;
}
div.currencyvalue-header-wrapper
{
	padding-bottom:10px;
}
span.currencyvalue-header-left
{
	padding-right:60px;
}
div.currencyvalue-content
{
	padding-top:3px;
}
div.currencyvalue-content input
{
	text-align: right;
}
/* </cartvalue control> */