﻿/*----------ContextMenu3--------------*/


div.scm-selected
{
    float: left;
}

div.scm-selector
{
    cursor: pointer;
    float: right;
}

div.scm-menu-item,
div.scm-menu-item-highlighted
{
    padding: 4px 10px; 
    overflow: hidden; 
    height: 14px; 
    white-space: nowrap;
    color: #000;
    font-family:Arial;
    cursor: pointer;
}

div.scm-selected span,
div.scm-menu-item span,
div.scm-menu-item-highlighted span
{
    padding: 5px 0px 5px 5px;
}

div.scm-menu-item-highlighted
{
    background-color: Highlight;
}

div.scm-menu,
div.scm-menu-shadow
{
    width: 95px;
	height: 90px;
}

div.scm-menu
{
    background-color: #ffffff;
	border: solid 1px #c6c6c6;
	position: absolute;
	overflow: visible;
	z-index: 100;
	float: none;
}

div.scm-menu-shadow
{
    background-color: Gray;
	position: absolute;
	overflow: visible;
	margin-left: 5px;
	margin-top: 5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display:block;
	z-index: 99;
}

div.scm-menu-header
{
    padding: 4px 10px;
	font-weight: 600;
	border-bottom: solid 1px #c6c6c6;
}

div.status-list div.scm-menu,
div.status-list div.scm-menu-shadow,
div.stores-place-holder div.scm-menu,
div.stores-place-holder div.scm-menu-shadow
{
    width: 90px;
	height: 68px;
}