﻿/* < customer-master > */
div#customer-master{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}

div#customer-master span{
	white-space: nowrap;
	overflow: hidden;
}

div#customer-master div.customer-master-first-item{
	padding: 15px;
	width: 356px;
	float: left;
}

div#customer-master div.customer-master-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	width: 283px;
	float: left;
}

div#customer-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}

div#customer-master div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}

div#customer-master div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}

div#customer-master div.link-button a{
	display: block;
    font-size: 0.7em;
    font-weight: normal;
    padding: 5px;
}
/* </ customer-master > */


/* < customer-search > */
div#customer-search {
	float: left;
	padding: 10px 20px 10px 20px;
	margin: 0px;
}

div#customer-search div.input-box-date
{
	float: left;
	margin-top: 5px;
	padding-right: 20px;
}
div#customer-search div.input-box-date input[type="text"]
{
	width: 166px;
}
div#customer-search div.input-box select
{
	margin: 1px;
	width: 184px;
}
div#customer-search div.buttons-container,
div#customer-edit div.buttons-container
{
	float: right;
	padding: 0px 20px;
}
div#customer-search div.buttons-container a,
div#customer-edit div.buttons-container a
{
	padding: 15px 0px 0px 0px;
	float: right;
}
div#customer-search div.customer-input-box,
div#customer-edit div.customer-input-box
{
	padding-right: 20px;
	float: left;
}
div#customer-search div.input-box input[type="text"]
{
	width: 280px;
}

div#customer-edit div.input-box select
{
	margin: 1px;
}

div#customer-edit 
{
}

div#customer-edit div.customer-edit-container
{
	float: left;
	padding-top: 10px;
}

div#customer-edit div.grid
{
	width: 725px;
	padding-top: 10px;
	float: left;
}


div#customer-edit div.order-history-grid
{
	width: 725px;
	white-space:normal
}

/* customer-search-errors */
div.customer-search-errors{
	padding-top: 5px;
	font-weight: bold;
	clear: both;
	width:979px; 
	margin-top:-10px;
}
/* </ customer-search > */



/* < customer-default > */
div#customer-search-container
{
	float: left;
}
div#customer-search-result{
	padding: 0px 20px 5px 20px;
	float: left;
	width: 96%;
}

div#select-all-button{
	float: left;
	margin-bottom: 10px;
}
div#save-group-button{
	float: right;
	margin-bottom: 10px;
	margin-right: -8px;
}
/* </ customer-default > */



/* < customer-popup > */
.popup-background{
	background-color: #A7A7A7;
	opacity:.75;
	filter: alpha(opacity=75);
}

.customer-group-popup
{
	display:table;	
	height: auto;
	padding-bottom:15px;
}

.customer-note-popup{
	height: auto;
	display:table;
	padding-bottom:10px;
}

.subMainDiv div.group-popup-text input{
	width: 420px;
	float: left;
	margin: 30px 15px 0px 15px;
	font-weight: normal;
}

.subMainDiv div.group-popup-text textarea{
	width: 420px;
	float: left;
	margin: 30px 15px 0px 15px;
	font-weight: normal;
}
/* </ customer-popup > */



/* < customer-groups > */
div#customer-groups{
	padding: 20px;
}
div.customer-groups-not-found{
	color:#969696 !important;
	width:180px;
}
/* </ customer-groups > */



/* < customer-group-create/edit > */
div#group-name{
	padding: 20px;
	padding-bottom: 0px;
}

/* content-box */
div#group-name div.content-box{
	margin-top: 2px;
	float: none;
}
div#group-name div.input-box input[type="text"]{
	width: 192px;
}

div#group-items{
	padding: 5px 20px 20px 20px;
}

div#group-items div.input-box{
	padding: 0px;
}

div.group-customers{
	width:922px;
}

div#customer-group-buttons{
	padding: 25px 9px 0px 9px;
}

div#customer-group-buttons input{
	width: 80px;
}

div#group-buttons{
	padding: 5px;
	padding-right:19px;
	float: right;
}
div#group-error
{
	padding-left: 20px;
	padding-right: 13px;
}
/* </ customer-group-create/edit > */



/* < customer-create/edit > */
/* <popup> */
div#note-title-caption{
	margin: 15px;
}

div#note-title-field{
	margin-top: -15px;
}
div#note-title-field input{
	width: 420px; 
	float: left;
	margin: 0px 15px 0px 15px;
	font-weight: normal;
}

div#priority-title-caption{
	margin-top: 45px; 
	padding: 0px 15px 0px 15px;
}
div#priority-title-caption label{
	padding-left: 235px;
}

div#priority-title-field{
	margin-top: 0px;
}
div#priority-title-field select{
	width: 255px; 
	margin: 0px 0px 0px 15px;
}
div#priority-title-field input[type="text"]{
	margin: -20px 15px 0px 12px; 
	font-weight: normal; 
	float: none;
}
div#priority-title-field input[type="image"]{
	margin: -5px 0px 0px -15px; 
	float: none
}

div#notes-caption{
	margin-top: 10px; 
	padding: 0px 15px 0px 15px;
}

div#notes-field textarea{
	margin: 0px 15px 0px 15px; 
	width: 420px; 
	height: 100px;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

div#note-errors{
	margin-top: 10px; 
	padding: 0px 15px 0px 15px;
}

div#note-save{
	margin-top: 5px; 
	padding: 5px;
}
/* </popup> */

/* < customer-create > */
div#customer-create{
	padding: 20px 20px 0px;
	height: 100%;
	float: left;
}

div.customer-type{
	padding-right: 0px;
	width: 20%;
	float: left;
}
div.customer-type input[type="text"]{
	width: 170px;	
}
div.customer-type select{
	width: 174px;	
}

div.customer-creation-block{
	margin-top: 5px;
	float: left;
	width: 100%;
}
div.customer-creation-block input[type="text"]{
	width: 140px;
}
div.customer-creation-block .group-add select
{
	width: 67%;
}
div.customer-creation-block .group-add input[type="submit"]{
	/*width: 5%;*/
	width: 25px;
}

div.customer-info{
	margin-left: 2px;
	margin-bottom: 5px;
	width: 74%;
	float: left;
}
div.customer-info input[type="text"]{
	width: 209px;
}
div.customer-addresses{
	padding-bottom: 5px;
	padding-top: 5px;
}

div#customer-address-grid{
	width: 100%;
}

div#customer-buttons{
	padding-right: 15px;
	text-align: right;
}

div.customer-address-mainDiv
{
	position: absolute;
	top: 85px; 
	left: 245px;
}

/* <customer-comment> */

div.customer-comment-mainDiv
{
	position: absolute;
	top: 85px; 
	left: 245px;
}
div#customer-comment-header
{
	height:47px;
	
}

div#customer-comment-header div
{
	float:left;
}

div#customer-comment-header-left
{
	background:url("../Images/Assortment/header-left.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#customer-comment-header-right
{
	background:url("../Images/Assortment/header-right.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#customer-comment-header-center
{
	background:url("../Images/Assortment/header-center.png") repeat scroll 0 0 transparent;
	width:462px;
	height: 47px;
}

div#customer-comment-header-center span
{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:bold;
	margin:15px;
	position:absolute;
}

div#customer-comment-header-center input
{
	float:right;
	font-size:1.2em;
	font-weight:bold;
	height:24px;
	margin-right:8px;
	margin-top:12px;
}

div#customer-comment-subMainDiv div.column1
{
	float: left;
}
div#customer-comment-subMainDiv div.column1 div.input-box
{
	padding-right:4px;
}

div#customer-comment-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	height: auto;
	width: 443px;
	display: table;	
	margin: 0px 1px;
}
div#customer-comment-subMainDiv input[type="text"]{
	width: 186px;
}
div#customer-comment-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}

div.customer-comment-grid-item
{
	padding: 2px 0;
}

div.customer-comment-right-column
{
	float: left;
	padding-left: 10px;
	width: 292px;
}

div#AddNewCommentDiv
{
	padding-top: 0px;
	width:120px;	
}

div#AddNewCommentDiv a
{
	color:#004CD5;
	text-decoration:underline;
}

/* </customer-comment> */

/* <customer-Freight> */

div.customer-freight-mainDiv
{
	position: absolute;
	top: 85px; 
	left: 245px;
}
div#customer-freight-header
{
	height:47px;
	
}

div#customer-freight-header div
{
	float:left;
}

div#customer-freight-header-left
{
	background:url("../Images/Assortment/header-left.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#customer-freight-header-right
{
	background:url("../Images/Assortment/header-right.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#customer-freight-header-center
{
	background:url("../Images/Assortment/header-center.png") repeat scroll 0 0 transparent;
	width:462px;
	height: 47px;
}

div#customer-freight-header-center span
{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:bold;
	margin:15px;
	position:absolute;
}

div#customer-freight-header-center input
{
	float:right;
	font-size:1.2em;
	font-weight:bold;
	height:24px;
	margin-right:8px;
	margin-top:12px;
}

div#customer-freight-subMainDiv div.column1
{
	float: left;
}
div#customer-freight-subMainDiv div.column1 div.input-box
{
	padding-right:4px;
}

div#customer-freight-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	height: auto;
	width: 443px;
	display: table;	
	margin: 0px 1px;
}
div#customer-freight-subMainDiv input[type="text"]{
	width: 186px;
}
div#customer-freight-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}

/* </customer-freight> */


/* <customer-address-edit> */

div#customer-address-edit-header
{
	height:47px;
	
}

div#customer-address-edit-header div
{
	float:left;
}

div#customer-address-edit-header-left
{
	background:url("../Images/Assortment/header-left.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#customer-address-edit-header-right
{
	background:url("../Images/Assortment/header-right.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#customer-address-edit-header-center
{
	background:url("../Images/Assortment/header-center.png") repeat scroll 0 0 transparent;
	width:603px;
	height: 47px;
}

div#customer-address-edit-header-center span
{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:bold;
	margin:15px;
	position:absolute;
}

div#customer-address-edit-header-center input
{
	float:right;
	font-size:1.2em;
	font-weight:bold;
	height:24px;
	margin-right:8px;
	margin-top:12px;
}

div#customer-address-subMainDiv div.column1
{
	float: left;
}

div#customer-address-subMainDiv div.column2
{
	float: left;
	padding-left: 15px;
}

div#customer-address-subMainDiv div.input-box
{
	padding: 0px;
}

div#customer-edit-container-left div#customer-address-subMainDiv div.input-box input[type="text"]
{
	width: 278px;
}

div#customer-edit-container-left div#customer-address-subMainDiv div.input-box select
{
	width: 282px;
}

div#customer-edit-container-left div#customer-address-subMainDiv div.input-box-zip input.zip[type="text"]
{
	width: 50px;
}

div#customer-edit-container-left div#customer-address-subMainDiv div.input-box-city
{
	padding-left: 15px;
}
div#customer-edit-container-left div#customer-address-subMainDiv div.input-box input.city[type="text"]
{
	width: 200px;
	
}



div.customer-address-apply
{
	background-color:#D9E7F7;
	border:1px solid #C6C6C6;
	display:none;
	float:left;
	padding:5px;
	position:relative;
	width:98.75%;
}

div#AddNewAddressDiv
{
	padding-top: 5px;
}

div#AddNewAddressDiv a
{
	color:#004CD5;
	text-decoration:underline;
}
/* </customer-address-edit>*/

div#customer-address-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	min-height: 160px;
	height: auto;
	max-width: 584px;
	display:table;	
	margin: 0px 1px;
}
div#customer-addres-subMainDiv input[type="text"]{
	width: 186px;
}
div#customer-addres-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}

div#customer-addres-subMainDiv select{
	width: 192px;
}
div#popup-customer-address-errors{
	margin-top: 10px; 
	padding-top: 5px;
	clear: both;
	float: none;
	font-weight: bold;
}

.customer-edit-action-buttons {
	margin-top: 5px;
	margin-right: -2px;
	clear: both;
	float: right;
	padding: 0px 15px;
}
/* </ customer-create > */


/* </ customer-create/edit > */

/* < customer-history > */
div#customer-history{
	clear: both;
	padding: 15px 15px 15px 0px;
	width: 100%;
}

div#customer-notes{
	margin-top: 5px;
}

td.customer-order-history span{
	 white-space:  normal;
}
/* </ customer-history > */

/* < tab_container > */
.customer-history .ajax__tab_header{	
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	font-weight: bold;
}
.customer-history .ajax__tab_body{	
	padding: 10px;
	border: solid 1px #CCCCCC;
	background-color: #F2F2F2;
}
.customer-history .ajax__tab_tab{
	padding: 9px 10px 0px 10px;
	margin: 0px 0px 0px -3px;
	text-align: center;
	background: url(../images/Customer/tab.png) repeat-x;
	width: 175px;
	height: 20px;
}
.customer-history .ajax__tab_outer{}	
.customer-history .ajax__tab_inner{}
.customer-history .ajax__tab_hover .ajax__tab_tab{}
.customer-history .ajax__tab_hover .ajax__tab_outer{}
.customer-history.ajax__tab_hover .ajax__tab_inner{}
.customer-history .ajax__tab_active .ajax__tab_tab{	
	color: #000;
}
.customer-history .ajax__tab_active .ajax__tab_outer{}
.customer-history .ajax__tab_active .ajax__tab_inner{}
/* </ tab_container > */

/* < common > */
div.customer-caption label{
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}

div.buttons input{
	height: 25px;
	font-weight: bold;
	margin-bottom:5px;
}

.seperate-line{
	width: 206px;
	margin-top: 19px;
	margin-left: -15px;
	float: left;
}

.order-header{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}

.bold{
	font-weight: bold;
}
/* </ common > */


/* < order-search > */
div#order-header{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	padding: 15px;
}
div#order-header span{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
}
div#search-block{
	padding: 15px 20px 10px 20px;
	width: 96%;
	
}
div#order-search-header{
	padding-bottom: 10px;
}
div#order-search-content{
	width: 97%;
}
div#order-information{
	width:40%; 
}
div#order-search-button{
	margin-right: 7px;
	margin-top: 5px;
}

div#order-search-result{
	float: left;
	width: 100%;
}
.order-horizontal-separator
{
	width: 100%; 
	background-color: #000000; 
	height: 3px; 
	float: left;
}
/* </ order-search > */


/* < order-create-edit > */
.order-back{
	margin-right: 7px;
	margin-top:-10px;
	margin-bottom:5px;
}
div#order-edit-panel{
	padding: 33px 20px 10px 20px;
	width: 96%;
}
div.order-header-row{
	padding-bottom: 24px;
	margin-top: 5px;
	height:8px;
}
div.order-header-row ul
{
	margin-bottom:-6px;
}

div#order-items{
	margin-top: 10px;
	float: left;
	width: 725px;
}
div#order-footer{
	float: left;
	width: 725px;
	padding-bottom: 15px;
	margin-top:10px;
}

a.blue
{
	color:#004CD5;
	text-decoration:underline;
}

div#order-items-summary
{
	width: 163px;
}
div#order-notes{
	padding-top: 5px;
	width: 59%;
}
div#order-add-note{
	margin-bottom: 5px;
}

div.summary-row{
	width: 100%;
	height:18px;
}
div.row-item-first{
	width: 70px;
	padding-right:20px;
}

div#summary-sum{
	width: 100%; 
	font-weight: bold;
	font-size: 1.4em;
	padding: 5px;
}
div#summary-sum div{
	margin-right: 10px;
}

/* < order-note-popup > */
div#order-note-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	margin-top: -5px;
	width: 424px;
	height: 360px;
}
div#order-note-subMainDiv span{
	color: #000000;
	font-size: 1em;
	font-weight: normal;	
}
div#order-note-subMainDiv textarea,
div#order-note-subMainDiv input[type="text"]{
	width: 417px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 100%;
}
div#order-note-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}
div#popup-order-note-errors{
	padding-top: 5px;
	clear: both;
	float: none;
	font-weight: bold;
}
div#popup-order-note-errors span{
	padding: 5px 0px 5px 0px;
	color: Red;
	font-weight: bold;
}
div.date-automatic{
	padding-right: 0px;
	clear: both;
	float: right;
}
div#order-note-subMainDiv div.date-automatic input[type="text"]{
	width: 150px;
}
/* </ order-note-popup > */

/* < order-row-note-popup > */
div#row-note-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	margin-top: -5px;
	width: 424px;
	height: auto;
}
div#row-note-subMainDiv span{
	color: #000000;
	font-size: 1em;
	font-weight: normal;
}
div#row-note-subMainDiv textarea,
div#row-note-subMainDiv input[type="text"]{
	width: 417px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 100%;
}
div#row-note-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}
div#row-note-item{
	margin-top: 10px;
}
div#row-comment-button{
	margin-top: 5px;
}
/* </ order-row-note-popup > */

/* </ order-create-edit > */






















/* ***************************************** Orders **************************************** */
.Customer_Edit_Order_Wraper
{
	background-color:#F0F0F0;
	width:900px;
	padding:10px;
	padding-left:15px;
	display:table;
	margin-top:20px;
}

.Customer_Edit_Order_Wraper .Order_Header_Wraper
{
	FONT-SIZE: 14px;
	COLOR: Black;	
	FONT-FAMILY: 'Arial';
	font-weight:bold;
}

.Customer_Edit_Order_Wraper .Order_Info_Wraper
{
	border:1px solid #B9B9B9;
	width:868px;
	height:100px;
	background-color:White;
	margin-top:10px;
	margin-bottom:8px;
	padding-top:10px;
	padding-left:10px;
}

.Customer_Edit_Order_Wraper .Order_Info_Wraper .First_Column
{
	float:left;
	border-right:1px solid #B9B9B9;
	width:250px;
	height:inherit;
}
.Customer_Edit_Order_Wraper .Order_Info_Wraper .First_Column .Customer
{
	float:left;
	border:1px solid #B9B9B9;
	padding:5px;	
	height:auto;	
}

.Customer_Edit_Order_Wraper .Order_Info_Wraper .Second_Column
{
	float:left;
	border-right:1px solid #B9B9B9;
	width:150px;
	padding-left:10px;	
	height:inherit;
}

.Customer_Edit_Order_Wraper .Order_Info_Wraper .Third_Column
{
	float:left;
	border-right:1px solid #B9B9B9;
	width:150px;
	padding-left:10px;
	height:inherit;
	
}

.Customer_Edit_Order_Wraper .Order_Info_Wraper .Fourth_Column
{
	float:left;	
	padding-left:10px;
	height:100%;
}

.Customer_Edit_Order_Wraper .OrderRows_Wraper
{
	width:880px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper
{
	border-top:4px solid #C6C6C6;
	width:880px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Note_Wraper
{
	float:left;
	width:400px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Note_Wraper input
{
	margin-top:5px;
	margin-bottom:4px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper
{
	float:left;
	border:1px solid Black;
	width:470px;
	margin-left:7px;
	background-color:White;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper .Total_Wraper
{
	clear:both;
	border-bottom:1px solid Black;
	height:20px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper .Total_Wraper .Total_Text
{
	float:left;
	border-right:1px solid Black;
	width:125px;
	height:20px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper .Total_Wraper .Quantity
{
	float:left;
	border-right:1px solid Black;
	width:95px;
	height:20px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper .Total_Wraper .Total_Price
{
	float:left;
	border-right:1px solid Black;
	width:124px;
	height:20px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper .Total_Wraper .Total_Vat
{
	float:left;
	height:20px;
}

.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Summary_Wraper .Sum
{
	border-bottom:1px solid Black;
	
	height:25px;
}


.Customer_Edit_Order_Wraper .Order_Note_And_Summary_Wraper .Go_Back
{
	float:left;
	padding-left:400px;
	padding-top:10px;
}
/* End Orders */



/* ========================================================================================================================= */



/* <Customer groups> */
div.customer-groups-tree{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div.customer-groups-right{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
div.customer-groups
{
	float: left;
	width: 100%;
}
div.customer-groups-apply
{
	float: left;
	padding: 10px 0;
}
div#customer-group-edit div.input-box
{
	padding-right: 20px;
	float: left;
}
/* </Customer groups> */

/* <Customer groups popup> */

div.popup-customers-container
{
	position: absolute;
	width: 958px;
	overflow: hidden;
	height: 600px;
}

div#popup-customers-header {
	/*background-image: url(../Images/Grid/header-settings.png);*/
	background-repeat: no-repeat;
	height: 30px;	
	/*background: url('../Images/Assortment/header-center.png');*/
}

div#popup-customers-header div
{
	float: left;
}

div#popup-customers-header-center label,
div#popup-customers-header-center span {
	position: absolute;
	margin: 5px 0 0 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-customers-header input {
	margin-top: 5px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-customers-content
{
	margin: 0px 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 935px;
	padding: 10px;
	overflow: hidden;
	height: 530px; 
}

div#popup-customers-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 30px;
}

div#popup-customers-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 30px;
	float: left;
}

div#popup-customers-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height: 30px;
	width: 944px;
}

div#popup-customers-content-right
{
	float:right;
	width:745px;
}

div#popup-customers-top-menu
{
	min-width: 300px;
	padding-left:20px;
}

div#popup-customers-pick-button
{
	float: right;
	padding: 10px 10px;
 }
 
div#popup-customers-result
{
	width: 936px;
}

div#search-fields-wider div.input-box select
{
	width: 295px;	
}

div.popup-customer-group-grid
{
	float: left;
	padding-left: 10px; 
	width: 670px;
}

div.popup-customers-body
{
	height: 480px;
	overflow: scroll;
}
div.popup-customer-group-buttons
{
	clear: both;
	float: right;
	padding-right: 5px; 
}

div#popup-customers-content div#customer-search
{
	float: left;
	margin: 0;
	padding: 0;
}

div#popup-customers-content .buttons-container
{
	margin-top: 0;
}

div#popup-customers-content div.buttons-container a
{
	padding: 5px 0 0 0;
}

div#popup-customers-content div.input-box-date
{
	padding-right: 10px;
}

div#popup-customers-content div#customer-search-container .assortment-header
{
	margin-top: 0;
}

div#popup-customers-content div.customer-horizontal-separator
{
	height: 1px;
}

div#popup-customers-content div.input-box, 
div#popup-customers-content div.input-box-float-left
{
	margin-top: 0;
}

/* </Customer groups popup> */

div.customer-groups-tree div.menu-container,
div.customer-groups-tree div.menu-shadow
{ 
	height: 115px;
	width: 145px;
}
div.customer-groups-tree div.menu-container-root,
div.customer-groups-tree div.menu-shadow-root
{ 
	height: 50px;
	width: 145px;
}

span.customer-header
{
    padding-top: 10px;
    color:#969696;
    font-size:16px;
    font-weight:bold;
}

div.customer-horizontal-separator
{
    border-bottom: solid 3px #000000; 
	min-width: 950px;
	display: block;
}

div.customer-horizontal-separator-right-area
{
    border-bottom: solid 1px #C0C0C0; 
	width: 190px;
	display: block;
	margin-right:-10px;
}

br.customer-clear
{
    clear: both;
    font-size: 1px;
}


/* <general> */

div#customer-edit-container-left
{
	background-color:#FFFFFF;
	border-color:#C0C0C0;
	border-right:1px solid #C0C0C0;
	border-style:solid;
	border-width:4px 1px 1px;
	float:left;
	height:550px;
	overflow:auto;
	padding: 0px 10px;
	width: 742px;
	display: block;
}

div#customer-edit-container-right
{
	background-color:#FFFFFF;
	border-color:#C0C0C0;
	border-right:1px solid #C0C0C0;
	border-style:solid;
	border-width:4px 1px 1px;
	float:right;
	height:550px;
	overflow:auto;
	padding-left:10px;
	padding-right:10px;
	width:202px;
}

div#customer-edit-header
{
	color:#969696;
	font-size:16px;
	font-weight:bold;
	padding-bottom: 24px;
	margin-top: 5px;
	height:8px;
}

div#customer-edit-container-left div.input-box input[type="text"]
{
	width: 180px;
}

div#customer-edit-container-left div.input-box select
{
	width: 280px;
}

div#customer-edit-container-right div.control-container select
{
	width: 190px;
}
div#customer-edit-container-right div.control-container input[type="text"]
{
	width: 186px;
}

div#customer-edit-container-right a
{
	color:#004CD5;
	text-decoration:underline;
}

div#customer-comment
{
	width: 185px;
	overflow:  visible;
}

div#customer-comment span
{
	white-space: normal;
}

div#customer-comment div.customer-comment-item
{
	padding-bottom: 10px;
}

div#customer-comment div.customer-comment-item span
{
	font-weight: normal;
}

div#customer-comment div.customer-comment-item span.date,
div#customer-comment div.customer-comment-item span.author
{
	font-size: 0.8em;
}

div#customer-edit-container-right div.input-box
{
	padding-top: 10px;
}

div#customer-edit-container-right div#customer-groups
{
	padding: 5px 0px 0px 0px;

}

/* </general> */

/*<order address> */
div.order-address {
	float: left;
	padding: 10px 0px 10px 10px;
	margin: 0px;
}

div.order-address div.input-box-date
{
	float: left;
	margin-top: 5px;
	padding-right: 20px;
}
div.order-address div.input-box-date input[type="text"]
{
	width: 166px;
}
div.order-address div.input-box select
{
	margin: 1px;
	width: 184px;
}
div.order-address div.buttons-container,
div.order-address div.buttons-container
{
	float: right;
	padding: 0px 20px;
}
div.order-address div.buttons-container a,
div.order-address div.buttons-container a
{
	padding: 15px 0px 0px 0px;
	float: right;
}
div.order-address div.customer-input-box
{
	padding-right: 20px;
	float: left;
}
div.customer-last-input-box
{	padding-right: 0px;
	float: left;
	margin-top:6px;
}

div.customer-last-input-box select 
{
	width: 310px;
	margin:1px 1px 1px 1px;
}
div.order-address div.customer-input-box input[type="text"]
{
	width: 280px;
}

div.order-address div.input-box
{
	padding: 0px;
}

div.order-address div.column
{
	float: left;
	width: 160px;
	line-height: 1.6em;
}

div.order-address div.column div.info
{
	margin-bottom:10px;
}

/*</order address> */

ul.split-order-menu
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
	list-style-position: outside;
}
ul.split-order-menu li
{
	margin: 0px;
	padding: 0px;
	float: left;
	display: list-item;
}
ul.split-order-menu div.list-item-container
{
	height: 32px;
	margin: 0px;
	padding: 0px;
	padding-right: 4px;
	float: left;
	display: block;
}
ul.split-order-menu .list-item-container div.left-corner
{ 
	margin: 0px;
	padding: 0px;
	width: 5px;
	height: 32px;
	background-image: url("../Images/MasterPage/background-menu-left-corner.gif");
	background-repeat: no-repeat;
	float: left;
	display: block;
}
ul.split-order-menu .list-item-container-active div.left-corner
{
	background-image: url("../Images/MasterPage/background-menu-left-corner-active.gif");
}
ul.split-order-menu .list-item-container div.right-corner
{
	margin: 0px;
	padding: 0px;
	width: 5px;
	height: 32px;
	background-image: url("../Images/MasterPage/background-menu-right-corner.gif");
	background-repeat: no-repeat;
	float: left;
	display: block;
}
ul.split-order-menu .list-item-container-active div.right-corner
{
	background-image: url("../Images/MasterPage/background-menu-right-corner-active.gif");
}
ul.split-order-menu .list-item-container div.menu-item
{
	margin: 0px;
	padding: 0px;
	height: 32px;
	background-image: url("../Images/MasterPage/background-menu-item.gif");
	background-repeat: repeat-x;
	background-color: #ffffff;
	float: left;
	display: block;
}
ul.split-order-menu .list-item-container-active div.menu-item
{
	background-image: url("../Images/MasterPage/background-menu-item-active.gif");
}

/*<order audit> */

div#customer-edit-container-right div.control-container 
{
	width:185px;
	padding-top:10px;
}

div#customer-edit-container-right div.control-container table {
	padding-top: 10px;
}

/*</order audit> */


div#order-item-search div.input-box input[type="text"]
{
	width: 90%;
}
div#order-item-search div.input-box select
{
	width: 92%;
}
div#order-item-search div.input-box input.price[type="text"]
{
	width: 90%;
}

div#order-item-search  div.column-last input[type="text"]{
	width: 97%;
}

div#order-payment-edit-subMainDiv
{
	background-color:#E1E1E1;
	border:1px solid #000000;
	display:table;
	height:auto;
	margin:0 1px;
	max-width:302px;
	min-height:120px;
	padding:5px 15px 15px;
}

div#order-payment-edit-subMainDiv div.input-box
{
	float: left;
}

div#order-payment-edit-subMainDiv div.input-box select
{
	width: 130px;
}

div#order-payment-edit-header
{
	height:47px;
	
}

div#order-payment-edit-header div
{
	float:left;
}

div#order-payment-edit-header-left
{
	background:url("../Images/Assortment/header-left.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#order-payment-edit-header-right
{
	background:url("../Images/Assortment/header-right.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#order-payment-edit-header-center
{
	background:url("../Images/Assortment/header-center.png") repeat scroll 0 0 transparent;
	width:321px;
	height: 47px;
}

div#order-payment-edit-header-center span
{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:bold;
	margin:15px;
	position:absolute;
}

div#order-payment-edit-header-center input
{
	float:right;
	font-size:1.2em;
	font-weight:bold;
	height:24px;
	margin-right:8px;
	margin-top:12px;
}

div#tracking-id a,
div#customer-comment-subMainDiv a
{
	text-decoration:none;
	color:#ff0000;
}
div#tracking-id input[type="text"]
{
	margin-right:3px;
}




div#order-edit-container-left
{
	background-color:#FFFFFF;
	border-color:#C0C0C0;
	border-right:1px solid #C0C0C0;
	border-style:solid;
	border-width:4px 1px 1px;
	float:left;
	height:550px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px 10px;
	width: 742px;
	display: block;
}

div#order-edit-container-right
{
	background-color:#FFFFFF;
	border-color:#C0C0C0;
	border-right:1px solid #C0C0C0;
	border-style:solid;
	border-width:4px 1px 1px;
	float:right;
	height:550px;
	overflow-x:auto;
	overflow-y:auto;
	padding-left:10px;
	padding-right:10px;
	width:202px;
}

div#order-edit-container-right a
{
	color:#004CD5;
	text-decoration:underline;
}


div#order-address-edit-header
{
	height:47px;
	
}

div#order-address-edit-header div
{
	float:left;
}

div#order-address-edit-header-left
{
	background:url("../Images/Assortment/header-left.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#order-address-edit-header-right
{
	background:url("../Images/Assortment/header-right.png") repeat scroll 0 0 transparent;
	height:47px;
	width:7px;
}

div#order-address-edit-header-center
{
	background:url("../Images/Assortment/header-center.png") repeat scroll 0 0 transparent;
	width:603px;
	height: 47px;
}

div#order-address-edit-header-center span
{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:bold;
	margin:15px;
	position:absolute;
}

div#order-address-edit-header-center input
{
	float:right;
	font-size:1.2em;
	font-weight:bold;
	height:24px;
	margin-right:8px;
	margin-top:12px;
}

div#order-address-subMainDiv div.column1
{
	float: left;
}

div#order-address-subMainDiv div.column2
{
	float: left;
	padding-left: 15px;
}

div#order-address-subMainDiv div.input-box
{
	padding: 0px;
}

div#order-edit-container-left div#order-address-subMainDiv div.input-box input[type="text"]
{
	width: 278px;
}

div#order-edit-container-left div#order-address-subMainDiv div.input-box select
{
	width: 282px;
}

div#order-edit-container-left div#order-address-subMainDiv div.input-box-zip input.zip[type="text"]
{
	width: 50px;
}

div#order-edit-container-left div#order-address-subMainDiv div.input-box-city
{
	padding-left: 15px;
}
div#order-edit-container-left div#order-address-subMainDiv div.input-box input.city[type="text"]
{
	width: 200px;
	
}
div#order-address-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	min-height: 160px;
	height: auto;
	max-width: 584px;
	display: table;	
	margin: 0px 1px;
}
div#order-addres-subMainDiv input[type="text"]{
	width: 186px;
}
div#order-addres-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}

div#order-addres-subMainDiv select{
	width: 192px;
}

div#order-edit div.order-input-box {
float:left;
padding-right:20px;
}

div#order-address-subMainDiv div.input-box {
padding:0;
}

div.order-edit-action-buttons {
	margin-top: 5px;
	margin-right: -2px;
	clear: both;
	float: right;
	padding: 0px 15px;
}

div#order-edit-container-right div.control-container 
{
	width:185px;
	padding-top:10px;
}

div#order-edit-container-right div.control-container table {
padding-top: 10px;
}

div.order-address-mainDiv
{
	position: absolute;
	top: 85px; 
	left: 245px;
}

div.order-address-mainDiv div.button-container span
{
	text-decoration: none;
}

div#order-edit-container-right a span,
div#order-edit-container-left a span
{
	text-decoration: none;
}

div.order-audit-history-item
{
	padding-bottom: 10px;
}

div.order-audit-history-itemspan
{
	font-weight: normal;
}

div.order-audit-history-item span.date
{
	font-size: 0.8em;
}


div#order-items-summary div.order-summary-value
{
	float: right;
	width: 50px;
	text-align: right;
	padding-right: 36px;
}

div#order-items-summary div.order-summary-label
{
	float: right;
	text-align: right;
}

td.order-edit-summary-title
{
	text-align: right;
	padding-right: 15px;
}
td.order-edit-summary-vat
{
	text-align: right;
	padding-right: 15px;
}
td.order-edit-summary-value
{
	text-align: right;
	padding-right: 34px;
}