﻿body
{
}

table#jula
{
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	width: 80%;
	}

table#jula td.header,
table#jula td.header-name,
table#jula td.header-recipients
{
	background-color: #000000;
	color: #FFFFFF;
}

table#jula td.header-name
{
	width: 30%;
}

table#jula td.header-recipients
{
	width: 60%;
}

table#jula td
{
	border-top: solid 1px black;
	border-right: solid 1px black;
	padding: 0px 10px;
}


div.area-input
{
	padding: 5px 0px;
}


table#recipients
{
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	width: 80%;
	}

table#recipients td.header,
table#recipients td.header-name,
table#recipients td.header-recipients
{
	background-color: #000000;
	color: #FFFFFF;
}

table#recipients td.header-name
{
	width: 30%;
}

table#recipients td.header-recipients
{
	width: 60%;
}

table#recipients td
{
	border-top: solid 1px black;
	border-right: solid 1px black;
	padding: 0px 10px;
	background-color: #FFFFFF;
}
