﻿/* < BlockBrandListEdit.aspx > */
div.popup-brands-add-container
{
	width: 218px;
	overflow: hidden;
	height: 260px;
}

div#popup-brands-add-header {
	background-repeat: no-repeat;
	height: 47px;	
}

div#popup-brands-add-header div
{
	float: left;
}

div#popup-brands-add-header-center label,
div#popup-brands-add-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-brands-add-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-brands-add-content
{
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 205px;
	height: 190px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
}

div#popup-brands-add-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}

div#popup-brands-add-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}

div#popup-brands-add-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 204px;
}
/* </ BlockBrandListEdit.aspx > */
/**************************************** < BRANDS > ********************************************/
div.brand-panel-create
{
	color:#CBCBCB;
	float:left;
	padding-bottom:8px;
	padding-left:15px;
	padding-top:10px;
	width:100px;
	margin-right:10px;
	padding:5px;
}
div.brand-panel-create-store
{
	float: left; 
	padding-bottom: 8px; 
	padding-top: 8px; 
	font-size: 0.7em;
    font-weight: normal;
}
div.brand-panel-messages
{
	float:left; 
	width:984px; 
	margin-bottom:-10px;
}
div.brand-place-holder
{
	float:left;
	vertical-align:top;
	padding: 10px;
	width:976px;
}
div.brand-edit-header
{
	color:#999999;
	font-size:16px;
	font-weight:bold;
}
div.brand-edit-block
{
	float: left;
	width: 465px;
}
div.brand-edit-container div.column
{
	padding-bottom: 10px;
}

/**************************************** </ BRANDS > *******************************************/

/**************************************** < PRODUCT EDIT > ********************************************/
div.data-column
{
	float: left;
	padding-right: 20px;
	padding-top: 5px;
}

div.data-row
{
	float: left;
	padding-bottom: 10px;
}

div.product-icon-wrapper
{
	float: left; 
	padding-top: 5px; 
	padding-right: 5px; 
	width: 70px; 
	height: 30px;
}

.product-icon-img
{
	max-height: 30px;
	max-width: 50px;
} 

div.tags-list-container
{
	float: left;
	padding-right: 20px;
	padding-top: 5px;
	width: 320px;
}

div.data-column-tags
{
	float: left;
	margin: 0;
	padding-right: 5px;
	padding-top: 5px;
	
}

div.data-column-tags-center
{
    float: left;
    margin: 0;
	padding-right: 5px;
	padding-top: 50px;
}

.list-box-tags
{
    width: 135px;
}

div.popup-tags-container
{
	width: 318px;
	overflow: hidden;
}

div#popup-tags-header 
{
	background-repeat: no-repeat;
	height: 47px;	
}

div#popup-tags-header div
{
	float: left;
}

div#popup-tags-header-center label,
div#popup-tags-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-tags-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-tags-content
{
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 305px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
}

div#popup-tags-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}

div#popup-tags-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}

div#popup-tags-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 304px;
}

div#popup-tags-content div.message-container 
{
    width: 93%;
}

div#tag-grid-item input[type="image"]
{
    vertical-align: bottom;
}

div.size-deviation-right div.context-menu-container,
div.size-deviation-right div.context-menu-shadow
{
	height: 45px;
}
a.size-deviation-menu-button
{
	cursor: pointer;
}
div.size-deviation-container
{
	width: 100%; 
	overflow: hidden;
}
div.size-deviation-left
{
	float: left;
}
div.size-deviation-right
{
	float: left;
	padding-left: 3px;
}
input.size-deviation-box
{
	text-align: right;
	width: 64px;
}
input.override-eu-box
{
	text-align: right;
	width: 67px;
}
/**************************************** </ PRODUCT EDIT > ********************************************/

/**************************************** < ORDER EDIT > ********************************************/
td.order-edit-summary-title
{
	text-align: right;
	padding-right: 15px;
}
td.order-edit-summary-vat
{
	text-align: right;
	padding-right: 15px;
}
td.order-edit-summary-value
{
	text-align: right;
	padding-right: 34px;
}
/**************************************** </ ORDER EDIT > ********************************************/

div.image-rotator-context-menu-shadow
{
  
	background-color: Gray;
	position: absolute;
	width: 120px;
	height: 50px;
	overflow: visible;
	margin-left: 5px;
	margin-top: 5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display:block;
	z-index: 99;
    
}
div.image-rotator-context-menu-container
{
 	background-color: #ffffff;
	border: solid 1px #c6c6c6;
	width: 120px;
	height: 50px;
	position: absolute;
	overflow: visible;
	z-index: 100;
}

div.image-rotator-context-menu-caller
{ 
    cursor: pointer; 
    padding-top:15px;
}

div.link-button-removeGroup
{
  padding-left:260px; 
    }

table.image rotator 
{
    
}
.movie-modalBackground
{
     z-index: 100000111;        
 }
 
 #customer-freight-subMainDiv div.message-container 
 {
    width:100%; 
    }