﻿
/*
div#treeview-header
{
	padding: 2px 10px;
	background-color: #c6c6c6;
	color: #ffffff;
}

div.menu-header
{
	padding: 4px 10px;
	font-weight: 600;
}
	
div.menu-row
{ padding: 4px 10px; }

div.menu-row img
{ border: none; }

div.menu-row-separator
{
	border-bottom: solid 1px #c6c6c6;
	height: 0px;
	font-size: 0px;
}
*/
div.menu-shadow,
div.menu-shadow-root, 
div.menu-shadow-typeof-page
{
	background-color: Gray;
	position: absolute;
	width: 140px;
	overflow: visible;
	top: 5px;
	left: 5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

div.menu-container,
div.menu-container-typeof-page,
div.menu-container-root
{
	background-color: #ffffff;
	border: solid 1px #c6c6c6;
	width: 140px;
	position: absolute;
	overflow: visible;
}

div.menu-container-typeof-page,
div.menu-shadow-typeof-page
{ height: 400px; }

div.menu-container,
div.menu-shadow
{ height: 290px; }

div.menu-container-root,
div.menu-shadow-root
{ height: 220px; }

div#menu-row-close
{ height: 19px; }

/*div#menu-row-close a
{
	padding: 4px 4px;
	float: right;
}*/

div#menu-row-close span
{
	padding: 4px 10px;
	float: left;
	width: 78px;
	color: Gray;
}

a#menu-close
{
	float: right;
	color: #000000;
	cursor: pointer;
	padding: 4px 8px;
}







/*Style for small menu (used in Categories)*/

div.menu-shadow-small
{
	background-color: Gray;
	position: absolute;
	width: 120px;
	overflow: visible;
	top: 5px;
	left: -5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

div.menu-container-small
{
	background-color: #f0f0f0;
	border: solid 1px #c6c6c6;
	width: 120px;
	position: absolute;
	overflow: visible;
}

div.menu-container-small,
div.menu-shadow-small
{ height: 50px; }