﻿div.treeview-node
{	
	padding-left: 16px;
	vertical-align: text-top;
	min-height: 20px;
}

div.treeview-node img.tree-line
{
    float: left;
}

div.treeview-node a
{
	font-style: normal;
	font-variant: normal;
	color: Black;
	text-decoration: none;
}

div.treeview-node-parent
{	
	vertical-align: top;	
	padding: 5px 0px;
	overflow:hidden;
	width: 100%;
	background: url('../Images/Tree/tree-line.png') no-repeat bottom left;	
}

a.treeview-node-selected
{
	font-weight: bold;
}

div.treeview-header
{
	padding: 2px 10px;
	background-color: #c6c6c6;
	color: #ffffff;
	font-size: 1.2em;
}

div.treeview-main-container
{
	min-height: 200px;
	width: 224px;
	background-color: #FFFFFF;
}

div.tree-item-cell-expand
{
	min-width: 16px;
	min-height: 1px;
	float: left;
}

div.tree-item-cell-expand img
{
	vertical-align: middle;
	cursor: pointer;
}
	
div.tree-item-cell-main
{
	float: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

div.tree-item-cell-main a, img
{
	vertical-align: bottom;
	}

div.tree-item-cell-action
{
	float: right;
	min-width: 22px;
}

div.tree-item-cell-action img
{
	vertical-align: middle;
}
.tree-item-expander-hidden
{
	display: none;
}
.tree-node-img
{
	cursor: pointer;
}

/*-------------Menu-------------------*/
div.menu-header
{
	padding: 4px 10px;
	font-weight: 600;

}
	
div.menu-row
{ padding: 4px 10px; overflow: hidden; height: 14px; white-space: nowrap; }

div.menu-row img
{ border: none; }

div.menu-row-separator
{
	border-bottom: solid 1px #c6c6c6;
	height: 0px;
	font-size: 0px;
}

div.menu-shadow,
div.menu-shadow-root, 
div.menu-shadow-typeof-page
{
	background-color: Gray;
	position: absolute;
	width: 120px;
	overflow: visible;
	top: 5px;
	left: 5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 99;
}

div.menu-container,
div.menu-container-root,
div.menu-container-typeof-page
{
	background-color: #ffffff;
	position: absolute;
	border: solid 1px #c6c6c6;
	width: 120px;
	overflow: visible;
	z-index: 100;
}

div#node-menu
{position: absolute;
 overflow: visible;
	font-family: Tahoma;
	font-size: 1.0em;
}

div#menu-row-close
{ height: 22px;
   }

div#menu-row-close span
{
	padding: 4px 10px;
	float: left;
	width: 78px;
	color: Gray;
}

a#menu-close
{
	float: right;
	color: #000000;
	cursor: pointer;
	padding: 4px 8px;
}

/*Style for small menu (used in Categories)*/

div.menu-shadow-small
{
	background-color: Gray;
	position: absolute;
	width: 120px;
	overflow: visible;
	top: 5px;
	left: -5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

div.menu-container-small
{
	background-color: #f0f0f0;
	border: solid 1px #c6c6c6;
	width: 120px;
	position: absolute;
	overflow: visible;
}

div.menu-container-small,
div.menu-shadow-small
{ height: 50px; }

/*Style for Assortment/Images*/

div.menu-shadow-images
{
	background-color: Gray;
	position: absolute;
	width: 120px;
	overflow: visible;
	top: 5px;
	left: -5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 99;
}

div.menu-container-images
{
	background-color: #ffffff;
	position: absolute;
	border: solid 1px #c6c6c6;
	width: 130px;
	overflow: visible;
	z-index: 100;
}

div.menu-container-images,
div.menu-shadow-images
{ height: 90px; }


/* <Template-Fragment-Functions> */
div.treeview-main-container-wide
{
	min-height: 200px;
	border: solid 1px #c6c6c6;
	background-color: #FFFFFF;
	width: 626px;
}

div.tree-item-cell-main-wide
{
	float: left;
	max-width: 100%;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
/* </Template-Fragment-Functions> */