﻿<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" AutoEventWireup="true" CodeBehind="FlagsMaster.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Campaigns.Flags.FlagsMaster" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>

<asp:Content ID="FlagsHeaderContent" ContentPlaceHolderID="body" runat="server">
	<Scensum:ToolBoxPanel ID="FlagsHeaderPanel" runat="server" Text="<%$ Resources:Campaign, Literal_Flags%>" ShowSeparator="true" style="float:left">
		<div class="item" style="width: 50px; color: #CBCBCB; float: left; padding-bottom: 8px; padding-top: 10px; padding-left:15px;">
			<%= Resources.General.Literal_Create %>
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
            <uc:ImageLinkButton Id="CreateButton" runat="server" Text="<%$ Resources:Campaign, Literal_Flag%>" ImageUrl="~/Media/Images/Campaign/flag.gif" 
				SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
    </Scensum:ToolBoxPanel>
    <br style="clear: both;"/>
	<div class="flag-messages">
		<asp:ContentPlaceHolder ID="MessagePlaceHolder"  runat="server" />
	</div>
	<div class="flag-body">
		<asp:ContentPlaceHolder ID="FlagsPlaceHolder" runat="server" />
	</div>
</asp:Content>
