<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Customers.Default" %>

<asp:Content ID="CustomersTab" ContentPlaceHolderID="body" runat="server">
    <br /><br />Customers Main Tab
</asp:Content>
