<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile ="~/Modules/Media/MediaArchive/Media.Master"  CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Media.MediaArchive.Default" %>
<asp:Content ID="MediaTabContent" ContentPlaceHolderID="MediaContent"  runat="server">
</asp:Content>