﻿<%@ Master Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="CustomerGroups.master.cs" Inherits="Litium.Scensum.BackOffice.Modules.Customers.CustomerGroups.CustomerGroupsMaster" %>
<%@ Register Assembly="Litium.Scensum.Web.Controls" Namespace="Litium.Scensum.Web.Controls.Tree.TemplatedTree" TagPrefix="CustomControls" %>
<%@ Register TagPrefix="Scensum" Namespace="Litium.Scensum.Web.Controls" Assembly="Litium.Scensum.Web.Controls" %>
<%@ Register TagPrefix="ajaxToolkit" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit" %>

<asp:Content ID="CustomerGroupsContent" ContentPlaceHolderID="body" runat="server">
    <script type="text/javascript">
	 	function HideRootExpander(treeId) {
	 		if (null != treeId) {
	 			$('span#' + treeId).find('div.tree-item-cell-expand:first').hide();
	 		}
	 	}
	 	
	 	function PrepareRootMenu(treeId) {
	 		if (null != treeId) $('span#' + treeId).find('img.tree-menu-caller').click(function() {
	 			ShowHideNonRootSubMenu(this);
	 		});
	 	}

	 	function ShowHideNonRootSubMenu(obj) {
	 		if (FindNodeKeyU(obj) == -1) {
	 			$('div#menu-container').attr('id', 'menu-container-root');
	 			$('div#menu-container-root').attr('class', 'menu-container-root');
	 			$('div#menu-shadow').attr('id', 'menu-shadow-root');
	 			$('div#menu-shadow-root').attr('class', 'menu-shadow-root');
	 			$('div.menu-hide').hide();
	 		}
	 		else {
	 			$('div#menu-container-root').attr('id', 'menu-container');
	 			$('div#menu-container').attr('class', 'menu-container');
	 			$('div#menu-shadow-root').attr('id', 'menu-shadow');
	 			$('div#menu-shadow').attr('class', 'menu-shadow');
	 			$('div.menu-hide').show();
	 		}
	 	} 
	 	
        function confirmCustomerGroupFolderDelete() {
        	return DeleteConfirmation("<%= Resources.Customer.Literal_folderWithGroups %>");
        }
	</script>
    
    <Scensum:ToolBoxPanel ID="CustomerGroupsPanel" runat="server" ShowSeparator="true" Text="<%$ Resources:Customer, Literal_CustomerGroupsToolBoxPanel %>" style="float:left">
		<div class="item" style="width: 100px; color: #CBCBCB; float: left; padding-bottom: 8px;
            padding-top: 10px; padding-left:15px;"><%= Resources.General.Literal_Create %>
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
            <uc:ImageLinkButton Id="CreateButton" runat="server" Text="<%$ Resources:Customer, Literal_CustomerGroupCapital %>" 
            ImageUrl="~/Media/Images/Customer/customer-group-icon.gif" SkinID="HeaderPanelButton" UseSubmitBehaviour="false" />
        </div>
        <div style="padding-bottom: 10px; border-right: solid 1px #ffffff; width: 20px; height: 29px; float: left;">&nbsp
        </div>
        <asp:Panel runat="server" ID="SearchPanel" DefaultButton="SearchButton">
        <div class="fontSearch"; style="padding-bottom:8px; padding-right:5px; padding-top: 10px;float:left; ">
            <span style="float:left; font-size:16px; padding-right:35px;padding-left:15px; "> <%= Resources.General.Literal_Search %></span>
            <asp:TextBox ID="SearchTextBox" runat="server" Style="float: left;" />
        </div>
        <div style="float: left; padding-bottom: 8px; padding-top: 8px; font-size: 0.7em; font-weight: normal;">
			<uc:ImageLinkButton ID="SearchButton" runat="server" Text="<%$ Resources:General, Button_Find %>" 
				SkinID="HeaderPanelButton"  UseSubmitBehaviour="false" />
        </div>
        </asp:Panel>    
    </Scensum:ToolBoxPanel>
    <br />
    <div class="customer-groups-tree">
		<asp:UpdatePanel ID="LeftUpdatePanel" runat="server" UpdateMode="Conditional">
			<ContentTemplate>
						
				<CustomControls:TemplatedTreeView runat="server" ID="CustomerGroupsTree" DisplayTextControl="TitleLabel" 
					UseRootNode="true" NodeExpanderHiddenCssClass="tree-item-expander-hidden" NodeImgCssClass="tree-node-img"
					MainContainerCssClass="treeview-main-container" NodeMainContainerCssClass="treeview-node"
					NodeChildContainerCssClass="treeview-node-child" NodeExpandCollapseControlCssClass="tree-icon"  
					NodeParentContainerCssClass="treeview-node-parent" NodeExpandedImageUrl="~/Media/Images/Tree/tree-collapse.png"
					NodeCollapsedImageUrl="~/Media/Images/Tree/tree-expand.png" MenuCallerElementCssClass="tree-menu-caller"
					MenuContainerElementId="node-menu" MenuCloseElementId="menu-close">
					<HeaderTemplate>
					</HeaderTemplate>
					<NodeTemplate>
						<div class="tree-item-cell-expand">
							<img src="<%=ResolveUrl("~/Media/Images/Tree/tree-expand.png") %>" alt="" class="tree-icon" />
							<asp:Button ID="Expander" runat="server" CommandName="Expand" CssClass="tree-item-expander-hidden"/>
						</div>
						<div class="tree-item-cell-main">
							<img src="<%=ResolveUrl("~/Media/Images/Tree/folder.png") %>" alt="" class="tree-node-img" />
							<asp:LinkButton ID="TitleLabel" runat="server" CommandName="Navigate"></asp:LinkButton>
						</div>
						<div class="tree-item-cell-action">
							<img src="<%=ResolveUrl("~/Media/Images/Tree/tree-item-action.png") %>" alt="Menu" class="tree-menu-caller"  
							     onmouseover='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu-over.png") %>";'
                                 onmouseout='this.src="<%=ResolveUrl("~/Media/Images/Common/context-menu.png") %>";'  />
                        </div>
						<br />
					</NodeTemplate>
					<MenuTemplate>
                        <div id="node-menu" style="position: absolute;">
							<div id="menu-shadow" class="menu-shadow"></div>
                            <div id="menu-container" class="menu-container">
                                <div class="menu-header">
                                  <%= Resources.General.Literal_Manage %>
                                </div>
                                <div class="menu-row-separator">
                                </div>
                                <div class="menu-row">
                                    <img src="<%=ResolveUrl("~/Media/Images/Assortment/new-folder.gif") %>" />
                                    <asp:LinkButton ID="CreateFolderButton" runat="server" OnClick="LbtnCreateFolder_Click"><%= Resources.General.Literal_CreateChildFolder %></asp:LinkButton>
                                </div>
                                <div id="menu-hide" class="menu-hide">
									<div class="menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Customer/customer-group-icon.gif") %>" width="15px"/>
										<asp:LinkButton ID="CreateGroupButton" runat="server" OnClick="LbtnCreateGroup_Click"><%= Resources.Customer.Literal_CreateCustomerGroup %></asp:LinkButton>
									</div>
									<div class="menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Assortment/edit.gif") %>" />
										<asp:LinkButton ID="EditButton" runat="server" OnClick="LbtnEditFolder_Click"><%= Resources.General.Button_MoveEdit %></asp:LinkButton>
									</div>
									<div class="menu-row">
										<img src="<%=ResolveUrl("~/Media/Images/Common/delete.gif") %>" />
										<asp:LinkButton ID="DeleteButton" runat="server" OnClick="LbtnDelete_Click" OnClientClick="return confirmCustomerGroupFolderDelete();" Text="<%$ Resources:General, Button_Delete %>"/>
									</div>
								</div>
                            </div>
                        </div>
                    </MenuTemplate>
				</CustomControls:TemplatedTreeView>
				<br />
				<div style="width: 230px">
					<uc:MessageContainer ID="SystemMessageContainer" MessageType="Failure" HideMessagesControlId="DeleteButton" runat="server" />
				</div>			
			
		</ContentTemplate>
		</asp:UpdatePanel>
		
    </div>


    <div class="customer-groups-right"> 
     <div style="float: left; width:739px; margin-top:-15px" >
         <asp:ContentPlaceHolder ID="MessageContainer"  runat="server" />
           </div>
		<asp:UpdatePanel ID="RightUpdatePanel" runat="server" UpdateMode="Always">
			<ContentTemplate>
				<span class="main-caption"><uc:LiteralEncoded ID="Breadcrumbs" runat="server"></uc:LiteralEncoded></span>
			</ContentTemplate>
		</asp:UpdatePanel>	
		<br />
		<asp:ContentPlaceHolder ID="CustomerGroupsPlaceHolder" runat="server" />
	</div>
</asp:Content>