<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Assortment.Default" %>

<asp:Content ID="AssortmentTab" ContentPlaceHolderID="body" runat="server">
    <br /><br /><%= Resources.Product.Literal_AssortmentMainTab %>
</asp:Content>