﻿/******************Start Assortment /Articles************************************/

.Ass_Art_Product
{
	height:100%;
}


.Ass_Art_Product .Read_Only
{
	COLOR: #A0A0A0;
	FONT-FAMILY: 'Arial'
}


.Ass_Art_Product .Main_Edit
{
	background-color:#F0F0F0;
	padding-right:10px;
	padding-left:10px;
	height:inherit;
	padding-bottom:10px;
}

.Ass_Art_Product .Main_Edit .Edit_Header
{
	padding-top:15px;
	padding-bottom:10px;
}

.Ass_Art_Product .Main_Edit .Edit_Header .Image
{
	float:left;
	margin-left:10px;
	background-image: url(../Images/u243.png);
	height:14px;
	width:14px;		
}
.Ass_Art_Product .Main_Edit .Edit_Header .Title
{
	float:left;
	padding-left:30px;
	font-size:15px;
	font-style:normal;
}

.Ass_Art_Product .Main_Edit .Edit_Header .Public_Page
{
	float:left;
	padding-left:460px;
}
.Ass_Art_Product .Main_Edit .Fields_Container
{
	background-color:#C6C6C6;
	padding:10px;	
	padding-right:7px;
	height:100%;
	display:table;
}

.Ass_Art_Product .Main_Edit .Fields_Container .First_Field_Container
{
	clear: both;
}


.Ass_Art_Product .Main_Edit .Fields_Container .Second_Field_Container
{
	clear:both;
	background-color:#E1E1E1;
	padding-bottom:10px;
	padding-left:10px;
	padding-top:15px;
	height:100%;
	float:left;
}


.Ass_Art_Product .Main_Edit .Fields_Container .Second_Field_Container .Article_Information_Text
{
	FONT-SIZE: 19px;
	COLOR: #666666;
	FONT-FAMILY: 'Arial'
}

.Ass_Art_Product .Main_Edit .Buttons1
{
	padding-left:74%;
}

div.prodduct-image
{

}

div.prodduct-image div.default-image
{
	width: 170px;
	height: 150px;
	margin-right:5px;
}

div.prodduct-image div.default-image-first-column
{
	float:left;
	margin-top:25px;
	width :100px;
	margin-right:5px;
	overflow:hidden;
	white-space:nowrap;
}

div.prodduct-image div.default-image-bottom
{
	clear:both;
	float:none;
}
div.prodduct-image div.default-image-second-column
{
	float:left;
	margin-top:25px;
	width :110px;
}

div.variation-items{
	padding-bottom: 10px; 
	padding-top: 5px;
	width: 71%;
	padding-right: 10px;
}
div.variation-items input[type="text"]{
	width: 30px;
}



/******************Start Assortment /Articles************************************/


/******************Start CampaignList************************************/
.Campaign_List_Container
{
	clear:both;
	display:table;
	height:100%;
	width:100%;
	font-weight:700;
	color:#777777;
}
.Campaign_List_Container .Wraper
{ 
	clear:both;
	width:100%;
	font-weight:normal;
	color:#000000;
}

.Campaign_List_Container .Wraper .Discount
{
	float:left;
	width:48%;
}

.Campaign_List_Container .Wraper .Discount .CampaignName
{
	font-weight:700;
	color:#777777;
}

.Campaign_List_Container .Wraper .Discount .TB 
{
	width:97%;
	color:#999999;
}

.Campaign_List_Container .Wraper .Price
{
	float:left;
	padding-left:3%;
	width:48%;
}

.Campaign_List_Container .Wraper .Price .TB 
{
	width:97%;
	color:#999999;
}

/****************** Start Assortment / Articles / Variant ************************************/
.Variant_Header
{
	FONT-SIZE: 16px;
	COLOR: #555555;	
	FONT-FAMILY: 'Arial';
	font-weight:bold;
}

.Variant_SubHeader
{
	FONT-SIZE: 14px;
	COLOR: #777777;	
	FONT-FAMILY: 'Arial';
	font-weight:bold;
}

.Ass_Art_Variant
{
	float:left;
	width:98%;
	border:1px solid #A0A0A0;
	background-color:#F0F0F0;	
	padding:10px;
}

.Ass_Art_Variant_TAB
{
	float:left;
	width:98%;
	border:1px solid #A0A0A0;
	background-color:#F0F0F0;	
	padding:10px;
	height:auto;
}

.Ass_Art_Variant .Main_Edit
{
	background-color:#F0F0F0;
	margin-top:10px;
	padding-right:10px;
	height:100%;
}

.Ass_Art_Variant .Main_Edit .Edit_Header
{
	padding-top:15px;
	padding-bottom:10px;
}

.Ass_Art_Variant .Main_Edit .Edit_Header .Image
{
	margin-left:10px;
	background-image: url(../Images/u243.png);
	background-repeat: no-repeat;
	height:14px;
	width:14px;		
}
.Ass_Art_Variant .Main_Edit .Edit_Header .Title
{	
	padding-left:30px;
	font-size:20px;
	font-style:normal;		
}
.Ass_Art_Variant .Main_Edit .Fields_Container
{	
	background-color:#C6C6C6;
	padding-right:10px;	
	padding-left:10px;
	margin-left:10px;
	padding-bottom:10px;
}

.Ass_Art_Variant .Main_Edit .Fields_Container .First_Field_Container
{	
	margin-left:10px;
	margin-right:10px;
	clear: both;
}


.Ass_Art_Variant .Main_Edit .Fields_Container .Second_Field_Container
{	
	clear:both;
	margin-left:5px;	
	padding-bottom:10px;
	padding-left:10px;
	height:100%;
	width:70%;
	float:left;
}

.Ass_Art_Variant .Main_Edit .Fields_Container .Third_Field_Container
{	
	margin-left:5px;	
	padding-bottom:10px;
	padding-left:10px;
	height:100%;
	width:25%;
	float:left;
}
.Ass_Art_Variant .Main_Edit .Fields_Container .Articles
{
	float:left; 
	padding-top:5px;
	width:90%;
}

.Ass_Art_Variant .Main_Edit .Fields_Container .Buttons
{
	float:right; 
	padding-right:5px; 
	padding-top:5px;
}



/****************** End Assortment / Articles / Variant ************************************/


/********************************* Start Assortment Tab ************************************/

.Ass_Tab .Price .ajax__tab_header 
{	
	PADDING-LEFT:0px;
}
.Ass_Tab .Price .ajax__tab_outer 
{	
	PADDING-RIGHT: 4px;
	
	HEIGHT: 21px;
}	
.Ass_Tab .Price .ajax__tab_inner 
{	
	PADDING-LEFT: 3px;	
	
}
.Ass_Tab .Price .ajax__tab_tab 
{	
	PADDING-RIGHT: 4px;	
	PADDING-LEFT: 4px;	
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;	
	BACKGROUND:#C6C6C6;
	MARGIN: 0px;	
	HEIGHT: 13px
}
.Ass_Tab .Price .ajax__tab_hover .ajax__tab_outer 
{	
	
}
.Ass_Tab .Price .ajax__tab_hover .ajax__tab_inner 
{	
	
}
.Ass_Tab .Price .ajax__tab_hover .ajax__tab_tab 
{	

}
.Ass_Tab .Price .ajax__tab_active .ajax__tab_outer 
{	
	
}
.Ass_Tab .Price .ajax__tab_active .ajax__tab_inner 
{	
	
}
.Ass_Tab .Price .ajax__tab_active .ajax__tab_tab 
{	
	BACKGROUND:#F0F0F0;
}
.Ass_Tab .Price .ajax__tab_body 
{	
	BORDER-RIGHT: #999999 1px solid;	
	BORDER-TOP: #999999 0px solid;	
	BORDER-LEFT: #999999 1px solid;	
	BORDER-BOTTOM: #999999 1px solid;	
	FONT-SIZE: 1em;	
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background:#F0F0F0;
}
/*****************************************************************************/

.Ass_Tab .Tab_Img .ajax__tab_header 
{	
	PADDING-LEFT:0px;
}
.Ass_Tab .Tab_Img .ajax__tab_outer 
{	
	PADDING-RIGHT: 4px;
	
	HEIGHT: 21px;
}	
.Ass_Tab .Tab_Img .ajax__tab_inner 
{	
	PADDING-LEFT: 3px;	
	
}
.Ass_Tab .Tab_Img .ajax__tab_tab 
{	
	PADDING-RIGHT: 4px;	
	PADDING-LEFT: 4px;	
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;	
	BACKGROUND:#C6C6C6;
	MARGIN: 0px;	
	HEIGHT: 13px
}
.Ass_Tab .Tab_Img .ajax__tab_hover .ajax__tab_outer 
{	
	
}
.Ass_Tab .Tab_Img .ajax__tab_hover .ajax__tab_inner 
{	
	
}
.Ass_Tab .Tab_Img .ajax__tab_hover .ajax__tab_tab 
{	

}
.Ass_Tab .Tab_Img .ajax__tab_active .ajax__tab_outer 
{	
	
}
.Ass_Tab .Tab_Img .ajax__tab_active .ajax__tab_inner 
{	
	
}
.Ass_Tab .Tab_Img .ajax__tab_active .ajax__tab_tab 
{	
	BACKGROUND:#F0F0F0;
}
.Ass_Tab .Tab_Img .ajax__tab_body 
{	
	BORDER-RIGHT: #999999 1px solid;	
	BORDER-TOP: #999999 0px solid;	
	BORDER-LEFT: #999999 1px solid;	
	BORDER-BOTTOM: #999999 1px solid;	
	FONT-SIZE: 1em;	
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background:#F0F0F0;
}
/*****************************************************************************/
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_header 
{	
	PADDING-LEFT:0px;
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_outer 
{	
	PADDING-RIGHT: 4px;
	
	HEIGHT: 21px;
}	
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_inner 
{	
	PADDING-LEFT: 3px;	
	
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_tab 
{	
	PADDING-RIGHT: 4px;	
	PADDING-LEFT: 4px;	
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;	
	BACKGROUND:#C6C6C6;
	MARGIN: 0px;	
	HEIGHT: 13px
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_hover .ajax__tab_outer 
{	
	
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_hover .ajax__tab_inner 
{	
	
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_hover .ajax__tab_tab 
{	
	
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_active .ajax__tab_outer 
{	
	
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_active .ajax__tab_inner 
{	
	
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_active .ajax__tab_tab 
{	
	BACKGROUND:#F0F0F0;
}
.Ass_Tab .Ass_Tab_Atribute .ajax__tab_body 
{	
	BORDER-RIGHT: #999999 1px solid;	
	BORDER-TOP: #999999 0px solid;	
	BORDER-LEFT: #999999 1px solid;	
	BORDER-BOTTOM: #999999 1px solid;	
	FONT-SIZE: 1em;	
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background:#F0F0F0;
}
/*****************************************************************************/
.Ass_Tab .ajax__tab_header 
{	
	FONT-SIZE: 1.1em;	
	/*background:url(../Images/Tabs/tab-line.gif) repeat-x bottom;*/
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	PADDING-LEFT:90%;
}
.Ass_Tab .ajax__tab_outer 
{	
/*	background:url(../Images/Tabs/tab-right.gif) no-repeat right;*/
	HEIGHT: 21px;
}	
.Ass_Tab .ajax__tab_inner 
{	
	PADDING-LEFT: 3px;	
	/*background:url(../Images/Tabs/tab-left.gif) no-repeat;*/
}
.Ass_Tab .ajax__tab_tab 
{	
	PADDING-RIGHT: 4px;	
	PADDING-LEFT: 4px;	
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;	
	background:#5B5B5B;/*url(../Images/Tabs/tab.gif) repeat-x;*/
	MARGIN: 0px;	
	HEIGHT: 13px
}
.Ass_Tab .ajax__tab_hover .ajax__tab_outer 
{	
	/*background:url(../Images/Tabs/tab-hover-right.gif) no-repeat right;*/
}
.Ass_Tab.ajax__tab_hover .ajax__tab_inner 
{	
	/*background:url(../Images/Tabs/tab-hover-left.gif) no-repeat;*/
}
.Ass_Tab .ajax__tab_hover .ajax__tab_tab 
{	
/*	background:url(../Images/Tabs/tab-hover.gif) repeat-x;	*/
}
.Ass_Tab .ajax__tab_active .ajax__tab_outer 
{	
	/* background:url(../Images/Tabs/tab-active-right.gif) no-repeat right;*/
}
.Ass_Tab .ajax__tab_active .ajax__tab_inner 
{	
	/*background:url(../Images/Tabs/tab-active-left.gif) no-repeat;?*/
}
.Ass_Tab .ajax__tab_active .ajax__tab_tab 
{	
	background:#C6C6C6/*url(../Images/Tabs/tab-active.gif) repeat-x;*/
}
.Ass_Tab .ajax__tab_body 
{	
	BORDER-RIGHT: #999999 1px solid;	
	BORDER-TOP: #999999 0px solid;	
	BORDER-LEFT: #999999 1px solid;	
	BORDER-BOTTOM: #999999 1px solid;	
	FONT-SIZE: 1em;	
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color:#C6C6C6;
}
/********************************* End Assortment Tab ************************************/




/************************ Assortment / RelationLists ************************************/
.rlHeader
{
	FONT-SIZE: 16px;
	COLOR: #999999;	
	FONT-FAMILY: 'Arial';
	font-weight:bold;
}

.rlSubHeader
{
	FONT-SIZE: 16px;
	COLOR: #555555;	
	FONT-FAMILY: 'Arial';
	font-weight:bold;
}

.rlMaster
{
	float:left;
	background-color:#FFFFFF;
	border:1px solid #B9B9B9;
	height:auto;
	width:946px;
}

.rlMaster .rlChannel
{
	float:left;
	background-color:#F0F0F0;
	height:46px;
	width:472px;
	border-right:1px solid #B9B9B9;
	border-bottom:1px solid #B9B9B9;
}

.rlMaster .rlCreate
{
	float:left;
	background-color:#F0F0F0;
	height:46px;
	width:473px;
	border-bottom:1px solid #B9B9B9;
}

.rlMaster .rlContent
{
	float:left; 
	padding-left:5px; 
	padding-top:13px; 
	height:20px
}

.rlMaster .rlPH
{
	float:left;
	width:926px;
	padding:10px;
	padding-bottom:10px; 
}



/* < assortment > */

div#assortment-main
{
	overflow: hidden;
}

div#assortment-main input
{
	font-size: 10pt;
	padding-left: 10px;	
}

div#assortment-main select
{
	font-size: 10pt;
	margin-top: 2px;	
}

div#assortment-main div#search-container
{
	background-color: #ececec;
	width: 992px;
	border: solid 1px #b9b9b9;
	height: 44px;
}
div#search-container div
{
	padding: 10px 10px 10px 10px;
}

div#search-container input.predicate
{
	width: 100px;
}
/*div#assortment-main div#search-container div
{
	padding: 10px 10px 10px 10px;
}*/

div#assortment-main div#search-criteria
{
	float:left;
	color: #000;
	min-width: 254px;
}

div#assortment-main div#sort
{
	float:left;
}

div#assortment-main div#order
{
	float:left;
	
}

div#assortment-main div#view-type
{
	float:left;
	height: 25px;
	padding: 4px 5px 5px 35px;
}

div#assortment-main div#view-type div
{
	vertical-align: bottom;
	padding: 0px 0px 0px 0px;
	float:left;
}


div#assortment-main div.view-button
{
	background: url('../Images/Assortment/btn-backgr.png') no-repeat top left;
	position: relative;
	float: left;
	
}

div#assortment-main img
{
	position: relative;
	border: none;
	
}

div#assortment-main img.search-view-button-icons
{
	padding: 8px 10px 8px 10px;
	}

div#assortment-main div.assortment-button
{
	width: 224px;
	border: solid 1px #b9b9b9;
	border-top: none 0px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	cursor: pointer;
	font-size: 1.2em;
}
div#price-folder-tree div.menu-container,
div#price-folder-tree div.menu-shadow
{ 
	height: 100px; 
}
div#price-folder-tree div.menu-container-root,
div#price-folder-tree div.menu-shadow-root
{ 
	height: 50px; 
}	
br.new-line
{
	font-size: 0px;
}

 div#images-display
{
	padding: 1px 10px 10px 20px;
	float: left;
}
div#images-menu
{
	padding: 15px;
	float :left;
}

 div#images-display
{
	clear: left;
}
	
	div#assortment-main div#assortment-treeview
{
	width: 217px;
	border-top: none 0px;
	font-size: 1em;
	}

div.image-catalog-container
{
	padding: 10px 10px 10px 10px;
}	
div.image-catalog-item-container
{
	border: solid 1px #c6c6c6;
	width: 176px;
	margin: 4px 4px 4px 4px;
	float: left;
}

div.image-catalog-item-container img
{
	padding: 10px 8px;
}

div.image-catalog-image
{
	height: 166px;
	vertical-align: middle;
	text-align: center;
}

img.image-catalog
{
	padding-top: 30px;
}

div.image-catalog-name,
div.image-catalog-date
{
	padding: 3px 0px 3px 0px;
	text-align: center;
}
div.image-catalog-name a
{
	font-size: 1.15em;
	color: #fff;
	}

div.image-catalog-name
{	border-bottom: solid 1px #c6c6c6;
	border-top: solid 1px #c6c6c6;
	background-color: #C6C6C6;
	font-weight: 700;
	float: left;
	width: 153px;
	
}
div.image-catalog-delete
{
	background-color: #c6c6c6;
	width: 23px;
	height: 19px;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	float: right;
	padding-top: 4px;
	/*//padding-top: 1px;
	//padding-bottom: 3px;*/
}
div.image-catalog-delete a
{
	color: #ffffff;
}
	
/*div.image-catalog-date
{	
}*/

div#images-current-catalog
{
	font-weight: 700;
	font-size: 1.2em;
	margin-left: 5px;
}

table#image-catalog-list
{
	border-left: solid 1px #c6c6c6;
}

table#image-catalog-list td
{
	padding-left: 10px;
}

table#image-catalog-list
td.header-thumbnail,
td.header-name, 
td.header-date
{
	padding: 2px 2px 2px 2px;
	background-color:#000000;
	color: #ffffff;
	border-right: solid 1px #c6c6c6;
}

table#image-catalog-list
td.thumbnail,
td.name, 
td.date
{
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #c6c6c6;
}
table#image-catalog-list td.thumbnail
{
	width: 65px;
	text-align: center;
	padding: 1px 0px;
}

table#image-catalog-list td.name
{
	width: 460px;
}
table#image-catalog-list td.date
{
	width: 100px;
}

table#image-catalog-list td.delete
{
	width: 15px;
	background-color: #c6c6c6;
	border-bottom: solid 1px #ffffff;
	padding-left: 0px;
	text-align: center;
}
/* </ assortment > */


/* < image-upload > */

div#image-upload
{
	padding: 0px 0px 0px 20px;
}

div#images-display span.header
{
	font-weight: 700;
	color: #999999;
	font-size: 12pt;
}

div#image-upload input.category-path
{
	width: 590px;	
	height: 24px;
}
div#image-upload select
{
	width: 260px;	
	height: 24px;
	font-size: 10pt;
}

div#image-upload div.separator
{
	border-top: solid 1px #c6c6c6;
	width: 600px;
	height: 1px;
}

div#image-upload input.save
{
	margin-left: 510px;
	width: 80px;
}

div#image-upload div.element-container
{
	float: left;
	vertical-align: bottom;
	padding: 0px 10px 0px 0px;
}

div#image-upload input.catalog-name
{
	width: 135px;
}

	
/* </ image-upload > */

/* < image-create-catalog > */

div#image-catalog-create-container
{
	padding: 20px 20px 20px 20px;
	vertical-align: bottom;
}

div#image-catalog-create-container div#image-catalog-name,
div#image-catalog-parent, div#image-catalog-save
{
	padding: 0px 10px 0px 10px;
	float: left;
}

div#image-catalog-save
{
	padding-top: 17px;
}

/* </ image-create-catalog > */

/* < image-item > */

div.image-item-container
{
	border: solid 1px #c6c6c6;
	width: 176px;
	margin: 4px 4px 4px 4px;
	float: left;
}

div.image-item-image
{
	height: 166px;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

div.image-dimensions
{
	background-color: #c6c6c6;
	padding: 3px 0px 3px 7px;
	text-align: left;
	font-size: 0.8em;
}
table#images-list
{
	border-left: solid 1px #c6c6c6;
	}

table#images-list
td.images-header-thumbnail,
td.images-header-name, 
td.images-header-dimensions
{
	padding: 2px 2px 2px 6px;
	background-color:#000000;
	color: #ffffff;
	border-right: solid 1px #c6c6c6;
}

table#images-list
td.thumbnail,
td.name, 
td.dimensions
{
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #c6c6c6;
}
table#images-list td.thumbnail
{
	width: 75px;
	text-align: center;
	padding: 0px 0px;
}

table#images-list img
{
	width: 50px;
	/*height: 60%;*/
	padding: 0px 0px;
	border: none 0px;
}

table#images-list td.name
{
	padding-left: 6px;
	width: 380px;
}
table#images-list td.dimensions
{
	padding-left: 6px;
	width: 175px;
	font-size: 0.8em;
}

table#images-list td.delete
{
	width: 15px;
	background-color: #c6c6c6;
	border-bottom: solid 1px #ffffff;
	padding-left: 0px;
	text-align: center;
}
/* </ image-item > */

/* < image-details > */

div#image-details-container
{
	padding: 20px 20px 20px 20px;
	}

div#image-details-images-container
{
	vertical-align: middle;
	text-align: center;
	width: 450px;
	height: 400px;
	overflow: hidden;
	border: solid 1px #c6c6c6;
	float: left;
	}
	
div#image-details-images-container
{
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
}
	
div#image-details-sizes a
{
	font-size: 0.9em;
	cursor: pointer;
}

div.image-details-btn-size
{
	background: url('../Images/Assortment/size-btn-backgr.png') no-repeat top left;
	width: 85px;
	height: 16px;
	text-align: center;
	vertical-align: middle;
	float:left;
	padding: 0px 1px 0px 1px;
}

div#image-details-info
{
	float: left;
	padding: 0px 0px 10px 10px;
}

div#image-details-info div.image-details-info-header, div.image-details-info-row
{
	width: 225px;
	
	padding: 3px 5px 2px 5px;
}

div#image-details-info div.image-details-info-header
{
	background-color: #000000;
	color: #ffffff;
	border: solid 1px #000000;
	vertical-align: middle;
}

div#image-details-info div.image-details-info-row
{
	border: solid 1px #c6c6c6;
	background-color: #f0f0f0;
	border-top: solid 1px #f0f0f0;
}

/* </ image-details > */



/* < relation list > */
/* < master > */
div#rl-master{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}
div#rl-master span{
	white-space: nowrap;
	overflow: hidden;
}
div#rl-master div.rl-master-first-item{
	padding: 15px;
	width: 400px;
	float: left;
}
div#rl-master div.rl-master-last-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#rl-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div#rl-master div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}
div#rl-master div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div#rl-master div.link-button a{
	display: block;
	font-size: 0.7em;
	font-weight: normal;
	padding: 5px;
}

div#top-wrapper-relations
{
	float :left;
	width: 956px;
	padding: 12px 20px 13px 20px;
}

div#rl-content{
	
	vertical-align: top;
	width: 996px;
	float: left;
}
/* </ master > */
div#rl-block img{
	margin-top: -2px;
}

div#rl-block div.column{
	width: 32%;
	padding-left: 10px;
	padding-right: 10px;
	float :left;
}

div#rl-block div.column-last{
	width: 32%;
	float :left;
	padding-left: 9px;
}

div#rl-block div.column-first{
	width: 32%;
	float :left;
	padding-right: 9px;
}

div.relation-column-top-first, div.relation-column-top-first-border,
div.relation-column-top-last, div.relation-column-top-last-border,
div.relation-column-first, div.relation-column-last
{
	width: 49%;
	float :left;
}

div.relation-column-top-first,
div.relation-column-top-first-border{
	padding-right: 9px;
	min-height :140px;
}
div.relation-column-top-first-border{
	border-right: solid 1px #ccc; 
}

div.relation-column-top-last,
div.relation-column-top-last-border{
	padding-left: 9px;
	min-height :140px;
}
div.relation-column-top-last-border{
	border-left: solid 1px #ccc; 
}

div.relation-column-first
{
	padding-right: 9px;
	border-right: solid 1px #ccc; 
}

div.relation-column-last
{
	padding-left: 9px;
}

div#rl-block div.input-box{
	width: 100%;
	padding-right: 0px;
}
div#rl-block input[type="text"]{
	width: 98%;
	margin-top :4px;
}
div#rl-block select{
	width: 100%;
	margin-top :4px;
}
div#rl-block div#search-product-criteria .price{
	width: 90%;
}

div#poput-images-content div#rl-block div#search-product-criteria .price{
	width: 140px;
}

div#rl-block div#block-search-button
{
	margin-bottom: 15px;
}

div#rl-block div.content-box{
	width: 956px;
	padding-top: 10px;
	margin-left: 0px;
	padding :16px 20px;
}

div#rl-poducts{
	padding :13px 20px;
	width: 956px;
	margin-bottom: 10px;
}
div#rl-poducts div.column{
	width: 50%;
}
div#rl-poducts div.input-box{
	width: 100%;
}


div#rl-buttons{
	padding: 0px 20px 10px 0px;
}

div#relation-product-buttons{
	width: 100%;
}
div#relation-product-remove{
	width: 49%;
}

div.rlSearch
{	
	float: left;
	padding: 12px 20px 15px 20px;
	width: 956px;
	overflow: hidden;
}

div.rl-search-result
{	
	float: left;
	padding: 10px 20px 15px 20px;
	width: 956px;
	overflow: hidden;
}
div.rlSearchHeader
{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}
div.rlSearchForm
{
	float: left;
	width: 100%;
}
.rlSearchButton
{
	top: 27px;
	/*//top: 28px;*/
	position: relative;
	float: right;
}
.rlSearchName
{
	width: 423px;	
	margin-top: 6px;
}
.rlSearchType
{
	width: 423px;	
	margin-top: 6px;
}
/* </ relation list > */


/* < assortment > */
/*SEARCH*/
div#articles-search{
	width: 956px;
	padding: 13px 20px 0px 20px;
	
}
/*---*/
div.articles-search-block{
	float: left; 
	padding-top: 11px;
	padding-bottom: 13px;
	width: 100%;
}
div.articles-search-block select{
	width: 208px;
}
/*---*/
div#search-block-title{
	margin-bottom: 5px;
}

.product-horizontal-separator
{
	width: 100%; 
	background-color: #000000; 
	height: 3px; 
	float: left;
}

/*SEARCH CRITERIA*/
div#search-block-criteria{
	width: 100%; 
	padding-top: 1px;
}
div#search-block-criteria div.column{
	width: 32%;
	padding-left: 10px;
	padding-right: 10px;
}
div#search-block-criteria div.column-first{
	width: 32%;
	float :left;
	padding-right: 9px;
}
div#search-block-criteria div.column-last{
	width: 32%;
	float :left;
	padding-left: 9px;
}
div#search-block-criteria div.input-box{
	width: 100%;
	padding-right: 0px;
}
div#search-block-criteria input[type="text"]{
	width: 98%;
	margin-top: 4px;
}
div#search-block-criteria select{
	width: 100%;
	margin-top: 4px;
}
div#product-relation-list-search
{	
	float: left;
	padding: 12px 20px 15px 20px;
	width: 755px;
	overflow: hidden;
}
.productRelationSearchName
{
	width: 320px;	
	margin-top: 6px;
}
.productRelationSearchType
{
	width: 320px;	
	margin-top: 6px;
}
/*---*/
div#search-block-criteria div#search-product-criteria .price{
	width: 90%;
}

div#search-block-criteria div#search-product-criteria .price-to{
	width: 94%;	
}
/*---*/
div#search-block-criteria div#block-search-button{
	margin-right: 10px;
}

/*SEARCH RESULTS*/
div#articles-search-results{
	padding: 15px;
	padding-top: 13px;
	padding-top: 13px;
	width: 97%;
	float: left;
}
/* </ assortment > */

div.tabs-main-container
{
	background-color: #FFFFFF;
	border: solid 1px #c0c0c0;
	border-top: solid 4px #c0c0c0;
	min-height: 648px;
	padding: 20px 20px;
	float: left;
	width: 680px;
	overflow-y: auto;
	overflow-x: hidden;
	}

.product-field-caption
{
	position: relative;
	top: -5px;
	font-weight: bold;
}

div.tabs-main-container img
{
	border: none;
}
div.tabs-inner-tab
{
	width: 680px;
}

.button-with-backgr
{
	color: #FFFFFF;
	width: 62px;
	height: 25px;
	text-align: center;
	}

.button-middle
{
	background:url('../Images/btn-backgr.jpg');
	color: White; 
	padding: 4px 5px 0px 5px;
	height: 21px; 
	text-align: center;
	vertical-align: middle;
	float: left;
	font-weight: bold;
}
.button-left-border
{
	background: url('../Images/btn-left-border.jpg') no-repeat;
	width: 6px;
	height: 25px;
	float: left;
}

.button-right-border
{
	background: url('../Images/btn-right-border.jpg') no-repeat;
	width:7px;
	height: 25px;
	float: left;
}

.button-container
{
	border-width: 0px;
	border-spacing: 0px;
	display: inline;
	cursor: hand;
}

.header-button-middle
{
	background-color: #fff; 
	color: black; 
	height: 19px; 
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	float: left;
	border-bottom: solid 1px #989898;
	border-top: solid 1px #989898;
	padding-right: 2px;
	width: auto;
}

.header-button-left-border
{
	background: url('../Images/header-btn-left-border.gif') no-repeat;
	width: 5px;
	height: 25px;
	float: left;
}

.header-button-right-border
{
	background: url('../Images/header-btn-right-border.gif') no-repeat;
	width:5px;
	height: 25px;
	float: left;
}



.button-middle-disabled
{
	background-color: Gray; 
	color: White; 
	padding: 4px 5px 0px 5px;
	height: 19px; 
	text-align: center;
	vertical-align: middle;
	float: left;
}
.button-left-border-disabled
{
	background: url('../Images/btn-left-border-disabled.jpg') no-repeat;
	width:3px;
	height: 23px;
	float: left;
}

.button-right-border-disabled
{
	background: url('../Images/btn-right-border-disabled.jpg') no-repeat;
	width:3px;
	height: 23px;
	float: left;
}


div#product-edit-action-buttons
{
	float: right;
	padding-right: 27px;
	padding-bottom: 15px;
	}
/*div#product-edit-action-buttons a
{
	float: left;
	padding: 0px 5px;
	cursor: pointer;
}*/

div#product-edit-main-action-buttons
{
	float: right;
	padding-right: 0px;
	padding-bottom: 12px;
	}
div#product-edit-main-action-buttons a
{
	float: left;
	padding: 0px;
	padding-top: 5px;
	cursor: pointer;
}

div#product-main-description
{
	float: right;
	width: 254px;
	height: 688px;
	padding-left: 10px;
	border: solid 1px #b9b9b9;
	border-top: solid 4px #c0c0c0;
}

div#product-main-description br.row-separator
{
	font-size: 0.5em;
}

div#product-main-description input[type="text"]
{
	width: 224px;
}
div#product-main-description select
{
	width: 230px;
}

div#product-main-description div {
	padding-bottom: 5px;
	padding-top: 5px;
}

/* < variation > */
/*MAIN DIV*/
div#assortment-variation{
	width: 100%;
	float: left;
	padding-top: 13px;
	padding-bottom:16px;
}
div#assortment-variation img{
	/*margin-top: -2px;This applies to all images inside div#assortment-variation, which is not good*/
}
div#assortment-header img{
	margin-top: -2px;
}
/*TABS DIV*/
div#variation-tabs{
	width: 97%;
	float: left;
	padding: 13px;
}
div#variation-tabs .gv-Header th {
	border: 1px solid #C6C6C6;
}

/* < variation-seo > */
/*SEO*/
div.variation-seo{
	padding: 5px;

}
input[type="text"].variation-seo,
textarea.variation-seo
{
	padding: 0px 0px;
	width: 99%;
}
div.variation-seo div.input-box {
	width: 99%;
}
/* </ variation-seo > */

/* < variation-info > */
/*INFO*/
div#variation-info{
	background-color: #E4E4E4;
}
/*---*/
div.article-info-box{
	padding: 5px 10px 5px 0px;
}
div.article-info-box input[type="text"],
div.article-info-box select{
	width: 200px;
}
/*---*/
div#variant-web-shop-title{
	width: 10%;
}
/*---*/
div.variant-article-list{
	padding: 10px;
	border-top: solid 1px #fff;
}
div.variant-article-list table{
	margin-top: 5px;
	margin-bottom: 10px;
}
/*---*/
div#variant-article-information{
	width: 61%;
	padding: 10px 15px 10px 15px;
	border-right: solid 1px #fff;
}
div#variant-article-information div.column{
	width: 33%;
}
div#variant-article-information div.input-box{
	width: 95%;
}
div#variant-article-information div.input-box input,
div#variant-title input{
	width: 667px;
}
/*---*/
div#variant-title{
	width: 670px;
	margin-top: 7px;
}
/*SETTINGS*/
div#variation-settings-info{
	width: 33%
}
div#price-settings{
	padding: 10px;
	width: 100%;
}

/*---*/
div#variant-recomended-price{
	width: 65%;
}
div#variant-recomended-price input[type="text"]{
	width: 100%;
}
/*---*/
div#variant-vat{
	width: 30%;
	padding: 5px 0px 10px 0px;
}
div#variant-vat input[type="text"]{
	width: 94%;
	font-weight: bold; 
	font-size: 1.5em;
}
/*---*/
div#variant-price{
	width: 70%; 
	padding: 5px 0px 10px 0px;
}
div#variant-price input[type="text"]{
	width: 98%; 
	font-weight: bold; 
	font-size: 1.5em;
}
/*VARIANT-CAMPAIN-LIST*/
div.variant-campaign-list span{
	clear: both;
	color: #666666;
	font-weight: bold;
	font-size: 1.3em;
	float: left;
}
/*VARIANT-CAMPAIGN-LIST*/
div.variant-campaign-item span{
	clear: both;
	color: #666666;
	font-weight: bold;
	font-size: 1em;
	padding-top: 5px;
	float: left;
}
/*VARIANT-CAMPAIGN-COLUMN*/
div.variant-campaign-column{
	float: left;
	width: 49%;
	padding-right: 5px;
}
div.variant-campaign-column span,
div.variant-campaign-column-last span{
	clear: none;
	color: #000;
	font-weight: normal;
	padding-top: 0px;
}
div.variant-campaign-column input{
	width: 93%;
	
}

/*VARIANT-VARIANTGROUP-CREATE*/
div#variation-group-create div#master
{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
	width:100%;
}

div#variation-first-item{
	padding: 15px;
	width: 180px;
	float: left;
	border-right: solid 1px #C6C6C6;
}
div#variation-last-item{	
	padding: 10px;
	float: left;
}
div#variation-first-item div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}

div#variation-group-create
{	
	width: 100%;
	float: left;
}
div#variation-group-create div.main
{	
	width: 100%;	
	float: left;
	padding-top: 12px;
}

div#variation-group-create div#header
{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
	text-align:left;	
}

div#variation-group-create div.column, div#variation-search div.column
{
	margin-top: 0px;
	width: 32%;
}

div#variation-group-create div.input-box 
{
	width: 100%;
	padding-right: 0px;
}

.width-200px
{
	width: 200px;
}

div#variation-group-create div.main-tabs
{
	clear:both;
	padding-top: 15px;
}

div#variation-group-create div.tab
{
}

div#variation-group-create div.main-tabs div.variation-group-criteria
{
}

div#variation-group-create div.main-tabs div.variation-group-variants,
div#variation-group-create div.main-tabs div.variation-group-criteria
{
	
}
div#variation-group-create div.main-tabs div.variation-group-variants
{
	padding: 15px;
	border-style: solid;
	border-color: #C0C0C0;
	border-width: 4px 1px 4px 1px;
	margin-bottom: 15px;
}

/* VARIANTION-GROUP-EDIT */


/* END VARIANTION-GROUP-EDIT */

/*VARIANT-CAMPAIGN-COLUMN-LAST*/
div.variant-campaign-column-last{
	float: left;
	width: 50%;
}
div.variant-campaign-column-last span{
	padding: 0px 0px 0px 0px;
}
div.variant-campaign-column-last input{
	margin: 0px 0px 0px 0px;
	width: 93%;
}
/*VARIANT-TEMPlATE-TAB*/
div.price-settings-item{
	padding-bottom: 10px;
}
input.price-to{
	width: 94%;
}
input.price-from{
	width: 89%;
}
/*---*/
div.variant-templates select{
	width: 99%;
}
/*---*/
div.settings-manage-buttons select{
	width: 77%;
}
div.settings-manage-buttons input[type="submit"]{
	width: 10%;
}
/*---*/
div#variant-action-buttons{
	padding-top: 1px;	
	padding-bottom: 15px;
	padding-right: 1px;
}
/*VARIANT-IMAGE*/
div#variant-image{
	padding: 10px;
	width: 100%;
	border-top: solid 1px #fff;
}

div.image-list-container{
	float: left;
	height: auto;
	width: 100%;
	padding: 5px 5px 5px 0px;
	
}

span.product-title
{
	color: #999999;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 20px;
	padding-bottom:2px;
	}

input.img-browse[type="submit"]
{
	float: right;
	padding: 0px 20px;
}

div.image-item{
	float: left;
	border: solid 1px #C6C6C6;
	background-color: #fff;
	padding: 5px 5px;
	margin: 2px 0px;
	width: 250px;
}

div.image-item img{
	margin-bottom: -2px;
}
div.image-item-left{
	float: left;
	width: 100px;
}
div.image-item-right{
	float: right;
	width: 150px;
}
div.image-item-action{
	float: right;
	clear: both;
}
div.image-item-action input[type="image"]{
	padding-left: 3px;
}

div.image-item-action a img
{
	border: none;
}

div.image-item-properties{
	clear: both;
}
div.image-item-add{
	float: left;
	clear: both;
	padding-top: 10px;
	width: 100%;
}
div.image-item-add input{
	width: 100%;
}
/*---*/
div#show-on-public{
	padding-left: 520px;
}
/*---*/
div#article-main-tabs{
	margin-top: -20px;
}
/*ARTICLE-ATTRIBUTE*/
div#article-attribute{
	border-top:	1px solid #FFFFFF;
	padding: 10px;
	width: 100%;	
}
/*---*/

/* </ variation-info > */


/* < main_tab_container > */
.articles-main-tab .ajax__tab_header{	
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	padding-left: 17px;
}
.articles-main-tab .ajax__tab_body{	
height: 2px;
	background-color: #c0c0c0;

}
.articles-main-tab .ajax__tab_tab{
	padding: 6px 10px 0px 10px;
	margin: 0px 0px 0px -3px;
	text-align: center;
	background: url(../images/Assortment/inactive-tab.png) repeat-x;
	width: 65px;
	height: 17px;
}
	
.articles-main-tab .ajax__tab_outer{}	
.articles-main-tab .ajax__tab_inner{}
.articles-main-tab .ajax__tab_hover .ajax__tab_tab{}
.articles-main-tab .ajax__tab_hover .ajax__tab_outer{}
.articles-main-tab .ajax__tab_hover .ajax__tab_inner{}
.articles-main-tab .ajax__tab_active .ajax__tab_tab{	
	color: #000;
	background: url(../images/Assortment/active-tab.png) repeat-x;
}
.articles-main-tab .ajax__tab_active .ajax__tab_outer{}
.articles-main-tab .ajax__tab_active .ajax__tab_inner{}
/* </ main_tab_container > */

/* < child_tab_container > */
.articles-child-tab .ajax__tab_header{	
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: bold;
	padding-left: 0px;
}
.articles-child-tab .ajax__tab_body{	
	padding: 10px;
	border: solid 1px #999999;
	background-color: #F2F2F2;
	float: left;
	width: 93%;
}
.articles-child-tab .ajax__tab_tab{
	padding: 9px 25px 0px 10px;
	margin: 0px 0px 0px -3px;
	text-align: center;
	background: url(../images/Assortment/inactive-price-tab.png) no-repeat;
	width: 125px;
	height: 20px;
}
.articles-child-tab .ajax__tab_outer{}	
.articles-child-tab .ajax__tab_inner{}
.articles-child-tab .ajax__tab_hover .ajax__tab_tab{}
.articles-child-tab .ajax__tab_hover .ajax__tab_outer{}
.articles-child-tab .ajax__tab_hover .ajax__tab_inner{}
.articles-child-tab .ajax__tab_active .ajax__tab_tab{	
	color: #666666;
	background: url(../images/Assortment/active-price-tab.png) no-repeat;
}
.articles-child-tab .ajax__tab_active .ajax__tab_outer{}
.articles-child-tab .ajax__tab_active .ajax__tab_inner{}
/* </ child_tab_container > */

/* </ variation > */

/* < common > */
.assortment-header, .component-header, .relation-header, .variation-header{
	color: #969696;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.assortment-header
{
	margin-top :11px;
}

 .relation-header
 {
	padding-bottom :0px;
 }

/* < variation group tabcontainer > */
.variation-group-tab .ajax__tab_header{	
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}
.variation-group-tab .ajax__tab_body{	
	background-color: #F2F2F2;
	height: 100%;
	border: 1px solid #000000;	
}
.variation-group-tab .ajax__tab_tab{
	padding: 6px 10px 0px 10px;
	margin: 0px 0px 0px -3px;
	text-align: center;
	background: url(../images/Assortment/inactive-variation-tab.png) repeat-x;
	width: 94px;
	height: 17px;
}
.variation-group-tab .ajax__tab_outer{}	
.variation-group-tab .ajax__tab_inner{}
.variation-group-tab .ajax__tab_hover .ajax__tab_tab{}
.variation-group-tab .ajax__tab_hover .ajax__tab_outer{}
.variation-group-tab .ajax__tab_hover .ajax__tab_inner{}
.variation-group-tab .ajax__tab_active .ajax__tab_tab{	
	color: #666666;
	width: 94px;
	background: url(../images/Assortment/active-variation-tab.png) repeat-x;
}
.variation-group-tab .ajax__tab_active .ajax__tab_outer{}
.variation-group-tab .ajax__tab_active .ajax__tab_inner{}
/* </ main_tab_container > */

/* </ common > */








/* < CATEGORIES > */
/* < master > */
div#categories-master{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}
div#categories-master span{
	white-space: nowrap;
	overflow: hidden;
}
div#categories-master div.categories-master-first-item{
	padding: 15px;
	width: 210px;
	float: left;
}
div#categories-master div.categories-master-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#categories-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div#categories-master div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}
div#categories-master div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div#categories-master div.link-button a{
	display: block;
	font-size: 0.7em;
	font-weight: normal;
	background-color: White;
	padding: 5px;
}
div#categories-folder-list{
	padding: 10px 20px 10px 0px; 
	width: 210px;
	float: left;
}
div#categories-folder-content{
	padding: 15px 0 15px 15px;
	vertical-align: top;
	width: 751px;
	float: left;
}
/* < master > */

/* < categories move > */
div.categories-full-content input[type="text"],
div.categories-full-content textarea{
	width: 100%;
}
div.categories-full-content div.content-box{
	width: 95%;
	margin: 5px 0px 5px 0px;
}
div.categories-full-content div.column{
	width: 100%;
	margin-top: -10px;
}
div.categories-full-content div.input-box {
	width: 99%;
}
div.categories-destination{
	width: 300px;
	padding-right: 6px;
	margin-top: -7px;
}
div#categories-destination-tree{
	height: auto;
	overflow: auto;
	background-color: #fff;
}
/* < categories move > */

/* < categories edit > */

div#categories-block div.headBlock
{
	padding-top: 10px;
	width: 100%;
}

div#categories-block div.headColumn
{
	float: left;
	width: 48%;
}

div#categories-block div.rlColumn
{
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	width: 48%;
}
div.categories-rl{
	margin-top: 5px; 
	width: 100%; 
	border: 1px solid #C6C6C6; 
	padding: 0px 10px 10px 10px;
}
div.categories-rl label{
	padding: 0px 5px 0px 5px; 
	position: relative; 
	top: -8px; 
	text-align: center;
	background-color: #ffffff;
	font-weight:bold;
}
div#categories-block div#rl-manager select{
	width: 85%;
}

div#categories-block div.column{
	width: 33%;
}
div#categories-block div.input-box{
	width: 100%;
	padding-right: 0px;
}
div#categories-block input[type="text"]{
	width: 350px;
}
div#categories-block select{
	width: 355px;
}

div#categories-block div#search-product-criteria .price{
	width: 45%;
}
div#categories-block div#block-search-button{
	margin-right: 10px;
}

div#categories-block div.content-box{
	margin: 10px 0px 10px 0px;
	width: 96%;
}

div#categories-block select.categories-ddl-templates
{
	width: 300px;
}

div.float-left
{
	float: left;
	padding-left: 50px;
	}
	
div#categories-poducts{
	width: 100%;
	margin-bottom: 10px;
}
div#categories-poducts div.column{
	width: 50%;
}
div#categories-poducts div.input-box{
	width: 99%;
}

div#categories-buttons{
	padding: 0px 5px 5px 0px;
}

div#relation-product-buttons{
	width: 100%;
}
div#relation-product-remove{
	width: 49%;
}
/* < categories edit > */
/* < categories > */


span.assortment-tree-header{
	color: #666666;
	font-size: 1.4em;
	font-weight: bold;
	white-space: nowrap;
}



/* variation-type-item */

div.variation-type
{
	border-style: solid;
	border-color: #C0C0C0;
	border-width: 4px 1px 4px 1px;
}

div.variation-type div#variation-type-add
{
	padding-left:94%;	
	width:100px;

}

div.variation-type div#variation-type-add input
{
	width:50px;
}

div.variation-type-item
{
	width:100%;
	height:auto;
	display:table;
	border-bottom: 1px solid #C0C0C0;
	padding-top: 10px;
}
div.variation-type-item div.variation-type-item-main
{
	padding-left:10px;
	overflow: hidden;
}

div.variation-type-item div.top
{
	padding-top:5px;
}

div.variation-type-item div.top div.variation-type-header 
{
	float:left;
	font-size: 12px;	
	font-weight: bold;
	padding-left: 1px;
	padding-bottom: 3px;
}

div.variation-type-item div.top div.action 
{
	float:left;
	padding-left:94%;
	margin-top:-20px;
}

div.variation-type-item div.top div.action input
{
	padding-right:2px;
}

div.variation-type-item div.variation-type-content
{
	clear:both;
	padding-top:5px;
}

div#variation-block div.first-column
{
	float:left;
	width:40%;
}

div#variation-block div.column
{
	float:left;
	width:40%;
	padding-left: 10px;
}

div#variation-search div.column
{
	margin-top: 0px;
	width: 32%;
}

div.main div.first-column div.input-box,
div.main div.column div.input-box
{
	padding-left: 10px;
}



div.variation-type-item div.variation-type-content div.first-column
{
	float:left;
	width:40%;
}
div.variation-type-item div.variation-type-content div.first-column input
{
	width:70%;
}
div.variation-type-item div.variation-type-content div.second-column
{
	float:left;
	width:23%;
}

div.variation-type-item div.variation-type-content div.second-column input
{
	width:160px;
}

div.variation-type-item div.variation-type-content div.second-column select
{
	width:166px;
}

div.variation-type-item div.variation-type-content div.three-column
{
	padding-top:13px;
	float:left;
	width:25%;
}
div.variation-type-item div.variation-type-content div.three-column input
{	
	padding-top:4px;
	width:110px;
}

div#product-parent-content-node
{
	float: left;
	}
div#product-parent-content-node div.treeview-main-container
{
	height: 250px;
	overflow: auto;
	background-color: #FFFFFF;
}
/* < popup > */
div#variation-type-item-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px 15px;
	margin-top: -5px;
	width: 424px;
	height: auto;
	display:table;
}

.variation-field
{
	width: 70%;
	margin-top :4px;
}

.variation-footer-button-container
{
	padding-top: 3px;
}

.variation-header
{
	padding-left :10px; 
	margin-bottom: 1px;
}

.variation-item-list-footer
{
	position: relative; 
	overflow: hidden;
	height: 22px; 
	top: -15px
}

.variation-item-list-footer-button
{
	margin-left: 94%; 
	position: absolute; 
	top: -3px;
}

.variants-list-footer
{
	padding-top: 3px;
}

.variatnts-list-footer-text
{
	float:left; 
	padding-right :5px;
}

/* </ popup > */

/* End variation-type-item */


/* <Pricelists> */
div#price-list a{
	padding-left: 5px;
	margin-top: -5px;
}
.box{
	width: 125px;
}
div#price-folder-tree{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div#price-list-grid{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
div#divAllSelected
{
	padding: 5px;
	padding-top: 16px;
	padding-bottom: 14px;
}
.header-text
{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
}
div#pricelist-edit div.input-box
{
	padding-right: 20px;
	float: left;
}
div#date-edit div.input-box
{
	padding-right: 10px;
	float: left;
}
.dateBox
{
	position: relative;
	left: -15px;
	width: 2px;
	z-index: -1;
	}
/* </Pricelists> */

/* < product-popup-images-container > */
div.product-popup-relations-container,
div.product-popup-images-container
{
	position: absolute;
	top: 85px; 
	left: 95px;
	overflow: hidden;
	height: auto;
}
div.product-popup-images-container div
{
	position: relative;
}
div#product-popup-relations-header
div#product-popup-images-header {
	/*background-image: url(../Images/Grid/header-settings.png);*/
	background-repeat: no-repeat;

	height: 47px;	
	/*background: url('../Images/Assortment/header-center.png');*/
}
div#product-popup-relations-header div,
div#product-popup-images-header div,
div.product-popup-images-header div
{
	float: left;
}
div#product-popup-relations-header span,
div#product-popup-relations-header label,
div#product-popup-images-header-center label,
div.product-popup-images-header-center label,
div#product-popup-images-header-center span,
div.product-popup-images-header-center span
 {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}
div#product-popup-relations-header input,
div#product-popup-images-header input,
div.product-popup-images-header input
{
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	/*width: 20px;
	height: 20px;*/
	padding: 0px 4px;
}
div#product-popup-relations-content,
div#product-popup-images-content,
.product-popup-images-content
{
	margin: 0pc 1px;
	background-color: White;
	border: 1px solid #000000;
	width: 790px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
	height: auto;
}
div#product-popup-relations-header-left,
div#product-popup-images-header-left,
div.product-popup-images-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}
div#product-popup-relations-header-right,
div#product-popup-images-header-right,
div.product-popup-images-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}
div#product-popup-relations-header-center,
div#product-popup-images-header-center,
div.product-popup-images-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 789px;
}

div#product-popup-images-content-right
{
	float:right;
	width:500px;
}

div.product-popup-images-body
{
	background-color: #FFFFFF;
	min-height: 415px;
	padding: 10px;
	border: solid 1px #000000;
	margin: 0px 1px;
}

div.product-popup-images-body div.message-container
{
	width: 768px;
	margin: 0 0 5px 0;
}

div#product-popup-images-top-menu
{
	min-width: 300px;
	padding-left:20px;
}

div#product-popup-images-pick-button
{
	float: right;
	padding: 10px 10px;
 }
 
 div.tabs-add-images-container
{
	background-color:#FFFFFF;
	border-color:#C0C0C0;
	border-style:solid;
	border-width:4px 1px 1px;
	min-height: 360px;
	padding:20px 10px 5px 10px;
	width: 758px;
	overflow-y: auto;
	overflow-x: hidden;			
	}
	
div.tabs-add-images-container div.upload-image-container
{
	margin-top:5px;
	border-bottom: solid 1px black;
	height: 100px;
	width: 750px;
}
div.tabs-add-images-container div.upload-image
{
	width: 750px;	
}

div.upload-image div.product-image-property
{
	border:1px solid #A0A0A0;
	background-color:White;
	height: 80px;
	width: 750px;
}

div.upload-image div.product-image-property input
{
	width: 140px;
}
div.product-image-property div.product-image-property-column1
{
	padding:15px;
	float:left;
	width: 55px;	
	border-right:solid 1px #A0A0A0;
	height: 51px;
}

div.product-image-property div.product-image-property-column2
{	padding-top:5px;
	padding-left:7px;
	float:left;
	width: 160px;
}

div.product-image-property-column2-type 
{
	padding-top:2px;
	width: 54px;
	float:left;
}
div.product-image-property-column2-dimensions
{
	padding-top:2px;
	width: 85px;
	padding-left:7px;
	float:left;
}
div.product-image-property div.product-image-property-column3
{	
	padding-top:5px;
	float:left;
	width: 145px;
}

div.product-image-property-column3-created
{
	padding-top:2px;
	float:left;
}

div.upload-image-container div.product-media-upload-file
{
	margin-top:10px;
	padding-left:660px;
}
div.upload-image-container .product-media-file-upload
{	
	height: 25px;
	font-size: 11px;
	font-family: 'Arial Unicode MS';
}

div.tabs-add-images-container div#arhive-images
{
	padding: 5px;
	width: 750px;	
}

div.tabs-add-images-container div.arhive-images
{
	padding: 5px;
	width: 750px;	
}

div.arhive-images div.product-media-folder-list
{
	float:left;
	padding-left: 5px;
	width: 210px;
	float: left;
}

div.arhive-images div.product-media-folder-image-list
{
	float:right;
	width: 496px;
	height: 319px;
}

div.arhive-images div.product-media-folder-product-image-list
{
	float:right;
	width: 796px;
	height: 319px;
}


div.product-media-folder-list div.treeview-main-container
{
	height: 319px;
	overflow: auto;
	background-color: #FFFFFF;
}
div.imgZoomProductImage
{	
	position:relative;
	left:134px;
	top:-18px;
}
div.imgZoomProductImage img
{
}

.zoom-image
{
	border: 0px;
	margin-top: -20px;
	margin-left: -20px;
	left: -20px; 
	vertical-align: bottom; 
	bottom: 4px;
}

.input-box .media-item-information-value,
.input-box select.media-item-information-value {
	margin-top: 0px;
}
/* </ product-popup-images > */
#search-product-criteria .input-box .media-item-information-value
{
	width: 90%;
}

#image-group .context-menu-container, #image-group .context-menu-shadow
{
	width: 140px;
	height: 100px;
}

div#main-change-group-popup
{
	overflow:hidden;
	background-color: #E1E1E1;
	border: 1px solid #000000;
	display:table;	
	height: auto;
	padding-bottom:15px;
	margin-top: -5px;
	padding: 5px 15px 15px;
	width: 424px;
}

div.category-selector
{
	height: 300px;
	overflow: scroll;
}
div.category-selector img
{
	height: 11px;
	width: 11px;
}

div#product-popup-images-body
{
	padding: 10px;
	background-color: #FFFFFF;
	border: solid 1px #000000;
	overflow: visible;
	display: block;
}
div#product-popup-images-body div
{
	display: block;
	position: static;
}
/**************************************** < STORES > ********************************************/
div.stores-panel-create
{
	color:#CBCBCB;
	float:left;
	padding-bottom:8px;
	padding-left:15px;
	padding-top:10px;
	width:100px;
	margin-right:10px;
	padding:5px;
}
div.stores-panel-create-store
{
	float: left; 
	padding-bottom: 8px; 
	padding-top: 8px; 
	font-size: 0.7em;
	font-weight: normal;
}
div.stores-panel-messages
{
	float:left; 
	width:984px; 
	margin-bottom:-10px;
}
div.stores-place-holder
{
	float:left;
	vertical-align:top;
	padding: 10px;
	width:976px;
}
div.stores-edit-header
{
	color:#999999;
	font-size:16px;
	font-weight:bold;
}
div.stores-edit-descrition
{
	float: left;
	width: 465px;
}
div.stores-edit-container div.column
{
	padding-bottom: 10px;
}

/**************************************** </ STORES > *******************************************/

div.apply-to-selected-stores
{
	background-color: #D9E7F7;
	border: 1px solid #C6C6C6;
	display: block;
	float: left;
	padding: 5px;
	width: 99%;
	display: none;
}
div.apply-to-selected-pricelists 
{
	background-color:#D9E7F7;
	border:1px solid #C6C6C6;
	display:none;
	float:left;
	left:-1px;
	padding:5px;
	position:relative;
	width:98.5%;
}
div.product-campaigns-apply
{
	background-color:#D9E7F7;
	border:1px solid #C6C6C6;
	display:none;
	float:left;
	left:-1px;
	padding:5px;
	position:relative;
	width:98.5%;
}


/**************************************** < PRODUCT SEARCH POPUP > *******************************************/
div.popup-product-search-container
{
	position: absolute;
	width: 958px;
	overflow: hidden;
	height: 650px;
}
div#popup-product-search-header {
	background-repeat: no-repeat;
	height: 47px;	
}
div#popup-product-search-header div
{
	float: left;
}
div#popup-product-search-header-center label,
div#popup-product-search-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}
div#popup-product-search-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}
div#popup-product-search-content
{
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 935px;
	height: 560px;
	padding: 10px;
	overflow: hidden;
}
div#popup-product-search-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}
div#popup-product-search-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}
div#popup-product-search-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 944px;
}

div#product-search-form
{
	width: 935px;
}
div#product-search-form input[type="text"]
{
	width: 98%;
}
div#product-search-form select
{
	width: 100%;
}
div#product-search-form div.column-first,
div#product-search-form div.column-last
{
	float: left;
	padding: 0;
	width: 32.1%;
}
div#product-search-form div.column
{
	float: left;
	padding: 0 15px;
	width: 32.1%;
}
div#product-search-form div#search-product-criteria .price 
{
	width: 91.5%;
}

div.product-search-result
{
	float: left;
}

div.product-search-result 
{
	clear: both;
	float: left;
	width: 935px;
}

/**************************************** </ PRODUCT SEARCH POPUP > *******************************************/

/**************************************** Package *************************************************************/
.package-edit-container {
	float: left;
	vertical-align: top;
	padding: 10px;
	width: 976px;
}
.package-edit-header {
	color: #999999;
	font-size: 16px;
	font-weight: bold;
}

/**************************************** Size Table *************************************************************/
div.size-tables-tree
{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}

div.size-tables-content
{
	padding: 15px 0 15px 15px;
	vertical-align: top;
	width: 751px;
	float: left;
}

div.size-tables-tree div.menu-container,
div.size-tables-tree div.menu-shadow
{
	height: 135px; 
	width: 140px;
}
div.size-tables-tree div.menu-container-root,
div.size-tables-tree div.menu-shadow-root 
{
	width: 140px; 
}

div.size-tables input[type="text"] {
	width: 325px;
}
div.size-tables textarea {
	width: 100%;
}

div.popup-sizetable-row-container {
	position: absolute;
	width: 458px;
	overflow: hidden;
	height: 600px;
}

div#popup-sizetable-row-header {
	background-repeat: no-repeat;
	height: 30px;
}
div#popup-sizetable-row-header div {
	float: left;
}
div#popup-sizetable-row-header input {
	margin-top: 5px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}
div#popup-sizetable-row-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 30px;
}
div#popup-sizetable-row-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 30px;
	float: left;
}

div#popup-sizetable-row-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height: 30px;
	width: 444px;
}
div#popup-sizetable-row-header-center label,
div#popup-sizetable-row-header-center span {
	position: absolute;
	margin: 5px 0 0 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-sizetable-row-content
{
	margin: 0px 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 435px;
	padding: 10px;
	overflow: hidden;
	height: 300px; 
}
div#popup-sizetable-row-content input[type="text"] {
	width: 430px;
}
div#popup-sizetable-row-content textarea {
	width: 427px;
}
div#popup-sizetable-row-content select {
	width: 200px;
}

div.brand-tabs-main-container
{
	background-color: #FFFFFF;
	border: solid 1px #c0c0c0;
	border-top: solid 4px #c0c0c0;
	min-height: 580px;
	padding: 10px 10px;
	float: left;
	width: 952px;
	overflow-y: auto;
	overflow-x: hidden;
	}

div.brand-tabs-main-container img
{
	border: none;
}

div.category-tabs-main-container
{
	background-color: #FFFFFF;
	border: solid 1px #c0c0c0;
	border-top: solid 4px #c0c0c0;
	min-height: 600px;
	padding: 10px 10px;
	float: left;
	width: 729px;
	overflow-y: auto;
	overflow-x: hidden;
	}

div.category-tabs-main-container img
{
	border: none;
}

div.package-tabs-main-container
{
	background-color: #FFFFFF;
	border: solid 1px #c0c0c0;
	border-top: solid 4px #c0c0c0;
	min-height: 630px;
	padding: 10px 10px;
	float: left;
	width: 962px;
	overflow-y: auto;
	overflow-x: hidden;
	}

div.package-tabs-main-container img
{
	border: none;
}

div.relationlist-tabs-main-container
{
	background-color: #FFFFFF;
	border: solid 1px #c0c0c0;
	border-top: solid 4px #c0c0c0;
	min-height: 578px;
	padding: 20px 20px;
	float: left;
	width: 680px;
	overflow-y: auto;
	overflow-x: hidden;
}
div.relationlist-tabs-main-container img
{
	border: none;
}

div.content-message input[type="text"] {
	width: 290px;
}