/* ---< Global >--- */

body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	background-color: White;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
}

select{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
}


h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: #000;
	margin-top: 2px;
	margin-bottom: 3px;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
	margin-top: 0px;
	margin-bottom: 3px;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	margin-top: 2px;
	margin-bottom: 3px;
}

h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #000;
	margin-top: 10px;
	margin-bottom: 5px;
}

h5{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000;
	margin-top: 10px;
	margin-bottom: 5px;
}

input[type="submit"]:hover {
	cursor:pointer;
}

/* ---</ Global >--- 
__________________________________________________________________________________________________

---< Layout >--- */

div#site-wrapper{
	margin: 0px;
	padding: 0px;
	padding-bottom: 2px;
	width: 996px;
	background-color: #fff;
}

/* ---< top-wrapper >--- */

div#tree-wrapper{
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	padding-left: 10px;
	width: 230px;
	float: left;
}

div#right-wrapper{
	margin: 0px;
	padding: 0px;
	width: 1006px;
	background-color: #fff;
	float: left;
}

div#top-wrapper{
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	_margin-left: 2px;
	width: 996px;
	float: left;
}

div#main-logo{
	width: 425px;
	height: 90px;
	float: left;
}

div#top-menu{
	margin: 0px;
	padding: 0px;
	padding-top: 4px;
	width: 571px;
	height: 28px;
	background-image: url(../images/MasterPage/background-top-menu.gif);
	background-repeat: no-repeat;
	float: left;
}

div#main-info{
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-right: 30px;
	width: 541px;
	/*height: 38px;*/
	text-align: right;
	float: left;
}

div.menu-wrapper{
	width: 996px;
	height: 61px;
	margin-left: 5px;
	_margin-left: 2px;
	background-image: url(../images/MasterPage/background-menu.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	float: left;
}

/* ---</ top-wrapper >--- */

/* ---< content >--- */

div#content-wrapper{
	width: 996px;/*don't do this on the masterpage, use your own page to apply these settings*/
	margin: 0px;
	/*padding: 10px 24px 10px 24px;*//*don't do this on the masterpage, use your own page to apply these settings*/
	margin-left: 5px;
	_margin-left: 2px;
	background-color: #fff;
	float: left;
}
div#footer-wrapper
{
	float:left; 
	width: 996px; 
	border: none; 
	height: 8px; 
	margin-left: 5px; 
	background-color: #D7C44C;
	margin-top: 1px;
}
div#dashboard-wrapper{
	width: 955px;
	min-height: 600px;
	margin: 0px;
	padding: 20px 20px 0px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	_margin-left: 2px;
	background-color: #f2f2f2;
	float: left;
}
div#startpage-wrapper{
	width: 955px;
	min-height: 600px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-top: 10px;
	background-color: #f2f2f2;
	float: left;
}
div#default-wrapper{
	width: 955px;
	min-height: 600px;
	margin: 0px;
	padding: 20px 20px 0px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	_margin-left: 2px;
	background-color: #ffffff;
	float: left;
}

div.header-image{
	float: left;	
}

div.header-image img{
	margin: 0px;
	padding: 0px;
}

div.header{
	text-align: right;
	padding-top: 52px;
	float: right;
}

div.header h2{
	margin-bottom: 0px;
}

div.header span.active{
	color: #999;
}

div#content{
	/*width: 946px;*//*don't do this on the masterpage, use your own page to apply these settings*/
	margin: 0px;
	/*padding: 10px 0px 10px 0px;*//*don't do this on the masterpage, use your own page to apply these settings*/
	background-color: #fff;
	float: left;
}

.icon{
	background:transparent url(../Images/MasterPage/download.gif) no-repeat scroll 0%;
	margin-bottom:15px;
	padding-bottom:5px;
	padding-left:35px;
	padding-top:5px;
}

/* ---</ content >--- */

/* ---< bottom >--- */

div#bottom{
	margin: 0px;
	padding: 10px 0px 0px 8px;
	width: 998px;
	background-color: #EEEEFF;
	float: left;
}

div#bottom a{
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}

div#bottom a:hover{
	text-decoration: none;
}

/* ---</ bottom >--- 

__________________________________________________________________________________________________

---< Top Menu >--- */

div#top-menu a,
div#top-menu span
div#top-menu div
{
	vertical-align: middle;
}

div#top-menu a:hover{
	text-decoration: underline;
}

div#top-menu select{
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
}

div#top-menu span{
	margin-left: 15px;
}

div#top-menu span.seperator{
	margin-left: 11px;
	margin-right: 11px;
}

/* ---< Top Menu >---
__________________________________________________________________________________________________

---< Menu >--- */

div.main-menu-list{
	width: 996px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	float: left;
}

div.menu-wrapper ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.menu-wrapper li{
	margin: 0px;
	padding: 0px;
	float: left;
}

div.list-item-container{
	height: 32px;
	margin: 0px;
	padding: 0px;
	padding-right: 4px;
	float: left;
}

div.list-item-container-active{
	height: 32px;
	margin: 0px;
	padding: 0px;
	padding-right: 4px;
	float: left;

}

div.left-corner{
	margin: 0px;
	padding: 0px;
	width: 5px;
	height: 32px;
	background-image: url(../images/MasterPage/background-menu-left-corner.gif);
	background-repeat: no-repeat;
	float: left;
}

div.left-corner-active{
	margin: 0px;
	padding: 0px;
	width: 6px;
	height: 32px;
	background-image: url(../images/MasterPage/background-menu-left-corner-active.gif);
	background-repeat: no-repeat;
	float: left;
}

div.menu-item-image
{
	margin: 0px;
	padding: 0px;
	height: 32px;
	background-repeat:no-repeat;
	float: left;
}

div.menu-item-image-active
{
	margin: 0px;
	padding: 0px;
	height: 32px;
	background-repeat:no-repeat;
	float: left;
}

div.menu-item{
	margin: 0px;
	padding: 0px;
	height: 32px;
	background-image: url(../images/MasterPage/background-menu-item.gif);
	background-repeat: repeat-x;
	background-color: #ffffff;
	float: left;
}

div.menu-item-active{
	margin: 0px;
	padding: 0px;
	height: 32px;
	background-image: url(../images/MasterPage/background-menu-item-active.gif);
	background-repeat: repeat-x;
	background-color: #ffffff;
	float: left;
}

div.right-corner{
	margin: 0px;
	padding: 0px;
	width: 5px;
	height: 32px;
	background-image: url(../images/MasterPage/background-menu-right-corner.gif);
	background-repeat: no-repeat;
	float: left;
}

div.right-corner-active{
	margin: 0px;
	padding: 0px;
	width: 5px;
	height: 32px;
	background-image: url(../images/MasterPage/background-menu-right-corner-active.gif);
	background-repeat: no-repeat;
	float: left;
}

div.list-item-container a{
	color: #fff;
	font-weight: bold;
	padding: 8px 25px;
	display: block;
}

div.menu-item-image a{
	color: #fff;
	font-weight: bold;
	padding: 9px 15px;
	display: block;
}

div.list-item-container-active a{
	color: #000;
	font-weight: bold;
	padding: 8px 25px;
	display: block;
}

div.menu-item-image-active a{
	color: #fff;
	font-weight: bold;
	padding: 9px 15px;
	display: block;
}

/* ---< Submenu >---*/

div.sub-menu-list{
	width: 994px;
	height: 19px;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 0px;
	
	float: left;
}

div.sub-menu-list ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


div.sub-menu-list  li{
	height: 10px;
	padding-left: 12px; 
	padding-right: 12px;
	padding-top: 3px;
	border-right: 1px solid #ffffff;
}

div.sub-menu-list  li.last{
	height: 10px;
	padding-left: 12px; 
	padding-right: 12px;
	padding-top: 3px;
	border-right: 0px;
}

div.sub-menu-list li.active{
	height: 10px;
	padding-left: 12px; 
	padding-right: 12px;
	padding-top: 3px;
	border-right: 1px solid #ffffff;
}

div.sub-menu-list li.active-last{
	height: 10px;
	padding-left: 12px; 
	padding-right: 12px;
	padding-top: 3px;
	border-right: 0px;
}


div.sub-menu-list li.active a{
	font-weight: bold;
	position: relative;
	top: -3px;
	border-right: 0px;
}

div.sub-menu-list li.active-last a{
	font-weight: bold;
	position: relative;
	top: -3px;
	border-right: 0px;
}

div.sub-menu-list a{
	position: relative;
	top: -3px;
}

/* ---</ Menu >--- */


/* <common> */

div.customer-content-box{
	background-color: #FFFFFF;
	border: solid 1px #C6C6C6;
	padding: 15px;
	float: left;
	margin: 0px 20px 10px 20px;
	width: 93%;
}

div.content-box{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 5px;	
}

div.column{
	float: left;
}

div.input-box {
	padding-right: 20px;
}

.clear {
	clear: both;
}
.right {
	float: right;
}
.left {
	float: left;
}
.text-center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.inline {
	display:inline;
	white-space: nowrap;
}
.readonly {
	color: #999999;
}
.vertical-middle
{
	vertical-align: middle;
}

div.content-disabled {
	display: block;
	position: fixed;
	visibility: visible;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #A7A7A7;
	opacity: 0.50;
	filter: alpha(opacity=50);
	z-index: 1000;
}
div.content-disabled-progress,
div.content-disabled-progress-popup {
	display: block;
	position: fixed;
	visibility: visible;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #A7A7A7;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 1000;
}
div.content-disabled-progress img{
	top: 200px; 
	left: 500px;
	position: absolute;
}
div.content-disabled-progress-popup img{
	top: 200px; 
	left: 500px;
}
/* ---< attention-message >--- */

div.attention-message 
{
	background: #e2e8f4;
	border: 1px solid #7f9bd0;	
	padding: 5px;
	margin:5px;
	margin-left:0px;
	clear: both;
	overflow:hidden;
	width:100%;
}

div.attention-message h2 {
	font-size: 14px;
	color: #182640;
	padding-bottom: 10px;
	border-bottom: 1px solid #7f9bd0;
	margin-bottom:14px;
}

div.attention-message h2 img {
	margin-right: 10px;
	vertical-align: middle;
}


div.attention-message ul {
	margin: 0px;
	margin-left: 15px;
	padding: 0px;
}

div.attention-message li {
	padding-bottom: 3px;
}
div.message-container 
{
	background: #fffbd7;
	border: 1px solid #7f9bd0;	
	padding: 5px;
	margin:5px;
	margin-left:0px;
	clear: both;
	overflow:hidden;
	width: 100%;	
	padding-bottom:8px;
}

div.failure{
	background: #fffbd7;
	border: 1px solid #ddba71;	
}

div.failure h2 {
	color: #543a04;
	font-size:19px;
	font-family:Calibri;
	margin-top:3px;	
	margin-bottom:0px;
	padding:0px;
	float:left;
}
div.failure div {
	color:Red;
}
div.failure h2 span
{
	padding-left:10px;	
}
div.failure ul.message
{
	float:left;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:3px;
	padding-left:35px;
	padding-bottom:3px;
	font-weight:bold;
	font-size:8pt;
	border-left: 1px solid #ddba71;
}
div.failure ul.message li
{

}


div.warning{
	background: #fffbd7;
	border: 1px solid #ddba71;	
}

div.warning h2 {
	color: #543a04;
	font-size:19px;
	font-family:Calibri;
	margin-top:3px;	
	margin-bottom:0px;
	padding:0px;
	float:left;
}
div.warning div {
	color:Red;
}
div.warning h2 span
{
	padding-left:10px;	
}
div.warning ul.message
{
	float:left;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:3px;
	padding-left:35px;
	padding-bottom:3px;
	font-weight:bold;
	font-size:8pt;
	border-left: 1px solid #ddba71;
}
div.warning ul.message li
{

}

div.information{
	background: #eaf0e7;
	border: 1px solid #a3bd92;	
}

div.information h2 {
	color: #182e00;
	border-bottom: 1px solid #a3bd92;
}

div.success{
	background: #D4F6CD;
	border: 1px solid #a3bd92;	
	margin:0px;
	position: fixed;
  _position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  _height: expression(document.body.offsetHeight + "px");
  padding-bottom:3px;
  display:none;

}
div.success h2 {
	margin-top:0px;	
	margin-bottom:0px;
	padding:0px;
	float:left;
}
div.success ul.message
{
	float:left;
	font-weight:bold;
	font-size:8pt;
	list-style:none;
	padding:0px;
	margin:0px;
	margin-top:5px;
	margin-left:10px;
}

div.success h2 
{
	float:left;
	border-bottom: 0px;	
}


div.advance-validation-summary 
{	clear: both;
	background: #fffbd7;
	border: 1px solid #ddba71;
	padding: 5px;
	margin:5px;
	margin-left:0px;
	width:100%;
	overflow:hidden;	
	padding-bottom:8px;
	
}
div.advance-validation-summary h2
{
	color: #543a04;	
	font-size:19px;
	font-family:Calibri;
	float:left;	
	margin-top:3px;	
	margin-bottom:0px;
	padding:0px;
}

div.advance-validation-summary h2 img {
	vertical-align: middle;	
}
div.advance-validation-summary  h2 span
{
	padding-left:10px;	
}
div.advance-validation-summary ul
{
	float:left;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:3px;
	padding-left:35px;
	padding-bottom:3px;
	font-weight:bold;
	font-size:8pt;
	border-left: 1px solid #ddba71;
}

/* ---< Button >---*/
div#button-container
{
	display: inline;
	background: black;
}

/* Top panel */
.panel-top-wrapper
{
	height: 19px;
	float:left;
	width:732px;
	height: 41px;
	color: #CEBF7E;
	font-weight: bold;
	font-size: 16px;
	display:inline;
	background-image: url(../images/MasterPage/panel-background.gif);
	margin-top: 8px;
}
.panel-top-wrapper-small
{
	height: 19px;
	float:left;
	width:343px;
	height: 41px;
	color: #CEBF7E;
	font-weight: bold;
	font-size: 16px;
	display:inline;
	background-image: url(../images/MasterPage/panel-background.gif);
	margin-top: 8px;
}

.panel-top-border-left
{
	background-image: url(../images/MasterPage/panel-left-border.gif);
	width: 19px;
	height: 41px;
	float :left;
	margin-top: 8px;
}
div.separator-class
{
	
	float:left;
	font-weight: bold;
	font-size: 16px;
	background-image:url(../images/MasterPage/Separator.gif);
	padding-right:1px;
	padding-bottom: 24px;
	display: inline;
	height: 17px;
	margin-top: 8px;
}
div.panel-top-item-first, div.panel-top-item-first-border
{
	float:left;
	
	color: #CEBF7E;
	font-weight: bold;
	font-size: 16px;
	background-image: url(../images/MasterPage/panel-background.gif);
	padding: 10px;
	padding-bottom: 12px;
	display: inline;
	height: 19px;
	margin-top: 8px;
}
div.left-padding-border
{
	width: 15px; 
	float: left
}
div.left-padding
{ 
	margin-left:75px;
}

div.left-border
{
	border-top: 1px solid #C6C6C6; 
	border-left: 1px solid #C6C6C6;
}
div.right-border
{
	border-top: 1px solid #C6C6C6; 
	border-right: 1px solid #C6C6C6;
}
div.text-style
{
	width: 40px; 
	float: left; 
	margin: 6px 10px 0px 10px;
}
div.right-padding
{
	/*padding-right: 3px;*/
}

.panel-top-item-first
{
	width: 201px;
}

.panel-top-item-first-border
{
	width: 204px;
}

.panel-top-border-right
{
	background-image: url(../images/MasterPage/panel-right-border.gif);
	width: 20px;
	float:left;
	height: 41px;
	margin-top: 8px;
}
.fontbutton
{
	color:Black;
	font-size:10px;
	
}
.fontSearch
{
	color:#CBCBCB;
	font-size:12px;
	font-style:normal; 
}
.createbutton
{
	border:1px solid #999999;
	background-color:White;
	color:White;
}
.divwidth
{
	width: 443px;
}

div .div-label
{
	padding-bottom:7px;
}


	  #mediadropcontainer {
		 width: 650px;
	 }