input[type=radio] {
    display:none;
}
 
.grid-row-wo-padding input[type=radio] {
    display:block;
}
 
.button-uncheck{
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#progressBar {
	width: 600px;
	margin-top: 40px;
}

#dropcontainer {
	padding-bottom: 10px;
	font-size: 12px;
}

.dropgroupcontainer {
	padding-bottom: 10px;
	font-size: 14px;
}

.name_entry {
	margin-top: 5px;
	margin-right: 20px;
	width: 400px;

}
.imagethum {
	width: 100px;
	height: 100%;
}
html, body {
		height: 100%;
	}

	#actions1 {
		box-sizing: border-box;
		height: 100px;
		border: 2px solid #cccccc;
		border-radius: 4px;
		padding: 11px;
		transition: background-color .1s linear .1s;
		text-align: center;
		position: relative;
		margin: 0;
		display: block;
		font-family: Arial,sans-serif;
		font-size: 12px;
		padding-bottom: 10px;
		width: 750px;
		cursor: pointer;
	}
	



	/* Mimic table appearance */
	div.table {
		display: table;
	}

		div.table .DragBox {
			display: table-row;
		}

			div.table .DragBox > div {
				display: table-cell;
				vertical-align: top;
				border-top: 1px solid #ddd;
				padding: 8px;
			}

			div.table .DragBox:nth-child(odd) {
				background: #f9f9f9;
			}


	/* The total progress gets shown by event listeners */
	#total-progress {
		opacity: 0;
		transition: opacity 0.3s linear;
	}

	/* Hide the progress bar when finished */
	#previews .DragBox.dz-success .progress {
		opacity: 0;
		transition: opacity 0.3s linear;
	}

	/* Hide the delete button initially */
	#previews .DragBox .delete {
		display: none;
	}

	/* Hide the start and cancel buttons and show the delete button */

	#previews .DragBox.dz-success .start,
	#previews .DragBox.dz-success .cancel {
		display: none;
	}

	#previews .DragBox.dz-success .delete {
		display: block;
	}

	issue-drop-zone {
		border: 2px dashed #cccccc;
		border-radius: 4px;
		padding: 11px;
		transition: background-color .1s linear .1s;
		text-align: center;
		position: relative;
	}

.DragBox {
	margin-top: 10px;
	border-top: 1px solid #ddd;
}

.image-block{
	cursor: pointer;
	
}

.list-item {
	display: inline;
	float: right;
	width: 60%;
}
.list-item-img {
	display: inline;
	width: 100px;
}
.list-item-size {
	display: inline;
	float: right;
	margin-top: 10px;
	margin-left: 3px;
	width: 15%;
}
.list-item-button {
	display: inline;
	float: right;
	margin-top: 10px;
	margin-left: 3px;
	width: 3%;
}

.name {
	width: 390px;
	margin-right: 20px;
	display: block;
}



.size {
	margin-left: 10px;
	display: inline;
}

.table table-striped {
	width: 750px;
}

 
.button-check {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
		    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    
 
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
   

}

.group_container {
	padding: 10px 20px 8px 7px;
	width: 96%;
	color: #919191;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #C6C6C6;
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
}

.group_container-selected {
	padding: 10px 20px 8px 7px;
	width: 96%;
	color: #919191;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #C6C6C6;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #CDCDCD;
}
	
	

.title-check {
	padding-right: 310px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.super-scroller {
    
    overflow-x: hidden;
    padding: 5px;
    margin: 10px auto;
    width: 100%;
}

.linkbutton {
	cursor: pointer;
}

.OverDragContainer {
    background-color: #eee;
}
.OverDragBox, .DragDragBox {
    background-color: #B0C4DE;
	margin-top: 10px;
	border-top: 1px solid #ddd;
}
.DragBox {
   
	height: 100px;
}
legend {
    color: #666699;
    font-family: verdana,tahoma,arial;
    font-size: 12px;
    font-weight: bold;
}
fieldset {
    padding: 3px;
}

#DragContainer8 {
    border: 1px solid #669999;
    height: 110px;
}float
.miniDragBox {
    float: left;
    height: 20px;
    margin: 0 5px 5px 0;
    width: 20px;
}

.DragContainer, .OverDragContainer {
    border: 2px solid #669999;
    float: left;
    margin: 3px;
    padding: 5px;
    width: 100px;
}

.movedownbutton {
	background-image: url('~/Media/Images/Common/up.gif');
	
}

.moveupbutton {
	background-image: url('~/Media/Images/Common/up.gif');
	
}

.uplaodbuttoncontainer {
	position: relative;
left: 30%;
margin-top: 20px;
font-size: 12px;
}

.folderbutton {
	padding-top: 10px;
}


.buttons {
	padding-top: 10px;
	padding-bottom: 10px;
}



	#moviethum {
		box-sizing: border-box;
		height: 100px;
		border: 2px dashed #cccccc;
		border-radius: 4px;
		padding: 11px;
		
		padding-bottom: 10px;
	}

	.dz-success-mark {
		display: none
	}
	 .dz-error-mark {
		 display: none;
	 }

	#Movie{
		 /*width: 200px; 
		 height: 150px; 
		 border-color: lightgray;
		 border-style: dashed;*/
		 /*padding-left: 20px;
		 padding-top: 10px;
		 padding-right: 30px;
		 padding-bottom: 30px;*/
		 /*float: left*/
		margin-bottom: 10px;
		float: left;
		width: 200px;
	 }
	

	 .parametercontainer {
		 float: left;
		 padding-left: 10px;
		 width: 400px;
		 	 }

	  .parametercontainer input {
		  width: 400px;
	  }
	  .moviecontainer .textspan {
		  
		  font-size: 16px;
		  padding-left: 10px;
		  padding-top: 20px;
	  }

	  .dropzone .dz-preview .dz-details {
		  display: none;
	  }

	  .dropzone .dz-preview .dz-details .dz-size {
		  display: none;
	  }

	 #previews {
		  width: 750px;
	  }