﻿/* < content-area > */
div#header-border{
	border-right: solid 1px #C6C6C6; 
	width:23%; 
	padding-left: 14px; 
	margin-top: -50px; 
	height:	50px;
}
div#content-area-header{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	padding: 15px;
}
div#content-area-header span{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
}
div#carea-left{
	/*padding-left: 15px;*/
	padding: 15px 10px;
	float: left;
}
div.template-item{
	/*border-bottom: solid 1px #C6C6C6;
	border-right: solid 1px #C6C6C6;*/
	padding: 5px 15px 5px 15px;
	/*margin-left: -15px;*/
}
div.template-item a{
	color: #004CD5;
	text-decoration: none;
}
div.template-item a:hover{
	cursor: pointer;
	text-decoration: underline;
}

div#carea-right{
	padding: 10px 10px;
	float: left;
	min-width: 700px;
}
div#carea-right span{
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
div#carea-right table{
	margin: 10px 0px 10px 0px;
}

div#carea-right .headerDiv span{
	font-size: 19px;
	color: #FFFFFF;
	margin: 15px;
	padding: 0px;
	font-weight: normal;
}

div#template-area-subMainDiv{
	background-color: #E1E1E1;
	border: solid 1px #000;
	padding: 5px 15px 15px;
	margin-top: -5px;
	width: 424px;
	height: auto;
	display: table;
}
div#template-area-subMainDiv span{
	
	font-size: 1em;
	font-weight: normal;	
}
div#template-area-subMainDiv input[type="text"]{
	width: 370px;
}
div#template-area-subMainDiv input[type="button"]{
	float: right;
	font-weight: bold;
	margin-right: 0px;
}
div#popup-template-area-errors{
	padding-top: 5px;
	clear: both;
	float: none;
	font-weight: bold;
}
div#popup-template-area-errors span{
	
	padding-top:4px;
	font-weight: bold;
}
div#template-area-subMainDiv-button{
	color:White;
	font-weight:bold
	
}
/* </ content-area > */


/* < include > */
/* < master > */
div#include-master{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}
div#include-master span{
	white-space: nowrap;
	overflow: hidden;
}
div#include-master div.include-master-first-item{
	padding: 15px;
	width: 210px;
	float: left;
}
div#include-master div.include-master-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#include-master div.include-master-last-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#include-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div#include-master div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}
div#include-master div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div#include-master div.link-button a{
	display: block;
    font-size: 0.7em;
    font-weight: normal;
    padding: 5px;
}

div.include-search{
	font-size: 0.7em;
	padding: 4px 5px 0px 5px;
	vertical-align: middle;
	float: left;
}
div.include-search input[type="submit"]{
	font-weight: bold;
	width: 50px;
}

div#include-folder-list{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div#include-folder-content{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
/* </ master > */

/* < default > */
div#folder-list table{
	margin: 5px 0px 15px 0px;
}
div#folder-list a,
div#folder-list img{
	padding-left: 5px;
}
div#include-list table{
	margin: 5px 0px 15px 0px;
}
div#include-list img.include-icon{
	padding-left: 5px;
	height: 11px;
}
div#include-list a{
	padding-left: 5px;
	margin-top: -5px;
}
/* </ default > */

/* < create-edit > */
div.include-create-edit div.column{
	width:50%;
}
div.include-create-edit input[type="text"]{
	width: 100%;
}
div.include-create-edit textarea{
	/*width: 695px;*/
	width: 450px;
}

div#create-column-first{
	width: 66%;
}
div#create-column-last{
	width:34%;
}

/* </ create-edit > */
/* </ include > */


/* < alias > */
/* < master > */
div#alias-master{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}
div#alias-master span{
	white-space: nowrap;
	overflow: hidden;
}
div#alias-master div.alias-master-first-item{
	padding: 15px;
	width: 210px;
	float: left;
}
div#alias-master div.alias-master-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#alias-master div.alias-master-last-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#alias-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div#alias-master div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}
div#alias-master div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div#alias-master div.link-button a{
	display: block;
    font-size: 0.7em;
    font-weight: normal;
    padding: 5px;
}

div.alias-search{
	font-size: 0.7em;
	padding: 4px 5px 0px 5px;
	vertical-align: middle;
	float: left;
}
div.alias-search input[type="submit"]{
	font-weight: bold;
	width: 50px;
}

div#alias-folder-list{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div#alias-folder-content{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
/* </ master > */

/* < default > */
div#folder-list table{
	margin: 5px 0px 15px 0px;
}
div#folder-list a,
div#folder-list img{
	padding-left: 5px;
}
div#alias-list table{
	margin: 5px 0px 15px 0px;
}
div#alias-list img{
	padding-left: 5px;
	height: 11px;
}
div#alias-list a{
	padding-left: 5px;
	margin-top: -5px;
}

div#component-list, div#component-datails
{
	padding:10px;
}
	
/* </ default > */

/* < create-edit > */
div.alias-create-edit div.column{
	width:50%;
}
div.alias-create-edit input[type="text"]{
	width: 100%;
}
div.alias-create-edit textarea{
	width: 100%;
}
div#create-column-first{
	width: 66%;
}
div#create-column-last{
	width:34%;
}
/* </ create-edit > */
/* </ alias > */


/* < template > */
/* < master > */
div#template-master{
	overflow:hidden;
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
}
div#template-master div.template-master-first-item{
	padding: 15px;
	width: 210px;
	float: left;
}
div#template-master div.template-master-last-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div.template-search{
	font-size: 0.7em;
	padding: 4px 5px 0px 5px;
	vertical-align: middle;
	float: left;
}

div#template-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div.template-search input[type="submit"]{
	font-weight: bold;
	width: 50px;
}
div#template-master span{
	white-space: nowrap;
	overflow: hidden;
}

div#template-folder-list{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div#alias-folder-content{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
/* </ master > */

/* < default > */
div#template-settings{
	padding: 10px 0px 10px 0px;
	border-top: dotted 1px; 
	border-bottom: dotted 1px; 
	width: 100%;
	float: left;
}
div#model-item{
	padding: 0px 20px 0px 20px;
	width: 44%; 
	float: left;
}
div#model-name{
	padding-top: 10px;
	font-size: 1.3em;
	font-weight: bold;
}
div#model-content-wrapper{
	padding-bottom: 20px;
}
div#model-content{
	clear: both; 
	padding: 5px 0px 5px 0px;
}
div#model-content span{
	float: left;
}
div#model-content select{
	float: right; 
	width: 50%;
}
div#model-buttons{
	padding-top: 10px; 
	float: right;
}

/* </ default > */

/* < templates-page > */
div#template-item{
	padding: 10px 0px 10px 0px;
}
div#template-create input[type="text"]{
	width: 250px;
}
div#is-alternate{
	padding-top: 12px;
}
div#template-fragment{
	margin-top: 10px;
	float: left;
}
div#content-areas
{
	clear: both;
	padding-top:5px;
}
/* </ templates-page > */

/* < create-edit-template > */
div.fragment-content{	
	width: 697px;
	border: solid 1px #C6C6C6;
	border-top: 0px; 
	padding: 10px;
}
.settings-caption{	
	font-size: 1.1em;
	font-weight: bold;
}
div.fragment-item{	
	/*border: solid 1px #C6C6C6;*/
	padding: 0px 0px 15px 15px;
}
div.fragment-item-a{	
	background-color: #F2F2F2;
	border: solid 1px #C6C6C6;
	padding: 0px 0px 15px 15px;
}
div.fragment-item-b{	
	background-color: #D9D9D9;
	border: solid 1px #C6C6C6;
	padding: 0px 0px 15px 15px;
}
div.fragment-item textarea,
div.fragment-item input[type="text"],
div.fragment-item-a textarea,
div.fragment-item-a input[type="text"],
div.fragment-item-b textarea,
div.fragment-item-b input[type="text"]{	
	width: 100%;
}

div.alternate-fragment-content{
	padding-top: 15px;
}

div.fragment-button{
	background-image: url(../images/Interface/fragment-button.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 20px;
	margin-left: 5px;
	padding-top: 9px;
	text-align: center;
	cursor: pointer;
}

div.fragment-button-function{
	background-image: url(../images/Interface/fragment-button.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 25px;
	margin-left: 0px;
	padding-top: 5px;
	text-align: center;
	cursor: pointer;
}

.functionAddButton{
	width: 80px;
	height: 25px;
	background-color: Transparent;
	border-style: none;
}

/* < popup > */
div.popup-container{
	height: 400px;
	width: 650px;
	position: absolute;
}
div.popup-header{
	height: 37px;	
}
div.popup-header div{
	float: left;
}
div.popup-header input{
	margin-top: 8px;
	margin-right: 4px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	width: 30px;
}
div.popup-header-left{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 37px;
}
div.popup-header-right{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 37px;
	float: left;
}
div.popup-header-center{
	background: url('../Images/Assortment/header-center.png');
	height: 37px;
	width: 608px;
}
div.popup-header-center label,
div.popup-header-center span {
	position: absolute;
	margin: 8px 5px;
	font-size: 19px;
	color: #FFFFFF;
}
div.popup-content{
	position: absolute;
	overflow-y: scroll;
	padding: 10px 10px 10px 0;
	height: 400px;	
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 609px;
}
div.popup-content .header_element,
div.popup-content .element{
	width: 47%;
}
div.template-variables-repeater
{
	padding-left: 10px;
	width: 355px;
}
div.template-variables-repeater-wide
{
	padding-left: 10px;
	width: 570px;
}
div.template-variables-item
{
	padding-bottom: 7px;
}
div.template-variables-item a
{
	font-style: normal;
	text-decoration: underline;
}

 /* < popup > */
 
 /* < image upload > */
div.template-image
{
	float:left;
	padding: 30px 0px 20px 0px;
}
div.image-show
{
	float:left;
	padding-top: 10px;
	height: 100px;
	width: 100px;
}
div.upload-box
{
	float:left;
	padding-left:10px;
}
div.upload-row
{
	
	padding-top:10px;
}
.upload-buttons
{
	width: 130px;
	height: 25px;
}
.file-upload
{
	width: 200px;
	height: 25px;
}
div.image-upload
{
	float:left;
	padding: 0px 10px 10px 10px;
	margin-top: -7px;
	border: 1px solid #C6C6C6;
	width: 390px;
}
div.image-upload-caption{
	position: relative; 
	margin-top: -8px; 
	padding: 0px 5px 0px 5px;
	width: 80px; 
	background-color: #FFFFFF;
}
 /* < image upload > */

/* </ create-edit template > */
/* </ template > */

div.interface-errors
{
	padding-top: 5px;
	font-weight: bold;
	clear: both;	
}

.main-caption-head {
	font-size: 18px;
	color: #555555;
	font-weight: bold;
	font-style:italic;
}
.template-img {
	max-width: 100%;
	max-height: 100%;
}

div#include-folder-list div.menu-container,
div#include-folder-list div.menu-shadow,
div#alias-folder-list div.menu-container,
div#alias-folder-list div.menu-shadow
{ 
	height: 150px; 
}
div#include-folder-list div.menu-container-root,
div#include-folder-list div.menu-shadow-root,
div#alias-folder-list div.menu-container-root,
div#alias-folder-list div.menu-shadow-root
{ 
	height: 50px; 
}

/* < translation-popup-container > */

div.translation-popup-container {
	position: absolute;
	top: 85px; 
	left: 95px;
	overflow: hidden;
	height: 650px;
}
div#translation-popup-header {
	background-repeat: no-repeat;
	height: 47px;	
}
div#translation-popup-header div {
	float: left;
}
div#translation-popup-header-center label,
div#translation-popup-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}
div#translation-popup-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}
div#translation-popup-content {
	margin: 0pc 1px;
	background-color:  White;
	border: 1px solid #000000;
	width: 590px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
	height: auto;
}
div#translation-popup-content input,
div#translation-popup-content textarea {
	width: 96%;
}
div#translation-popup-header-left {
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 47px;
}
div#translation-popup-header-right {
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 47px;
	float: left;
}
div#translation-popup-header-center {
	background: url('../Images/Assortment/header-center.png');
	height: 47px;
	width: 589px;
}
div#translation-popup-content-right {
	float: right;
	width: 300px;
}
div.translation-popup-tabs-container {
	background-color:#FFFFFF;
	border-color:#C0C0C0;
	border-style:solid;
	border-width:4px 1px 1px;
	/*height: 80px;*/
	padding:20px 10px 10px 10px;
	float: left;
	width: 550px;
	overflow-y: auto;
	overflow-x: hidden;			
}
div.translation-popup-acton-button {
	padding-right: 10px;
	padding-top: 15px;
	float: right;
}
div.translation-item {
	padding-top: 10px;
}
div.translation-item img {
	margin-top: -5px;
}
div.translations-multi-line {
	padding-top: 10px;
}
div#translation-popup-content  div.translations-multi-line textarea{
	width: 99%;
}
div.translation-wysiwyg {
	width: 98%;
}
/* </ translation-popup-container > */



/* < THEMES > */
div.theme
{
	float: left;
	padding: 10px 0;
	width: 100%;
}
div.theme-bold
{
	padding-left: 20px;
	font-weight: bold;
}
div.theme-bold input[type="text"]
{
	width: 430px;
}
div.theme-model{
	padding: 10px 0px;
	width: 100%;
	float: left;
}
div.theme-grid
{
	padding: 5px 15px;
}
/* </ THEMES > */