﻿/* < BlockBrandListEdit.aspx > */
div.popup-brands-add-container {
	width: 218px;
	overflow: hidden;
	height: 260px;
}

div#popup-brands-add-header {
	background-repeat: no-repeat;
	height: 47px;	
}

div#popup-brands-add-header div {
	float: left;
}

div#popup-brands-add-header-center label,
div#popup-brands-add-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-brands-add-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-brands-add-content {
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 205px;
	height: 190px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
}

div#popup-brands-add-header-left {
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}

div#popup-brands-add-header-right {
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}

div#popup-brands-add-header-center {
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 204px;
}

/* </ BlockBrandListEdit.aspx > */
/**************************************** < BRANDS > ********************************************/
div.brand-panel-create {
	color:#CBCBCB;
	float:left;
	padding-bottom:8px;
	padding-left:15px;
	padding-top:10px;
	width:100px;
	margin-right:10px;
	padding:5px;
}

div.brand-panel-create-store {
	float: left; 
	padding-bottom: 8px; 
	padding-top: 8px; 
	font-size: 0.7em;
	font-weight: normal;
}

div.brand-panel-messages {
	float:left; 
	width:984px; 
	margin-bottom:-10px;
}

div.brand-place-holder {
	float:left;
	vertical-align:top;
	padding: 10px;
	width:976px;
}

div.brand-edit-header {
	color:#999999;
	font-size:16px;
	font-weight:bold;
}

div.brand-edit-block {
	float: left;
	width: 465px;
}

div.brand-edit-container div.column {
	padding-bottom: 10px;
}

/**************************************** </ BRANDS > *******************************************/

/**************************************** < PRODUCT EDIT > ********************************************/
div.data-column {
	float: left;
	padding-right: 20px;
	padding-top: 5px;
}

div.data-row {
	float: left;
	padding-bottom: 10px;
}

div.product-icon-wrapper {
	float: left; 
	padding-top: 5px; 
	padding-right: 5px; 
	width: 70px; 
	height: 30px;
}

.product-icon-img {
	max-height: 30px;
	max-width: 50px;
} 

div.tags-list-container {
	float: left;
	padding-right: 20px;
	padding-top: 5px;
	width: 320px;
}

div.data-column-tags {
	float: left;
	margin: 0;
	padding-right: 5px;
	padding-top: 5px;
	
}

div.data-column-tags-center {
	float: left;
	margin: 0;
	padding-right: 5px;
	padding-top: 50px;
}

.list-box-tags {
	width: 135px;
}

div.popup-tags-container {
	width: 318px;
	overflow: hidden;
}

div#popup-tags-header {
	background-repeat: no-repeat;
	height: 47px;
}

div#popup-tags-header div {
	float: left;
}

div#popup-tags-header-center label,
div#popup-tags-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-tags-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-tags-content {
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 305px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
}

div#popup-tags-header-left {
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}

div#popup-tags-header-right {
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}

div#popup-tags-header-center {
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 304px;
}

div#popup-tags-content div.message-container {
	width: 93%;
}

div#tag-grid-item input[type="image"] {
	vertical-align: bottom;
}

div.size-deviation-right div.context-menu-container,
div.size-deviation-right div.context-menu-shadow {
	height: 45px;
}

a.size-deviation-menu-button {
	cursor: pointer;
}

div.size-deviation-container {
	width: 100%; 
	overflow: hidden;
}

div.size-deviation-left {
	float: left;
}

div.size-deviation-right {
	float: left;
	padding-left: 3px;
}

input.size-deviation-box {
	text-align: right;
	width: 64px;
}

input.override-eu-box {
	text-align: right;
	width: 67px;
}
/**************************************** </ PRODUCT EDIT > ********************************************/

/**************************************** < ORDER EDIT > ********************************************/
td.order-edit-summary-title {
	text-align: right;
	padding-right: 15px;
}

td.order-edit-summary-vat {
	text-align: right;
	padding-right: 15px;
}

td.order-edit-summary-value {
	text-align: right;
	padding-right: 34px;
}
/**************************************** </ ORDER EDIT > ********************************************/

div.image-rotator-context-menu-shadow {
	background-color: Gray;
	position: absolute;
	width: 120px;
	height: 50px;
	overflow: visible;
	margin-left: 5px;
	margin-top: 5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display:block;
	z-index: 99;
}

div.image-rotator-context-menu-container {
	background-color: #ffffff;
	border: solid 1px #c6c6c6;
	width: 120px;
	height: 50px;
	position: absolute;
	overflow: visible;
	z-index: 100;
}

div.image-rotator-context-menu-caller {
	cursor: pointer; 
	padding-top:15px;
}

div.link-button-removeGroup {
	padding-left:260px; 
}

table.image rotator {}

.movie-modalBackground {
	z-index: 100000111;
}

.customer-freight-subMainDiv div.message-container {
	width:100%;
}

/* < url-history-popup-container > */

div#url-history-popup-content {
	margin: 0pc 1px;
	background: #fff;
	border: 1px solid #000000;
	width: 590px;
	padding: 10px 0px 10px 10px;
	overflow: hidden;
	height: auto;
}

div#url-history-popup-content input {
	width: 80%;
}

div#url-history-popup-content .url-history-delete-button {
	width: 15px;
}
/* </ url-history-popup-container > */


/* < Flags > */

div.flag-messages {
	width: 99%;
}

div.flag-body {
	padding-top: 5px;
}

div.flag-edit-header {
	color: #999999;
	font-size: 16px;
	font-weight: bold;
	float: left;
}

div.flag-edit-block {
	float: left;
	width: 465px;
}

div.flag-edit-container div.column {
	padding-bottom: 10px;
}

div.flag-apply-to-selected{
	background-color: #D9E7F7;
	border: 1px solid #C6C6C6;
	display: none;
	float: left;
	padding: 5px;
	position: relative;
	width: 98.8%;
}

/* </ Flags > */



/* < Multiple channels campaigns > */
div.campaign-action-voucher
{
	height: 500px;
}
div.campaign-action-voucher div.small-campaign-popup-content
{
	height: 440px;
}
/* </ Multiple channels campaigns > */



/* < Free freight flag action > */
div.campaign-action-free-freight-flag
{
	height: 460px;
}
div.campaign-action-free-freight-flag div.small-campaign-popup-content
{
	height: 400px;
}
/* </ Free freight flag action > */

/* < BlockEsalesRecommendEdit.aspx > */
div.esales-recommend .full-width input,
div.esales-recommend .full-width select
{
	width: 100%;
}
/* </ BlockEsalesRecommendEdit.aspx > */

/* < CartItemDiscount - CartAction - Campaigns > */
div.cart-item-discount-column 
{
	float: left;
	padding-right: 20px;	
}
div.cart-item-discount-column fieldset
{
	min-height: 105px;
	padding: 5px;
}
div.cart-item-discount-column fieldset legend
{
	font-weight: bold;
}
div.cart-item-discount-column fieldset div.currencyvalue-wrapper
{
	padding: 0;
}
div.cart-item-discount-pagesize 
{
	float: right;
	padding-right: 25px;	
}
/* </ CartItemDiscount - CartAction - Campaigns > */

div.cart-item-fixed-discount div.currencyvalue-wrapper 
{
	padding: 0 10px;
}

/* < FreightValue - CartAction - Campaigns > */

div.delivery-methods-selector-wrapper
{
	padding:10px 0px 10px 30px;
}

div.delivery-methods-header-wrapper
{
	padding-bottom:10px;
}

div.campaign-action-freight-value-popup-container
{
	width: 413px; /*+100*/
}

div.campaign-action-freight-value-campaign-popup-header-center
{
	width: 399px; /*+100*/
}

div.campaign-action-freight-value-popup-content
{
	width: 400px; /*+100*/
}

div.campaign-action-freight-value-popup-content div.message-container
{
	width: 380px; /*+100*/
}

/* </ FreightValue - CartAction - Campaigns > */



/* < SiteStructure - Block edit - Time > */
div.time-limit-wrapper 
{
	padding-top: 5px;
}

div.time-limit-comment 
{
	float: left;
	padding: 15px 0 0 15px;
}

div.time-limit-container 
{
	float: left;
	position: relative;
	z-index: 10;
}

div.time-limit-start-date 
{
	float: left;
}

div.time-limit-end-date 
{
	float: left;
	padding-left: 10px;
}

div.time-limit-start-date input[type="text"], div.time-limit-end-date input[type="text"] 
{
	width: 105px;
}

div.time-limit-daily-interval 
{
	float: left;
	padding-left: 20px;
}

div.time-limit-daily-interval input[type="text"] 
{
	width: 50px;
}
/* </ SiteStructure - Block edit - Time > */

/* <Label on separate row> */
div.label-row label
{
	display: block;
}
/* </ Label on separate row> */

/* <Campaigns> */
div#targetToolbar
{
	width: 99%;
	float: left;
}

div#targetToolbar div.link-button
{
	border-style: none;
	margin-top: 0px;
	background-color: #F2F2F2;
}

div#search-product-criteria textarea{
	width: 92%;
	margin-top :4px;
}
/* </ Campaigns> */


/* < SiteStructure - Block edit - Target device > */
div.target-device-wrapper
{
	padding-top: 5px;
}

div.target-device-comment
{
	float: left;
	padding: 15px 0 0 15px;
}

div.target-device-container
{
	float: left;
	position: relative;
	z-index: 10;
}

div.target-device-desktop
{
	float: left;
}

div.target-device-mobile
{
	float: left;
	padding-left: 10px;
}

div.block-setting .input-box {
	padding-right: 8px;
}

div.block-setting  input[type="text"] {
	width: 188px;
}
/* </ SiteStructure - Block edit - Target device > */

/* < BlockEsalesRecommendEdit.aspx > */
div.esales-model .full-width input,
div.esales-model .full-width select
{
	width: 100%;
}
/* </ BlockEsalesRecommendEdit.aspx > */
.makenew-container {
	padding-top: 30px;
}
