﻿/* < master > */
span{
	white-space: nowrap;
	overflow: hidden;
}
div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}
div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div.link-button a{
	display: block;
    font-size: 0.7em;
    font-weight: normal;
    padding: 5px;
}

div.link{
	float: left;
}
div.link img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div.link a{
	display: block;
    font-size: 1em;
    font-weight: normal;
}
div.link a:hover{
	text-decoration: underline;
}
/* </ master > */


/* < pages > */
/* < master > */
div#pages-master{
	background-color: #F0F0F0;
	border-bottom: solid 1px #C6C6C6;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	overflow: hidden;
}
div#pages-master span{
	white-space: nowrap;
	overflow: hidden;
}
div#pages-master div.pages-master-first-item{
	padding: 15px;
	width: 270px;
	float: left;
}
div#pages-master div.pages-master-last-item{
	border-left: solid 1px #C6C6C6;
	padding: 10px;
	float: left;
}
div#pages-master div.item{
	margin-right: 10px;
	padding: 5px;
	float: left;
}
div#pages-master div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 3px;
	float: left;
}
div#pages-master div.link-button img{
	margin-right: 3px;
	border-width: 0px;
	float: left;
}
div#pages-master div.link-button a{
	display: block;
    font-size: 0.7em;
    font-weight: normal;
    padding: 5px;
}

div#pages-list{
	padding-top: 10px;
	width: 250px;
	float: left;
}
div#pages-content{
	padding: 15px;
	vertical-align: top;
	width: 66%;
	float: left;
}
/* </ master > */

/* < folder > */
div.pages-full-content input[type="text"],
div.pages-full-content textarea{
	width: 100%;
}
div.pages-full-content div.content-box{
	width: 95%;
	margin: 5px 0px 0px 0px;
	padding-bottom: 0px;
}
div.pages-full-content div.column{
	width: 100%;
	margin-top: -10px;
}
div.pages-full-content div.input-box {
	width: 99%;
}
/* </ folder > */

/* < page > */
div#page-create div.content-box{
	width: 95%;
	margin: 5px 0px 5px 0px;
}
div#page-create div.column{
	width: 60%;
	margin-top: -10px;
}
div#page-create div.input-box {
	width: 94%;
}
div#page-create input[type="text"]{
	width: 99%;
}
div#page-create select{
	width: 95%;
}
div.settings-left-column
{
	float: left;
	padding-top: 5px;
	width: 40%;
}
div.settings-right-column
{
	float: left;
	padding-left: 3px;
	width: 54%;
	
}
div.settings{
	padding: 0px 10px 10px 10px;
	margin-top: -7px;
	border: 1px solid #C6C6C6; 
}
div.page-settings-caption{
	position: relative;
	top: -8px; 
	padding: 0px 5px 0px 5px;
	width: 40px; 
	background-color: #FFFFFF;
}
div.page-layout-caption{
	position: relative; 
	margin-top: -8px; 
	padding: 0px 5px 0px 5px;
	width: 40px; 
	background-color: #FFFFFF;
}

div#page-layout-column{
	width: 40%;
	float: left;
	margin-top:6px;
}

div#page-layout-title
{
    margin-left: 15px; 
}

div#page-layout{
	padding: 0px 10px 10px 10px;
	margin-top: -3px;
	width: 225px;
	height: 164px;
	border: 1px solid #C6C6C6;
	float: left;
}
/* </ page > */

/* < link > */
div.link-settings
{
	/*float:left;*/
	margin-top: 5px; 
	
	border-bottom: 1px solid #C6C6C6; 
	border-right: 1px solid #C6C6C6; 
	border-left: 1px solid #C6C6C6;		
}
.group-box-inner
{
    margin: 0px 10px 10px 10px;
}
.padding-px
{
	/*margin-left: -1px;*/
}
.margin-left-px
{
	margin-left: 5px;
}
div.link-settings-right
{
	float:left;
	margin-top: 5px; 
	width: 120px; 
	border-bottom: 1px solid #C6C6C6; 
	border-right: 1px solid #C6C6C6; 
	border-left: 1px solid #C6C6C6; 
	padding: 0px 10px 10px 10px;
}
div.link-settings-separator
{
	float:left;
	width: 25px;
	height: 37px ;
}
div.link-settings label, div.link-settings-right label{
	background-color: #FFFFFF; 
	padding: 0px 5px 0px 5px; 
	
	top: -8px; 
	text-align: center;
}
/* </ link > */

/* < shortcut > */
div.shortcut-settings{
	width: 150px; 
	border: 1px solid #C6C6C6; 
	padding: 0px 10px 10px 10px;
}
div.shortcut-settings label{
	background-color: #F0F0F0; 
	padding: 0px 5px 0px 5px; 
	position: relative; 
	top: -8px; 
	text-align: center;
}
div.link-destination, div.link-placement{
	padding-right: 6px;
	margin-top: -7px;
}
div#link-placement-tree, div#link-destination-tree{
	height: auto;
	overflow: auto;
	background-color: #fff;
}
/* </ shortcut > */

/* < settings > */
div.page-settings input[type="text"]{
	width: 95%;
}
div.page-settings div.content-box{
	width: 95%;
	margin: 5px 0px 5px 0px;
}
div.page-settings div.column{
	width: 50%;
	margin-top: -10px;
}
div.page-settings div.input-box {
	width: 99%;
}
div.page-settings select{
	width: 97%;
}

div.block-rich-settings{
	margin-top: 10px; 
	width: 590px; 
	border: 1px solid #C6C6C6; 
	padding: 0px 10px 10px 10px;
}
div.block-rich-settings label{
	background-color: #FFFFFF; 
	padding: 0px 5px 0px 5px; 
	position: relative; 
	top: -8px; 
	text-align: center;
	font-weight: bold;
}
div.block-rich-settings select{
	width: 200px;
}

div.move-block-menu-shadow
{
	background-color: Gray;
	position: absolute;
	width: 120px;
	height: 70px;
	overflow: visible;
	top: 5px;
	left: -5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 99;
}

div.move-block-menu-container
{
	background-color: #ffffff;
	border: solid 1px #c6c6c6;
	width: 120px;
	height: 70px;
	position: absolute;
	overflow: visible;
	z-index: 100;
}

div.move-block-menu-header
{
	padding: 4px 10px;
	font-weight: 600;

}
	
div.move-block-menu-row
{ padding: 4px 10px; overflow: hidden; height: 14px; white-space: nowrap; }

div.move-block-menu-row img
{ border: none; }

div.move-block-menu-row-separator
{
	border-bottom: solid 1px #c6c6c6;
	height: 0px;
	font-size: 0px;
}

/* </ settings > */

/* < assortment-block > */
/* < search > */
div#assortment-search{
	float: left;
	border: solid 1px #C6C6C6;
	padding: 10px;
}
/*SEARCH CRITERIA*/
div#block-assortment-search{
	width: 100%; 
	padding-top: 1px;
}
div#block-assortment-search div.column{
	width: 30%;
	padding-left: 10px;
	padding-right: 10px;
}
div#block-assortment-search div.column-first{
	width: 30%;
	float :left;
	padding-right: 9px;
	padding-left: 0px;
	margin-left: 0px;
}
div#block-assortment-search div.column-last{
	width: 33%;
	float :left;
	padding-left: 10px;
}
div#block-assortment-search div.input-box{
	width: 100%;
	padding-right: 0px;
}
div#block-assortment-search input[type="text"]{
	width: 98%;
	margin-top: 4px;
}
div#block-assortment-search select{
	width: 100%;
	margin-top: 4px;
}

/*---*/
div#block-assortment-search div.input-box .price{
	width: 86%;
}
	
div#block-assortment-search div.input-box .price-to{
	width: 91%;	
}
/*---*/
div#block-search-button{
	margin-top: 16px;
}
/* </ search > */
div.block-assortment div.content-box{
	width: 95%;
	margin: 5px 0px 0px 0px;
	padding-bottom: 0px;
}
.block-header{
	color: #666666;
	font-size: 13px;
	font-weight: bold;
}
div.block-assortment-settings{
	margin-top: 15px; 
	width: 601px; 
	border: 1px solid #C6C6C6; 
	padding: 0px 10px 10px 10px;
	float: left;
}
div.block-assortment-settings label{
	background-color: #FFFFFF; 
	padding: 0px 5px 0px 5px; 
	position: relative; 
	top: -8px; 
	text-align: center;
	font-weight: bold;
}
div.block-assortment-settings div.input-box{
	margin-top: 0; 
}

div.ss-product-list{
	width: 602px;
}

div.ss-product-list div.column{
	width: 30%;
	float :left;
	padding-left: 10px;
}

div.ss-product-list div.column-last{
	width:33%;
	float :left;
	padding-left: 10px;
}

div.ss-product-list div.column-first{
	width: 30%;
	float :left;
	padding-left: 10px;
}

div#product-list-action-buttons
{
	float: right;
	padding-right: 25px;
	padding-bottom: 12px;
}

div.block-assortment div.column{
	width: 33%;
}
div.block-assortment div.input-box{
	width: 100%;
	padding-right: 8px;
}
div.block-assortment input[type="text"]{
	width: 188px;
}
div.block-assortment select{
	width: 194px;
    margin-top:0px;
    font-size:12px;
}

div#assortment-search-result{
	width: 100%;
	float: left;
	margin-top: 10px;
}
div#assortment-search-result div.first{
	width: 45%;
}
div#assortment-search-result div.last{
	width: 55%;
}
div#assortment-search-result div.input-box{
	margin-top: 1px;
	padding-bottom: 5px;
}
div#assortment-search-result div.input-box input[type="text"]{
	width: 30px;
}
/* </ assortment-block > */

/* < page > */
.ss-page-caption{
	font-size: 1.5em;
	font-weight: bold;
	color: #999999;
}

div.create-block{
	padding: 10px 20px 4px 20px; 
	float: left;
	border-left: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
	cursor: auto;
	width: 50%;
}
div.create-block div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin: -2px 3px 0px 10px;
	float: left;
}
div.create-block div.link-button img{
	margin-right: 5px;
	border-width: 0px;
	float: left;
}
div.create-block div.link-button a{
	display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
}
div.block-action{
	padding: 12px 7px 11px 20px;
	width: 10%;
}
div#area-items{
	padding-top: 5px;
	width: 100%;
}
div.area-item{
	width: 100%; 
	border: 1px solid #C6C6C6; 
	background-color: #F2F2F2;
	cursor: pointer;
}
div.area-item-header{
	padding: 10px 20px 8px 7px; 
	width: 25%;
	color:#999999;
	font-size:1.5em;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
}
div.site-structure-area-block-items{
	width: 100%;
	border: 1px solid #C6C6C6;
	border-top: 0px;
	border-bottom: 0px;
}
div.site-structure-area-block-items input[type="text"]{
	width: 30px;
}
div.area-block-items{
	padding-top: 10px; 
	padding-bottom: 10px; 
	width: 97%;
	border: 1px solid #C6C6C6;
	border-top: 0px;
	padding: 10px;
}
div.area-block-items input[type="text"]{
	width: 30px;
}
div.area-cancel-action{
	width: 100%; 
	margin-top: 20px;
}
div.create-block-code{
	padding: 10px 20px 7px 20px;
	float: left; 
	border-left: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
	display: block;
}
/* </ page > */
/* < popup > */
div#create-block-subdiv{
	background-color: #E1E1E1;
	border: 1px solid #000000;
	display:table;	
	height: auto;
	padding-bottom:15px;
	margin-top: -5px;
	padding: 5px 15px 15px;
	width: 424px;
}

div#main-move-popap
{
    overflow:hidden;
	background-color: #E1E1E1;
	border: 1px solid #000000;
	display:table;	
	height: auto;
	padding-bottom:15px;
	margin-top: -5px;
	padding: 5px 15px 15px;
	width: 424px;
}

div#create-block-subdiv div.column{
	width: 48%;
	padding-bottom: 10px;
}
div#create-block-subdiv div.column input,
div#create-block-subdiv div.column select{
	width: 100%;
}
div#create-block-subdiv div.input-box{
	padding-right: 0px;
}
div#page-type-popup{
	float: right;
}
/* </ popup > */

/* < ContentPageSelect popup > */
div#page-select-subdiv,
div.page-select-subdiv
{
	background-color: #E1E1E1;
	border: 1px solid #000000;
	height: 320px;
	padding-bottom:15px;
	margin-top: -5px;
	padding: 20px 20px 0 20px;
	width: 414px;
}
div#page-select-subdiv div.column,
div.page-select-subdiv div.column
{
	width: 48%;
	padding-bottom: 10px;
}
div#page-select-subdiv div.column input,
div#page-select-subdiv div.column select,
div.page-select-subdiv div.column input,
div.page-select-subdiv div.column select
{
	width: 100%;
}
div#page-select-subdiv div.input-box,
div.page-select-subdiv div.input-box
{
	padding-right: 0px;
}
div#page-type-popup{
	float: right;
}
div#page-select-subdiv div#select-folder,
div.page-select-subdiv div.select-folder
{
    width:284px;
    height:250px;
    background-color:#FFFFFF;
    overflow-y:scroll;
    overflow-x:hidden;
}
div#page-select-subdiv div#select-folder div.treeview-main-container,
div.page-select-subdiv div.select-folder div.treeview-main-container
{
	background-color:#FFFFFF;
	/*height:250px;*/ /* -> because scroll for div#select-folder doesn't work */
	height: auto;
	width: 284px;
	border-style:none;
}

div.PopupBody div.treeview-main-container{
width: 430px !important;
}


div#page-select-subdiv div.select-folder-header,
div.page-select-subdiv div.select-folder-header
{
	width:264px;
}
/* </ ContentPageSelect popup > */

/* </ pages > */


/* < poput-images > */

div.poput-images-container
{
	position: absolute;
	top: 85px; 
	left: 95px;
	width: 1036px;
	overflow: hidden;
	height: 800px;
}

div#poput-images-header {
	/*background-image: url(../Images/Grid/header-settings.png);*/
	background-repeat: no-repeat;

	height: 47px;	
	/*background: url('../Images/Assortment/header-center.png');*/
}

div#poput-images-header div
{
	float: left;
}

div#poput-images-header-center label,
div#poput-images-header-center span {
	position: absolute;
	margin: 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#poput-images-header input {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	/*width: 20px;
	height: 20px;*/
	padding: 0px 4px;
}

div#poput-images-content
{
	margin: 0pc 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 995px;
	
	padding: 10px 0px 10px 10px;
	overflow: hidden;
}

div#poput-images-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height:47px;
}

div#poput-images-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height:47px;
	float: left;
}

div#poput-images-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height:47px;
	width: 994px;
}

div#popup-images-content-right
{
	float:right;
	width:745px;
}

div#popup-images-top-menu
{
	min-width: 300px;
	padding-left:20px;
}

div#popup-images-pick-button
{
	float: right;
	padding: 10px 10px;
 }
/* </ poput-images > */

/* < sort > */
div#sort-header img{
	vertical-align: text-top;
	padding: 2px 5px 0px 5px;
}
div#sort-content{
	margin: 5px 0px;
}
div#sort-content input[type="text"]{
	width: 30px;
}
/* </ sort > */

div#rich-text-action-buttons {
	float: right;
	padding-top: 15px;
	padding-right: 42px;
}



/* < SetStartPage > */
div.set-start-page
{
	width: 400px;
}
div#set-start-page input[type="text"]
{
	width: 328px;
}
div#set-start-page input[type="image"]
{
	vertical-align: bottom;
	padding-bottom: 2px;
	width: 20px;
}
.set-start-page-value
{
	margin-top: 4px;
}
span.set-start-page-value 
{	
	top: 4px;
}
input.set-start-page-value 
{
	width: 175px;
}
span.set-start-page-header 
{
	font-weight:bold;
}
/* </ sort > */

/* < PageEdit - grid with blocks (Y) > */
a.link-to-lable
{
	clear: both;
	color: #000000;
	font-style: italic;
	text-decoration: none;
}
.grid-row-with-asterisk-nocolor 
{
	border:1px solid #C6C6C6;
	padding-right:6px;
}
tr.master-block-header-row
{
	background-color: #F2F2F2;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}
tr.master-block-data-row
{
	color: #000000;
	font-style: italic;
}
tr.master-block-header-row a:hover,
tr.master-block-data-row a:hover
{
	text-decoration: none;
}
td.master-block-second-cell
{
	border: solid 1px #C6C6C6;
	padding-left: 15px;
}
tr.master-block-header-row td
{
	border-left-color: #F2F2F2;
	border-right-color: #F2F2F2;
}
/* </ PageEdit - grid with blocks (Y) > */

/* <DDL with use theme text  > */

option.use-theme
{
	color:#999999;
}
/* </DDL with use theme text  > */

div.block-setting-container
{
	float:left;
	padding-top:15px;
}
div.block-setting-content
{
	float:left;
	padding-top:5px;
}

div.site-structure-placement-tree
{
	 padding:1px;
}
 
div.site-structure-placement-tree input[type="text"]{
	width: 265px;
}

div.site-structure-link-placement-tree
{
	 padding:1px;
}
 
div.site-structure-link-placement-tree input[type="text"]{
	width: 200px;
}

div.apply-to-all
{
	float: left;
	padding-left: 10px;
	width: 130px;
	margin-right: 20px;
}
div.all-status-list
{
	float: left;
	width: 70px;
	margin-right: 20px;
}
div.all-access-list
{
	float: left;
	width: 80px;
	margin-right: 20px;
}
div.all-status-list div.scm-menu,
div.all-status-list div.scm-menu-shadow
{
	height: 90px;
}
div.all-access-list div.scm-menu,
div.all-access-list div.scm-menu-shadow
{
	height: 115px;
}

div#page-edit-master-children
{
    margin-left: 15px;
    height: 140px;
    min-width: 220px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div#page-edit-master-children ul
{
    margin: 0px;
    padding-left: 15px;
    list-style-type: square; 
}