.container
{
    width: 805px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
    /*background-color: White;*/
    border: 0px;
}
input[type="radio"]
{
    border: 0px;
}
.tabs-add-images-container
{
    width: 580px;
}
.ui-tabs-panel 
{
    width:100%;
}