<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master"  CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.AddOns.Default" %>

<asp:Content ID="addOnsTab" ContentPlaceHolderID="body" runat="server">
    <br /><br />Add Ons Main Tabs
</asp:Content>
