﻿div#channel-list{
	padding: 20px;
}

div#channel-edit{
	padding: 20px;
	display: table;
}

.main-caption {
	font-size: 16px;
	color: #999999;
	font-weight: bold;
}

div#channel-edit div.content-box {
	margin-top: 5px;
	clear: both;
	width: 97%;
}

div.input-box,
div.input-box-float-left {
	margin-top: 6px;
	padding-right: 20px;
}

div#channel-edit div.input-box-float-left {
	float: left;
}

div#channel-edit div.input-box input {
	width: 205px;
}

div#channel-edit div.input-box select,
div#channel-edit div.input-box-float-left select {
	width: 209px;
}

.buttons-container {
	margin-top: 5px;
	margin-right: -2px;
	clear: both;
	float: right;
}

.errors {
	float: left;
	margin-top: 30px;
	font-weight: bold;
}