﻿div.collapsible-items{
	padding-top: 5px;
	width: 100%;
}
div.collapsible-item{
	width: 100%; 
	border: 1px solid #C6C6C6; 
	background-color: #F2F2F2;
	cursor: pointer;
}
div.collapsible-item-header{
	padding: 10px 20px 8px 7px; 
	width: 25%;
	color:#999999;
	font-size:1.5em;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
}

div.action-block{
	padding: 10px 20px; 
	float: left;
	border-left: solid 1px #CCCCCC;
	/*border-right: solid 1px #CCCCCC;*/
	cursor: auto;
	width: 50%;
}
div.action-block div.link-button{
	background-color: #fff;
	border: 1px solid #ccc;
	margin: -2px 3px 0px 10px;
	float: left;
}
div.action-block div.link-button img{
	margin-right: 5px;
	border-width: 0px;
	float: left;
}
div.action-block div.link-button a{
	display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
}

.collapsible-caption{
	font-size: 1.5em;
	font-weight: bold;
	color: #999999;
}

div.image-block{
	padding: 12px 7px 11px 20px;
	width: 10%;
}

/* <cartvalue control> */
div.currencyvalue-wrapper
{
	padding:10px 0px 10px 30px;
}
div.currencyvalue-header-wrapper
{
	padding-bottom:10px;
}
span.currencyvalue-header-left
{
	padding-right:60px;
}
div.currencyvalue-content
{
	padding-top:3px;
}
div.currencyvalue-content input
{
	text-align: right;
}
/* </cartvalue control> */


/* tooltip */

.InformationIcon{vertical-align: middle; padding-right: 5px;}

.tooltip {
    /*border-bottom: 1px dotted #000000;*/
    color: #000000; outline: none;
    text-decoration: none !important;
    position: relative;
}
.tooltip img { border: none; }
.tooltip span {
    display: none;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 20px; bottom: 0; z-index: 99;
    display: block;
}
.tooltip:hover img {
    border: 0; 
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}

.classic { padding: 0.8em 1em; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }

.ajax__calendar_container{z-index:1;   }