﻿div.context-menu-shadow
{
	background-color: Gray;
	position: absolute;
	width: 120px;
	height: 70px;
	overflow: visible;
	margin-left: 5px;
	margin-top: 5px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display:block;
	z-index: 99;
}

div.context-menu-container
{
	background-color: #ffffff;
	border: solid 1px #c6c6c6;
	width: 120px;
	height: 70px;
	position: absolute;
	overflow: visible;
	z-index: 100;
}

div.context-menu-header
{
	padding: 4px 10px;
	font-weight: 600;
}
	
div.context-menu-row
{ 
    padding: 4px 10px; 
    overflow: hidden; 
    height: 14px; 
    white-space: nowrap;
    color: #000;
    font-family:Arial;
}

div.context-menu-row a
{ 
    color: #000;
    font-family: Arial;
    white-space: nowrap;
    text-decoration: none;
}

div.context-menu-row img
{ 
    border: none; 
}

div.context-menu-row-separator
{
	border-bottom: solid 1px #c6c6c6;
	height: 0px;
	font-size: 0px;
}

div.context-menu-caller
{ 
    cursor: pointer; 
}

img.tree-menu-caller
{ 
    cursor: pointer; 
}

div.context-menu-caller img
{ 
    border: none;
}