﻿div#settings{
	padding: 15px;
}
.panel{
	border: solid 1px #C6C6C6;
	padding: 0px 15px 15px 15px;
}
.caption{
	position: relative;
	top: -8px;
	padding: 0px 5px 0px 5px;
	background-color: #fff;
	color: #999999;
	font-size: 1.1em;
	font-weight: bold;
}
.content{
    height: 20px;
    padding-top: 5px;
}
.content a{
    color: #004CD5;
	text-decoration: none;
}
.content a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content input{
    height: 12px;
    margin-left: 5px;
    padding-left: 0px;
    width: 31%;
}
.header_element{
	height: 17px;
    width: 32%;
    padding-top: 3px;
	padding-left: 8px;
	font-weight: bold;
	background-color: #D2D2D2;
    float: left;
}
.element{
	height: 17px;
    width: 32%;
    padding-top: 3px;
	padding-left: 10px;
    float: left;
}

div#setting-buttons{
    float: right;
    padding-top: 5px;
    padding-bottom: 15px;
}