﻿/* < customer-search > */
div#user-search, div#user-edit, div#change-own-password
{
	padding: 33px 20px 10px 20px;
}

div#user-search-result
{
    padding: 0px 20px 5px 20px;
	float: left;
	width: 96%;
}

div#change-password  div.input-box-reset-password,
div#user-search div.input-box-date,
div#user-edit div.input-box-date,
div#user-edit div.input-box-reset-password
{
	float: left;
	margin-top: 5px;
	padding-right: 20px;
}
div#user-search div.input-box-date input[type="text"],
div#user-edit div.input-box-date input[type="text"]
{
	width: 100px;
}
div#change-password div.input-box-reset-password input[type="text"],
div#user-edit div.input-box-reset-password input[type="text"]
{
	width: 50px;
}

div#change-password div.input-box select,
div#user-search div.input-box select,
div#user-edit div.input-box select
{
	margin: 1px;
	width: 130px;
}
div#user-search div.buttons-container,
div#user-edit div.buttons-container
{
	float: right;
	padding: 0px 30px;
}
div#user-search div.buttons-container a,
div#user-edit div.buttons-container a
{
	padding: 15px 0px 0px 0px;
	float: right;
}
div#change-password div.input-box,
div#user-search div.input-box,
div#user-edit div.input-box
{
	padding-right: 20px;
	float: left;
}

div#change-password div.input-box input,
div#user-search div.input-box input[type="text"],
div#user-edit div.input-box input,
div#user-edit div.input-box select
{
	width: 200px;
}
 
div#user-edit div.input-box select
{
	margin: 1px;
}

div#user-edit div.user-edit-container
{
	padding-bottom: 40px;
}
div.user-roles-list-box
{
 width:250px;
 float:left;
}
div.user-roles-button
{
 width:50px;
 float:left;
 padding-top:50px; 
}
div.user-roles
{
	float:left;
}
/* user-search-errors */
div.user-search-errors{
	padding-top: 5px;
	font-weight: bold;
	clear: both;	
}
/* </ user-search > */

/* role */
div#role-search-result,
div#role-edit {
	padding: 10px 20px 10px 20px;
}